IMPORTATION_CONFIG
------ STRCTURE IDENTIFICATION ------
ID_TABLE_HEADING_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_TABLE_HEADING.config`
ID_SECOND_TABLE_HEADING_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_SECOND_TABLE_HEADING.config`
ID_LOGIC_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_LOGIC.config`
ID_LIST_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_LIST.config`
ID_LIST_HEADING_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_LIST_HEADING.config`
ID_QUESTION_TEXT_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_TEXT.config`
ID_QUESTION_ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_ID.config`
------ NEW LIST ------
ID_NEW_LIST_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_NEW.config`
------ SEGMENT IDENTIFICATION ------
ID_SEGMENT_LOGIC_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_SEGMENT_LOGIC.config`
ID_SEGMENT_INSERT_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_SEGMENT_INSERT.config`
ID_SEGMENT_TEXT_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_SEGMENT_TEXT.config`
ID_SEGMENT_ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_SEGMENT_ID.config`
------ PROCESS LOGIC ------
PROCESS_LOGIC_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/PROCESS_LOGIC.config`
------ LIST IDENTIFICATION ------
LIST_ID_CHOICE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_CHOICE.config`
LIST_ID_IDENFICATION_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_IDENTIFICATION.config`
------ CLEAN UP ------
PROCESS_CLEANUP_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/PROCESS_CLEANUP.config`
------ FORMATTING ------
STRIP_LEADING_ZERO
QID_START:Q
QTEXT_NEW_LINE:<br/>
QTEXT_BLANK_LINE:<br/><br/>
ADDITIONAL_CLEANUP:[
	{SEARCH:`\<\<t\>\>`~ REPLACE:`\t`}~
	{SEARCH:`\<\<`~ REPLACE:`[`}~
	{SEARCH:`\>\>`~ REPLACE:`]`}~
	{SEARCH:`-\s+-`~ REPLACE:`-`}~
	{SEARCH:`e\. g\.`~ REPLACE:`e.g.`}~		
	{SEARCH:`i\. e\.`~ REPLACE:`i.e.`}~		
	{SEARCH:`\[`~REPLACE:`&amp;#91;`}~
	{SEARCH:`\]`~REPLACE:`&amp;#93;`}
	
]
BOLD_START:<strong>
BOLD_END:</strong>
ITALIC_START:<em>
ITALIC_END:</em>
UNDERLINE_START:<u>
UNDERLINE_END:</u>
REMVOE_LEADING_ID
------ VALUES ------
INC_VALUES:{
	TERMID:21~
	QUALID:71
}

------ SCALE FORMATTING ------
SCALE_FORMATTING:{
	LIST:[
		{LIST_CONTAINS:`\d+`~ CONDITION:`.*[A-Z].*`~ ADD_LEADING:`{ID} - `~ EXCEPTIONS:[{TYPE:CODE~VALUE:997}~{TYPE:CODE~VALUE:998}~{TYPE:CODE~VALUE:998}]}
	]~
	GRID:[
		{CONDITION:`\d+`~ ADD_LEADING:`<BR><BR>`}~
		{LIST_CONTAINS:`(<BR><BR>)?\d+`~ CONDITION:`.*[A-Z][A-Z][A-Z].*`~ ADD_TRAILING:`<BR>{ID}`~ EXCEPTIONS:[{TYPE:CODE~VALUE:997}~{TYPE:CODE~VALUE:998}~{TYPE:CODE~VALUE:998}]}
	]
}

------ LIST IDENTIFIERS -----
------ CHOICE CODES ------
CHOICE_ID:9
CHOICE_HEADING_START:770
------ STATEMENT CODES -----
STATEMENT_ID:9
STATEMENT_HEADING_START:HA

------ QUESTION TYPES ------
QUESTION_TYPES:[
	 {ID:DESCRIPTIVE~         	       ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_DESCRIPTIVE.config`~        			TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_DESCRIPTIVE.config`}~
	 {ID:SINGLE_SELECT~                ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_SINGLE_SELECT.config`~        		TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_SINGLE_SELECT.config`}~
	 {ID:MULTI_SELECT~                 ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_MULTI_SELECT.config`~         		TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_MULTI_SELECT.config`}~
	 {ID:SINGLE_SELECT_GRID~           ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_SINGLE_SELECT_GRID.config`~   		TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_SINGLE_SELECT_GRID.config`}~
	 {ID:MULTI_SELECT_GRID~            ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_MULTI_SELECT_GRID.config`~    		TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_MULTI_SELECT_GRID.config`}~
	 {ID:DROPDOWN~                     ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_DROPDOWN.config`~        	            TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_DROPDOWN.config`}~
 	 {ID:SINGLE_SELECT_BUTTON~         ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_SINGLE_SELECT_BUTTON.config`~        	TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_SINGLE_SELECT_BUTTON.config`}~
	 {ID:MULTI_SELECT_BUTTON~          ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_MULTI_SELECT_BUTTON.config`~         	TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_MULTI_SELECT_BUTTON.config`}~
	 {ID:SINGLE_SELECT_GRID_BUTTON~    ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_SINGLE_SELECT_GRID_BUTTON.config`~   	TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_SINGLE_SELECT_GRID_BUTTON.config`}~
	 {ID:MULTI_SELECT_GRID_BUTTON~     ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_MULTI_SELECT_GRID_BUTTON.config`~    	TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_MULTI_SELECT_GRID_BUTTON.config`}~ 	 
	 {ID:AUTOSUM~                      ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_AUTOSUM.config`~    			        TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_AUTOSUM.config`}~ 
	 {ID:BUTTON_RATING~                ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_BUTTON_RATING.config`~    		    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_BUTTON_RATING.config`}~ 
	 {ID:CARD_RATING~                  ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_CARD_RATING.config`~    		        TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_CARD_RATING.config`}~ 
	 {ID:CARD_SORT_MULTI~              ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_CARD_SORT_MULTI_SELECT.config`~       TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_CARD_SORT_MULTI_SELECT.config`}~ 
	 {ID:CARD_SORT_SELEC~              ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_CARD_SORT_SELECT.config`~ 		    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_CARD_SORT.config`}~ 
	 {ID:DATE_PICKER~                  ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_DATE_PICKER.config`~    		        TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_DATE_PICKER.config`}~ 
 	 {ID:DATE_PICKER_GRI~              ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_DATE_PICKER_GRID.config`~ 		    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_DATE_PICKER_GRID.config`}~ 	 
	 {ID:ESSAY~                        ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_ESSAY.config`~    				    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_ESSAY_DAVE.config`}~ 
	 {ID:ESSAY_GRID~                   ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_ESSAY_GRID.config`~    			    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_ESSAY_GRID.config`}~ 
	 {ID:NUMBER~                       ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_NUMBER.config`~    				    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_NUMBER.config`}~ 
	 {ID:NUMBER_GRID~                  ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_NUMBER_GRID.config`~    		        TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_NUMBER_GRID.config`}~ 
	 {ID:RANK_SORT~                    ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_RANK_SORT.config`~    			    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_RANK_SORT.config`}~ 
	 {ID:RATING_SCALE~                 ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_RATING_SCALE.config`~    		        TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_RATING_SCALE.config`}~ 
	 {ID:SLIDER~                       ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_SLIDER.config`~    				    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_SLIDER.config`}~ 
	 {ID:SLIDER_DECIMAL~               ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_SLIDER_DECIMAL.config`~   		    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_SLIDER_DECIMAL.config`}~ 
	 {ID:SLIDER_RATING~                ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_SLIDER_RATING.config`~    		    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_SLIDER_RATING.config`}~ 
	 {ID:STAR_RATING~                  ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_STAR_RATING.config`~    		        TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_STAR_RATING.config`}~ 	 	 
	 {ID:CAROUSEL~                     ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_CAROUSEL.config`~    		            TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_CAROUSEL.config`}~ 
	 {ID:COMPUTED_SINGLE_MENTION~      ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_SINGLE_SELECT_COMPUTED.config`~    	TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_SINGLE_SELECT_COMPUTED.config`}~ 
	 {ID:COMPUTED_MULTI_MENTION~       ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_MULTI_SELECT_COMPUTED.config`~    	TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_MULTI_SELECT_COMPUTED.config`}~ 				 	 
	 {ID:TEXT~     	                   ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_TEXT.config`~    				        TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_TEXT.config`}~ 
	 {ID:TEXT_GRID~                    ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_TEXT_GRID.config`~    			    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_TEXT_GRID.config`}~
	 {ID:GRID_MOB_CAROUSEL~            ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_GRID_MOB_CAROUSEL.config`~    		TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_GRID_MOB_CAROUSEL.config`}~      
	 {ID:DARTBOARD~                    ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_DARTBOARD.config`~    			    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_DARTBOARD.config`}~
	 {ID:MAGNET_SLIDER~                ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_MAGNET_SLIDER.config`~    			TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_MAGNET_SLIDER.config`}~
	 {ID:MULTI_SLIDER~                 ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_MULTI_SLIDER.config`~    			    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_MULTI_SLIDER.config`}~    
	 {ID:THUMB_SLIDER~                 ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_THUMB_SLIDER.config`~    			    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_THUMB_SLIDER.config`}~      
	 {ID:VENN_SLIDER~                  ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/ID_DEC_QTYPE_VENN_SLIDER.config`~    			    TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_VENN_SLIDER.config`} 
]

------ QUESTION TYPES ------
START_TEXT:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_DEFAULT_START.config`
END_TEXT:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_DEFAULT_END.config`

------ LIST TYPING ------
LIST_TYPE:[
	{ID:SCALE~
	 CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_SCALE.config`
	 STATE:IN_SCALE
	}~
	{ID:SEQUENCE~
	 CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_SEQUENCE.config`
	 STATE:IN_SEQUENCE
	}
]
------ PROCESS STATES ------
PROCESS_STATES:[
	{ID:LOGIC_Q_TEXT		~WORDS:[Q_TEXT]      ~STATE:Q_TEXT     }~
	{ID:LOGIC_Q_LOGIC		~WORDS:[Q_LOGIC]     ~STATE:Q_LOGIC    }~
	{ID:LOGIC_Q_STATEMENT	~WORDS:[Q_STATEMENT] ~STATE:Q_STATEMENT}~
	{ID:LOGIC_Q_CHOICE 		~WORDS:[Q_CHOICE]    ~STATE:Q_CHOICE   }~
	{ID:LOGIC_Q_GRID 		~WORDS:[Q_GRID]      ~STATE:Q_GRID     }
]


------ ADDED TEXT ------
LOGIC:[
	{ID:LOGIC_MULTI~
		LOGIC_QUESTION~
		QUESTION_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_MULTI.config`~
		QUESTION_VALUE:{MULTI:1}
	}~
	{ID:LOGIC_RANDOMIZE~
		LOGIC_QUESTION~
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_RANDOMIZE.config`~
		QUESTION_VALUE:{RANDOMIZE:1}~
		LINE_VALUE:{RANDOMIZE:1}~
		LIST_VALUE:{RANDOMIZE:1}~
		NEXT_LINE_VALUE:{RANDOMIZE:1}~
		NEXT_LIST_VALUE:{RANDOMIZE:1}~		
		LIST_REMOVE_ON:[IN_SCALE~IN_SEQUENCE]		
	}~	
	{ID:LOGIC_QUESTION_SPLIT~	
		LOGIC_QUESTION~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_SPLIT.config`~
		LINE_VALUE:{IN_SPLIT_LOGIC:1}~
		NEXT_LINE_VALUE:{IN_SPLIT_LOGIC:1}
	}~
	{ID:LOGIC_INSTRUCTION~
		QUESTION_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_INSTRUCTION.config`~
		LINE_VALUE:{IN_INSTRUCTION:1}~
		NEXT_LINE_VALUE:{IN_INSTRUCTION:1}~
	}~
	{ID:LOGIC_TEXT_INSERT~
		LOGIC_QUESTION~
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_TEXT_INSERT.config`~
		LINE_INLINE_TEXT:`<<INSERT: _TEXT_ >>`
	}~
	{ID:LOGIC_COL_HEADING~
		LOGIC_QUESTION~
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_COLUMNS.config`~
		LINE_VALUE:{COL_HEADING:1}~
		NEXT_LINE_VALUE:{COL_HEADING:1}~
		NEXT_LIST_VALUE:{COL_HEADING:1}	
	}~
	{ID:LOGIC_ROW_HEADING~	
		LOGIC_QUESTION~	
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_ROWS.config`~
		LINE_VALUE:{ROW_HEADING:1}~
		NEXT_LINE_VALUE:{ROW_HEADING:1}~
		NEXT_LIST_VALUE:{ROW_HEADING:1}	
	}~
	{ID:LOGIC_QUESTION_SKIP~	
		LOGIC_QUESTION~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_SKIP.config`~
		STRIP_TEXT_TAGS~
		QUESTION_VALUE:{SKIP_LOGIC:1~SKIP_LOGIC_TEXT:_TEXT_}
	}~	
	{ID:LOGIC_QUESTION_OPEN_END~	
		LOGIC_QUESTION~		
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_OPEN_END.config`~
		QUESTION_VALUE:{OPEN_END:1~OPEN_END:1}
	}~
	{ID:LOGIC_ADDED_TERM~	
		QUESTION_TEXT~
		LOGIC_QUESTION~
		LOGIC_LIST~
		LIST_TEXT~		
		QUESTION_UNIQUE~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_TERMINATE.config`~	POST_QUESTION_ADD:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/DECIPHER/TEMPLATE_DECIPHER_TERMINATE.config`~	
		STRIP_TEXT_TAGS~
		QUESTION_VALUE:{TERM_TEXT:_TEXT_~TERM_ID:TERMID}~		
		INC_VALUES:[TERMID]
	}~
	{ID:LOGIC_OTHER~ 		
		LOGIC_LIST~
		LIST_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_OTHER.config`~
		LIST_ITEM_ID:888~
		QUESTION_VALUE:{OTHER_SPECIFY:1}~
		LIST_VALUE:{OTHER_SPECIFY:1}~
		LINE_VALUE:{OTHER_SPECIFY_OPT:1~OTHER_SPECIFY:1~OTHER:1}~
		NEXT_LINE_VALUE:{PREV_OTHER:1}
	}~	
	{ID:LOGIC_NONE~ 		
		LOGIC_LIST~	
		LIST_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_NONE.config`~
		LIST_ITEM_ID:997~
		LIST_VALUE:{EXCLUSIVE:1}~
		LINE_VALUE:{EXCLUSIVE_OPT:1~NONE:1~EXCLUSIVE:1~SPECIAL:1}~
		NEXT_LINE_VALUE:{PREV_EXCLUSIVE:1}
	}~	
	{ID:LOGIC_DONT_KNOW~ 	
		LOGIC_LIST~	
		LIST_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_DONT_KNOW.config`~
		LIST_ITEM_ID:998~
		LIST_VALUE:{EXCLUSIVE:1}~
		LINE_VALUE:{EXCLUSIVE_OPT:1~DONT_KNOW:1~EXCLUSIVE:1~SPECIAL:1}~
		NEXT_LINE_VALUE:{PREV_EXCLUSIVE:1}
	}~	
	{ID:LOGIC_REFUSED~ 		
		LOGIC_LIST~	
		LIST_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_REFUSED.config`~
		LIST_ITEM_ID:999~
		LIST_VALUE:{EXCLUSIVE:1}~
		LINE_VALUE:{EXCLUSIVE_OPT:1~REFUSED:1~EXCLUSIVE:1~SPECIAL:1}~
		NEXT_LINE_VALUE:{PREV_EXCLUSIVE:1}
	}~		
	{ID:LOGIC_LIST_SKIP_LOGIC~ 		
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_LIST_SKIP_LOGIC.config`~
		STRIP_TEXT_TAGS~
		LINE_VALUE:{LIST_SKIP_LOGIC:_TEXT_}
	}~	
	{ID:LOGIC_OPTIONAL~ 		
		LOGIC_QUESTION~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_OPTIONAL.config`~
		QUESTION_VALUE:{OPTIONAL:1}
	}~
	{ID:ID_QTYPE_DESCRIPTIVE                  ~LOGIC_QUESTION ~WORDS:[QTYPE_DESCRIPTIVE]                  ~QUESTION_VALUE:{QTYPE_DESCRIPTIVE:1}                   ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_SINGLE_SELECT                ~LOGIC_QUESTION ~WORDS:[QTYPE_SINGLE_SELECT]                ~QUESTION_VALUE:{QTYPE_SINGLE_SELECT:1}                 ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_MULTI_SELECT                 ~LOGIC_QUESTION ~WORDS:[QTYPE_MULTI_SELECT]                 ~QUESTION_VALUE:{QTYPE_MULTI_SELECT:1}                  ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_SINGLE_SELECT_GRID           ~LOGIC_QUESTION ~WORDS:[QTYPE_SINGLE_SELECT_GRID]           ~QUESTION_VALUE:{QTYPE_SINGLE_SELECT_GRID:1}            ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_MULTI_SELECT_GRID            ~LOGIC_QUESTION ~WORDS:[QTYPE_MULTI_SELECT_GRID]            ~QUESTION_VALUE:{QTYPE_MULTI_SELECT_GRID:1}             ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_DROPDOWN                     ~LOGIC_QUESTION ~WORDS:[QTYPE_DROPDOWN]                     ~QUESTION_VALUE:{QTYPE_DROPDOWN:1}                      ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_SINGLE_SELECT_BUTTON         ~LOGIC_QUESTION ~WORDS:[QTYPE_SINGLE_SELECT_BUTTON]         ~QUESTION_VALUE:{QTYPE_SINGLE_SELECT_BUTTON:1}          ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_MULTI_SELECT_BUTTON          ~LOGIC_QUESTION ~WORDS:[QTYPE_MULTI_SELECT_BUTTON]          ~QUESTION_VALUE:{QTYPE_MULTI_SELECT_BUTTON:1}           ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_SINGLE_SELECT_GRID_BUTTON    ~LOGIC_QUESTION ~WORDS:[QTYPE_SINGLE_SELECT_GRID_BUTTON]    ~QUESTION_VALUE:{QTYPE_SINGLE_SELECT_GRID_BUTTON:1}     ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_MULTI_SELECT_GRID_BUTTON     ~LOGIC_QUESTION ~WORDS:[QTYPE_MULTI_SELECT_GRID_BUTTON]     ~QUESTION_VALUE:{QTYPE_MULTI_SELECT_GRID_BUTTON:1}      ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_AUTOSUM                      ~LOGIC_QUESTION ~WORDS:[QTYPE_AUTOSUM]                      ~QUESTION_VALUE:{QTYPE_AUTOSUM:1}                       ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_BUTTON_RATING                ~LOGIC_QUESTION ~WORDS:[QTYPE_BUTTON_RATING]                ~QUESTION_VALUE:{QTYPE_BUTTON_RATING:1}                 ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_CARD_RATING                  ~LOGIC_QUESTION ~WORDS:[QTYPE_CARD_RATING]                  ~QUESTION_VALUE:{QTYPE_CARD_RATING:1}                   ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_CARD_SORT_SELECT             ~LOGIC_QUESTION ~WORDS:[QTYPE_CARD_SORT_SELECT]             ~QUESTION_VALUE:{QTYPE_CARD_SORT_SELECT:1}              ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_CARD_SORT_MULTI              ~LOGIC_QUESTION ~WORDS:[QTYPE_CARD_SORT_MULTI]              ~QUESTION_VALUE:{QTYPE_CARD_SORT_MULTI:1}               ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_DATE_PICKER                  ~LOGIC_QUESTION ~WORDS:[QTYPE_DATE_PICKER]                  ~QUESTION_VALUE:{QTYPE_DATE_PICKER:1}                   ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_DATE_PICKER_GRID             ~LOGIC_QUESTION ~WORDS:[QTYPE_DATE_PICKER_GRID]             ~QUESTION_VALUE:{QTYPE_DATE_PICKER_GRID:1}              ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_ESSAY                        ~LOGIC_QUESTION ~WORDS:[QTYPE_ESSAY]                        ~QUESTION_VALUE:{QTYPE_ESSAY:1}                         ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_ESSAY_GRID                   ~LOGIC_QUESTION ~WORDS:[QTYPE_ESSAY_GRID]                   ~QUESTION_VALUE:{QTYPE_ESSAY_GRID:1}                    ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_NUMBER                       ~LOGIC_QUESTION ~WORDS:[QTYPE_NUMBER]                       ~QUESTION_VALUE:{QTYPE_NUMBER:1}                        ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_NUMBER_GRID                  ~LOGIC_QUESTION ~WORDS:[QTYPE_NUMBER_GRID]                  ~QUESTION_VALUE:{QTYPE_NUMBER_GRID:1}                   ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_RANK_SORT                    ~LOGIC_QUESTION ~WORDS:[QTYPE_RANK_SORT]                    ~QUESTION_VALUE:{QTYPE_RANK_SORT:1}                     ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_RATING_SCALE                 ~LOGIC_QUESTION ~WORDS:[QTYPE_RATING_SCALE]                 ~QUESTION_VALUE:{QTYPE_RATING_SCALE:1}                  ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_SLIDER                       ~LOGIC_QUESTION ~WORDS:[QTYPE_SLIDER]                       ~QUESTION_VALUE:{QTYPE_SLIDER:1}                        ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_SLIDER_DECIMAL               ~LOGIC_QUESTION ~WORDS:[QTYPE_SLIDER_DECIMAL]               ~QUESTION_VALUE:{QTYPE_SLIDER_DECIMAL:1}                ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_SLIDER_RATING                ~LOGIC_QUESTION ~WORDS:[QTYPE_SLIDER_RATING]                ~QUESTION_VALUE:{QTYPE_SLIDER_RATING:1}                 ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_STAR_RATING                  ~LOGIC_QUESTION ~WORDS:[QTYPE_STAR_RATING]                  ~QUESTION_VALUE:{QTYPE_STAR_RATING:1}                   ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_TEXT                         ~LOGIC_QUESTION ~WORDS:[QTYPE_TEXT]                         ~QUESTION_VALUE:{QTYPE_TEXT:1}                          ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_TEXT_GRID                    ~LOGIC_QUESTION ~WORDS:[QTYPE_TEXT_GRID]                    ~QUESTION_VALUE:{QTYPE_TEXT_GRID:1}                     ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_COMPUTED_SINGLE_MENTION      ~LOGIC_QUESTION ~WORDS:[QTYPE_COMPUTED_SINGLE_MENTION]      ~QUESTION_VALUE:{QTYPE_COMPUTED_SINGLE_MENTION:1}       ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_COMPUTED_MULTI_MENTION       ~LOGIC_QUESTION ~WORDS:[QTYPE_COMPUTED_MULTI_MENTION]       ~QUESTION_VALUE:{QTYPE_COMPUTED_MULTI_MENTION:1}        ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_CAROUSEL                     ~LOGIC_QUESTION ~WORDS:[QTYPE_CAROUSEL]                     ~QUESTION_VALUE:{QTYPE_CAROUSEL:1}                      ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_GRID_MOB_CAROUSEL            ~LOGIC_QUESTION ~WORDS:[QTYPE_GRID_MOB_CAROUSEL]            ~QUESTION_VALUE:{QTYPE_GRID_MOB_CAROUSEL:1}             ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_DARTBOARD                    ~LOGIC_QUESTION ~WORDS:[QTYPE_DARTBOARD]                    ~QUESTION_VALUE:{QTYPE_DARTBOARD:1}                     ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_MAGNET_SLIDER                ~LOGIC_QUESTION ~WORDS:[QTYPE_MAGNET_SLIDER]                ~QUESTION_VALUE:{QTYPE_MAGNET_SLIDER:1}                 ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_MULTI_SLIDER                 ~LOGIC_QUESTION ~WORDS:[QTYPE_MULTI_SLIDER]                 ~QUESTION_VALUE:{QTYPE_MULTI_SLIDER:1}                  ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_THUMB_SLIDER                 ~LOGIC_QUESTION ~WORDS:[QTYPE_THUMB_SLIDER]                 ~QUESTION_VALUE:{QTYPE_THUMB_SLIDER:1}                  ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_VENN_SLIDER                  ~LOGIC_QUESTION ~WORDS:[QTYPE_VENN_SLIDER]                  ~QUESTION_VALUE:{QTYPE_VENN_SLIDER:1}                   ~QUESTION_TYPE ~DELETE}~	
	{ID:ID_QTYPE_CARD_SORT_MULTI_SELECT       ~LOGIC_QUESTION ~WORDS:[ID_QTYPE_CARD_SORT_MULTI_SELECT]    ~QUESTION_VALUE:{QTYPE_CARD_SORT_MULTI_SELECT:1}        ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_CARD_SORT                    ~LOGIC_QUESTION ~WORDS:[QTYPE_CARD_SORT]                    ~QUESTION_VALUE:{QTYPE_CARD_SORT:1}                     ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_MULT_SLIDER                  ~LOGIC_QUESTION ~WORDS:[QTYPE_MULT_SLIDER]                  ~QUESTION_VALUE:{QTYPE_MULT_SLIDER:1}                   ~QUESTION_TYPE ~DELETE}
]










                                                                 
 






















