CONFIG_ID:LOGIC_DONT_KNOW
DEFAULT:0
THRESHOLD:50
------------- REQUIREMENTS ------------

------------------ KEYWORDS ------------------
KEYWORDS:{
	DONT KNOW:70~
	DON ' T KNOW:70~
	I DON ' T KNOW:70~
	CAN ' T REMEMBER:70~
	DK:50~
	DO NOT:25~
	DO NOT ROTATE:-10~
	DO NOT RECALL:70~
	NOT SURE:50~
	AGREE:-15~
	READ:-10~
	UNSURE:25
}

KEYWORDS_START:{
	DONT KNOW:1~
	DON ' T KNOW:1
}
KEYWORDS_TEXT:{
	DONT KNOW:1~
	DON ' T KNOW:1
}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	

	{CHECK:TEXT_KEYWORD_COUNT==0~			 WEIGHT:-55}~
	{CHECK:BLOCK_CURRENT_LINE == BLOCK_LENGTH~ WEIGHT:30}~
	{CHECK:BLOCK_CURRENT_LINE == (BLOCK_LENGTH-1)~ WEIGHT:20}~
	{CHECK:TEXT_ALL_KEYWORDS_POSITIVE~		 WEIGHT:89}	
]

