CONFIG_ID:LOGIC_SPLIT
DEFAULT:0
THRESHOLD:50
------------- REQUIREMENTS ------------

------------------ KEYWORDS ------------------
KEYWORDS:{
	SPLIT SAMPLE:51~
	ASK HALF:15
}
KEYWORDS_START:{}
KEYWORDS_TEXT:{}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	
	{CHECK:TEXT_KEYWORD_COUNT==0~			WEIGHT:-55}
	
]