CONFIG_ID:LOGIC_THERM_QUESTION
DEFAULT:0
THRESHOLD:50

------------------ KEYWORDS ------------------
KEYWORDS:{
	THERM:51~
	THERM2:51~	
	THERM2A:51~	
	THERM3:51~
	THERM4:51~
	THERM5:51~
	THERM6:51
}

KEYWORDS_START:{
}
KEYWORDS_TEXT:{
}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[
]