CONFIG_ID:LOGIC_SKIP
DEFAULT:0
THRESHOLD:50
------------- REQUIREMENTS ------------

------------------ KEYWORDS ------------------
KEYWORDS:{
	ASK ALL:-20~
	ASK IF:30~
	ASK:30~ 
	SKIP:70		
}

KEYWORDS_START:{
	`PN: ASK`:35~	
	ASK:35~
	IF:25~
	SKIP:1
}
KEYWORDS_TEXT:{	
	SKIP:1
}
KEYWORDS_END:{
	ASK:25~
	ALL:-25
}
------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	
	{CHECK:TEXT_KEYWORD_COUNT==0~			WEIGHT:-55}
	
]