CONFIG_ID:ID_NEW_LIST
------------------ THRESHOLD VALUE ------------------
THRESHOLD:50

KEYWORDS:{
	`\d`:-1~
	DON ' T KNOW:-50~
	EXCLUSIVE:-50~
	NOT SURE:-50~
	UNSURE:-50~
	OTHER:-25~	
	PLEASE SPECIFY:-25~
	SPECIFY:-15~	
	RATHER NOT SAY:-50~
	REFUSED:-50~
	SOMEONE ELSE:-25~
    NOT APPLICABLE:-25~
	UNFAMILIAR:-25~
	UNSURE:-25~
	UNAWARE:-25~
	HOLD:-1
	
}
KEYWORDS_START:{
	997:-25~
	998:-25~
	888:-25~
	999:-25~  
	`1[0-9]`:-22	
	1:20~
	`[2-9]`:-5~	
	A:10~
	SCALE:10~
	STATEMENTS:30
}	
KEYWORDS_END:{
	`\s[b-zB-Z]`:-5~
	1: 25
}	
------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[
	{CHECK:IN_TABLE_HEADING~																							 	WEIGHT:70}~	
	{CHECK:IN_LIST_HEADING~																								 	WEIGHT:-40}~
	{CHECK:IN_TEXT OR IN_LOGIC OR IN_POST_TABLE~																		 	WEIGHT:30}~
	{CHECK:IN_BLANK_LINE~						 																		 	WEIGHT:21}~			
	{CHECK:DEFINED_LIST_HEADING~				 																		 	WEIGHT:-10}~			
	{CHECK:ROW_HEADING~						 																			 	WEIGHT:80}~	
	{CHECK:COL_HEADING~						 																			 	WEIGHT:80}~	
	{CHECK:RANDOMIZE~						 																			 	WEIGHT:40}~	
	{CHECK:SPECIAL~						 																			 	WEIGHT:-15}~	
	{CHECK:IN_SPLIT_LOGIC~						 																			WEIGHT:-40}~	
	{CHECK:QUESTION_NUM_LISTS>1~																						 	WEIGHT:-200}~
	{CHECK:LINE_ID_TYPE != PREV_ID_TYPE AND NOT(IS_TABLE_HEADING) AND NOT(IS_LIST_HEADING) AND NOT(BLOCK_CURRENT_LINE==1) AND IN_LIST~ 	WEIGHT:62}~	
	{CHECK:ISNUM(TEXT_PREV_ID) AND ISNUM(TEXT_ID) AND TEXT_PREV_ID>TEXT_ID~													WEIGHT:20}~	
	{CHECK:ISNUM(TEXT_PREV_ID) AND ISNUM(TEXT_ID) AND TEXT_ID>TEXT_PREV_ID+10~												WEIGHT:10}~		
	{CHECK:ISNUM(TEXT_PREV_ID) AND ISNUM(TEXT_ID) AND TEXT_PREV_ID==TEXT_ID+1~												WEIGHT:-30}~	
	{CHECK:ISNUM(TEXT_PREV_ID) AND ISNUM(TEXT_ID) AND TEXT_PREV_ID==TEXT_ID-1~												WEIGHT:-30}~	
	{CHECK:ISNUM(TEXT_PREV_ID) AND NOT(ISNUM(TEXT_ID))~																		WEIGHT:25}~	
	{CHECK:ISNUM(TEXT_ID) AND NOT(ISNUM(TEXT_PREV_ID))~																		WEIGHT:25}~	
	{CHECK:LIST_DEF_CURRENT_LINE == 1~																						WEIGHT:15}~	
	{CHECK:CHECK_LIST_ID(TEXT_ID)~																							WEIGHT:35}~		
	{CHECK:LIST_LENGTH < 2~																									WEIGHT:-55}~		
	{CHECK:IN_LIST_DEF AND LIST_DEF_LENGTH < 2~																				WEIGHT:-9}~		
	{CHECK:BLOCK_CURRENT_LINE>1~																							WEIGHT:-13}~	
	{CHECK:LIST_DEF_ID_CURR != LIST_DEF_ID_PREV~																			WEIGHT:36}~	
	{CHECK:(PREV_EXCLUSIVE OR PREV_OTHER) AND NOT(EXCLUSIVE OR OTHER_SPECIFY)~												WEIGHT:31}~
	{CHECK:LIST_DEF_BREAK_COUNT>1~																							WEIGHT:-5}~
	{CHECK:LIST_DEF_BREAK_COUNT>1 AND IN_BLANK_LINE AND LIST_DEF_ID != 0~													WEIGHT:-35}~
	{CHECK:QUESTION_CURRENT_LINE==QUESTION_LENGTH~ 		                                									WEIGHT:-45}~	
	{CHECK:TEXT_ALL_KEYWORDS_NEGATIVE~																						WEIGHT:-35}
]
