CONFIG_ID:LOGIC_ROWS
DEFAULT:0
THRESHOLD:50
------------- REQUIREMENTS ------------

------------------ KEYWORDS ------------------
KEYWORDS:{
	ROW:70
	ROWS:70~
	RESPONSE:70~
	GRID DOWN:70~
	BRAND LIST:25
}

KEYWORDS_START:{
	ROW:1
}
KEYWORDS_TEXT:{
	ROW:1
}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	
	{CHECK:TEXT_KEYWORD_COUNT==0~			WEIGHT:-55}~
	{CHECK:TEXT_ALL_KEYWORDS_POSITIVE~		WEIGHT:51}
]