CONFIG_ID:LOGIC_MULTI
DEFAULT:0
THRESHOLD:50
------------- REQUIREMENTS ------------

------------------ KEYWORDS ------------------
KEYWORDS:{
	SELECT ALL THAT APPLY:70~
	MULTIPLE:40~
	CHECK ALL THAT APPLY:70~
	CHECK ALL:40~
	MENTIONS:20~
	MENTIONED:20~
	MULTIPLE RESPONSES:55~
	MULTI SELECT:55~
	MULTI - SELECT:55~
	SELECT ALL:55
}

KEYWORDS_START:{
}
KEYWORDS_TEXT:{
}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	
	{CHECK:TEXT_KEYWORD_COUNT==0~			WEIGHT:-55}
	
]