CONFIG_ID:LOGIC_COLUMNS
DEFAULT:0
THRESHOLD:50
------------- REQUIREMENTS ------------

------------------ KEYWORDS ------------------
KEYWORDS:{
	COLUMNS:70~
	COLUMN:70~
	GRID ACROSS:70~
	RESPONSE OPTIONS:55~
}

KEYWORDS_START:{
	COLUMN:1
}
KEYWORDS_TEXT:{
	COLUMN:1
}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	
	{CHECK:TEXT_KEYWORD_COUNT==0~			WEIGHT:-55}
	
]