CONFIG_ID:LOGIC_OTHER
DEFAULT:0
THRESHOLD:50
------------- REQUIREMENTS ------------
REQUIREMENTS:[1]

------------------ KEYWORDS ------------------
KEYWORDS:{
	THERM:50~
	THERM2:50~	
	THERM2A:50~	
	THERM3:50~
	THERM4:50~
	THERM5:50~
	THERM6:50
}

KEYWORDS_START:{
}
KEYWORDS_TEXT:{
}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	
]