CONFIG_ID:LIST_ID_SEQUENCE
------------------ THRESHOLD VALUE ------------------
THRESHOLD:50
------------------ KEYWORDS ------------------
KEYWORDS:{...
	/\d/:4~
	AGE:10
}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[...		
	{CHECK:RANDOMIZE~												WEIGHT:-20}~		
	{CHECK:IN_TABLE_HEADING~										WEIGHT:20}~		
	{CHECK:TEXT_ALL_KEYWORDS_POSITIVE~								WEIGHT:33}~	
	{CHECK:LIST_LENGTH > 15~							            WEIGHT:-25}~
	{CHECK:TEXT_NUMERIC~											WEIGHT:10}		
	
]

