CONFIG_ID:LOGIC_INSTRUCTION
DEFAULT:0
THRESHOLD:50
------------- REQUIREMENTS ------------

------------------ KEYWORDS ------------------
KEYWORDS:{
	ALL THAT APPLY:33~
	CHECK:22~
	PLEASE:22~
	SELECT:22~
	ONLY ONE:22
}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	
]