CONFIG_ID:LOGIC_TERMINATE
DEFAULT:0
THRESHOLD:50
------------- REQUIREMENTS ------------

------------------ KEYWORDS ------------------
KEYWORDS:{
	TERMINATE:70~
	TERM:70~
	END:50
}

KEYWORDS_START:{
	TERMINATE:1
}
KEYWORDS_TEXT:{
	TERMINATE:1
}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	
	{CHECK:TEXT_KEYWORD_COUNT==0~			WEIGHT:-55}
	
]