CONFIG_ID:LIST_ID_CHOICE
------------------ DEFAULT VALUE ------------------
DEFAULT:10
------------------ KEYWORDS ------------------
KEYWORDS:{
    A GREAT DEAL:15~
	AGREE:10~
	ALWAYS:10~
	ANCHOR:30~
	DEFINITELY:20~
	DISAGREE:10~
	DON ' T KNOW:50~
	EFFECT:10~	
	EXPERTISE:10~
	EXCELLENT:10~
	EXTREMELY WELL:10~		
	EXTREMELY:10~			
	FEMALE:10~	
	FAVOURABLE:10~
	FREQUENTLY:10~
	GREAT:5~
	IMPROVES:10~	
	IMPORTANT:10~	
	LITTLE:10~
	LESS:10~
	LESS THAN:10~
	MALE:10~
	MORE:10~
	MORE THAN:10~
	NEITHER:10~
	NEVER:25~
	NO:10~
	NOR:5~
	NOT:2~
	NOT AT ALL:10~
	OFTEN:5~
	ONCE:5~
	OPINION:10~
	OTHER:10~	
	QUOTA:30~
	RARELY:10~
	RECOMMEND:10~	
	SATISFIED:10~
	SIGNIFICANT:5~
	SOMETIMES:10~	
	SOMEWHAT:10~	
	SOMEWHAT WELL:10~	
	SOMER:5~
	SPECIFY:10~	
	STRONGLY:15~
	TERMINATE:5~
	TERRIBLE:10~
	VERY WELL:15~
	VERY:10~	
	UNSURE:50~
	UNFAVOURABLE:10~
	YES:10	
}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	
    {CHECK:LIST_LENGTH>15~							WEIGHT:-30}~		
	{CHECK:LIST_LENGTH<5~							WEIGHT:-10}~		
	{CHECK:EXCLUSIVE~								WEIGHT:30}~		
	{CHECK:OTHER_SPECIFY~							WEIGHT:30}~			
	{CHECK:DEFINED_LIST_HEADING~					WEIGHT:-10}~				
	{CHECK:RANDOMIZE~								WEIGHT:-5}~	              	
	{CHECK:ROW_HEADING~								WEIGHT:-10}~	            	
	{CHECK:COL_HEADING~								WEIGHT:10}~	            	
	{CHECK:IN_TABLE_HEADING~						WEIGHT:60}~					
	{CHECK:IN_SCALE~								WEIGHT:80}~	
	{CHECK:NON_CONSECUTIVE_CODES~					WEIGHT:-5}			
]