THRESHHOLD:30
IDENTIFICATION:[
	{ 
	NAME:LEADING_LETTER~
	POSITION:LEADING~
	LOOKUP:`^[A-Za-z][A-Za-z]?`~
	BASE_WEIGHT:10~
	DUPLICATE:-25~
	NON_CONSECUTIVE:-8~
	LONGEST_PATTERN_LENGTH:2.5~
	PER_MATCH:5~
	PER_MISS:-2~
	FOLLOWING_TEXT:{
		`\.`:15~
		`[A-Z]`:-50~
		'IT\S+':-80	
		}
	}~	
	{
	NAME:TRAILING_LETTER~
	POSITION:TRAILING~
	LOOKUP:`[A-Za-z][A-Za-z]?$`~
	BASE_WEIGHT:0~
	DUPLICATE:-25~
	NON_CONSECUTIVE:-5~
	LONGEST_PATTERN_LENGTH:2.5~	  	
	PER_MATCH:5~
	PER_MISS:-2~
	PRECEEDING_TEXT:{
		`[a-z]`:-50	
		`,\s*`:-50	
		}	  
	}~
	{ 
	NAME:LEADING_NUMBER~
	POSITION:LEADING~
	LOOKUP:`^(<<[^>]+>>\s*)*\(?\d+\)?`~
	CLEANUP:`[^0-9]`~
	BASE_WEIGHT:20~
	DUPLICATE:-25~
	NON_CONSECUTIVE:-5~
	LONGEST_PATTERN_LENGTH:2.5~	 
	PER_MATCH:5~
	PER_MISS:-2~	
	FOLLOWING_TEXT:{
		`AM\s+`:-20~
		`PM\s+`:-20~
		`\s+OR\s+`:-25~
		`\s+TO\s+`:-20~
		`\s*\–\s*\d+`:-30~
		`\s*\-\s*\d+`:-30~
		`\s*\-\s*\d+`:-30~
		`\s*\–\s*\d+`:-30~
		`\s+YEARS`:-20~
		`\s+MONTHS`:-20~
		`\s+units`:-20~
		`\s+DAYS`:-20~
		`\.\d+`:-20~
		`\,\d+`:-20~
		`\.\s+`:5~	
		`\%\s+`:-25				
		}~
	LEAVE_ID:[
		`^\s*[–-]`
		]	  
	}~
	{ 
	NAME:TRAILING_NUMBER~
	POSITION:TRAILING~
	LOOKUP:`\(?\d+\)?$`~
	CLEANUP:`[^0-9]`~
	BASE_WEIGHT:15~
	DUPLICATE:-25~
	NON_CONSECUTIVE:-5~
	LONGEST_PATTERN_LENGTH:2.5~	 
	PER_MATCH:5~
	PER_MISS:-2~
	PRECEEDING_TEXT:{
		`_`:-10~
		`\$\s*`:-20~
		`OR\s+`:-20~
		`TO\s+`:-20~		
		`\d+\s*(<<[^>]>>)*\s*\-\s*`:-50~	
		`\d+\s*\–\s*`:-20~				
		`<<T>>\s*`:5~
		`\.\d+`:-20~
		`\,\d+`:-20~	
		`\d+\s*\[–--–]\s*`:-20		
		}	  
	}
]


