CONFIG_ID:ID_LIST
------------------ DEFAULT VALUE ------------------
DEFAULT:35
------------------ TRACK FORMATTING ------------------
FORMAT_INC:0
FORMAT_DEC:0
FORMAT_DEFAULT:{SQ:-20~B:-10~CAP:-10~C:-5~F:-5~S:-5}
------------------ KEYWORDS ------------------
KEYWORDS:{
	`Q?[a-zA-Z][0-9]+`:1~
	`Q[0-9]+`:1~
	?:-10~
	=:-5~
	.:1~
	A:1~
	1:1~	
	ACROSS:-1~
	AGREE:10~	
	ACCEPT:20~
	ALPHABETICAL:-20~	
	ANCHOR:32~
	AUTOCODE:-20~
	AUTO CODE:-20~	
	BRAND LIST:-5~
	COL:-20~	
	COLUMN:-20~
	COLUMNS:-21~
	CURRENT:10~
	DECREASE:10~
	DISAGREE:10~
	DISSATISFIED:10~
	DO NOT READ LIST:-25~
	DON’T AT ALL:10~ 
	DON ' T KNOW:15~
	DROP - DOWN:-25~
	DON'T:10~
	DOWN:-1~
	EACH OF THE BELOW:-15~
	ENGLISH:16~
	EXTREMELY:10~
	FEMALE:10~	
	FIRST NAME:10~
	FOLLOWING:-12~
	FRENCH:16~
	GRID ACROSS:-20~
	GRID DOWN:-20~	
	IMPORTANT:10~	
	INCREASE:10~
	IT HAS:2~
	KNOW:5~
	LIKELY:10~
	LESS THAN:25~
	LESS:10~		
	MALE:10~		
	MORE:10~
	NEITHER:10~
	NO:20~
	NOT AT ALL:10~
	OR:1~
	OTHER SPECIFY:15~
	OTHER SPECIFIES:15~
	OTHER:10~
	OPTION:-1~
	OPTIONS:-1~	
	PLEASE NOTE:-15~	
    PLEASE CLICK:-35~ 
	PLEASE SELECT:-50~ 
	PLEASE INDICATE:-35~	
	POOR:20~
	PREFER:10~
	REMEMBER:5~
	RANDOMIZE:-8~
	RANDOMLY SHOW:-10~
	RESPONSE:-1~
	RESPONSES:-1~
	ROTATE:-20~
	ROW:-20~
	ROWS:-21~
	SATISFIED:10~
	SELECT:-10~
	SINGLE PUNCH:-10~
	SOMEWHAT:10~
	SPECIFY:10~
	STRONGLY:10~
	TABLE:6~
	TERMINATE:15~
	THANK AND TERMINATE:25~
	UNLIKELY:10~
	VERY:10~
	WE WOULD:-15~
	YEARS:5~
	YES:20~
	YES NO:-50~
	YESNO:-50~
	YOUR OPINIONS:-35~
	YOU MAY CHECK:-50	
}
KEYWORDS_START:{	
	`A\.?`:1~	
	`COM:`:-55~
	IF:-20~
	INSERT:-25~
	RANDOMIZE:-10~
	NOTE:-28~	
	PN:-45~
	PLEASE:-10~
	NOW:-10~
}
KEYWORDS_END:{	
	TERMINATE:30	
}
------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[
	{CHECK:BLOCK_LENGTH>3~																		 		 WEIGHT:26}~		
	{CHECK:BLOCK_LENGTH==1~																		 		 WEIGHT:-28}~		
	{CHECK:BLOCK_LENGTH==1 AND NOT(IN_LIST)~													 		 WEIGHT:-32}~		
	{CHECK:BLOCK_LENGTH==1 AND BLOCK_LENGTH_AVERAGE>25~													 WEIGHT:-15}~		
	{CHECK:BLOCK_CURRENT_LINE==2~																 		 WEIGHT:10}~
	{CHECK:BLOCK_CURRENT_LINE>2~																 		 WEIGHT:5}~
	{CHECK:BLOCK_CURRENT_LINE == BLOCK_LENGTH~ 													 		 WEIGHT:10}~	
	{CHECK:BLOCK_COUNT_LIST_DEF>0~																 		 WEIGHT:10}~	 
	{CHECK:BLOCK_COUNT_LIST_DEF>0 AND NOT(IN_LIST_DEF)~											 		 WEIGHT:-20}~		
	{CHECK:BLOCK_LENGTH_AVERAGE<15~																 		 WEIGHT:20}~	               
	{CHECK:BLOCK_LENGTH_AVERAGE>25 AND NOT(IN_LIST)~											 		 WEIGHT:-10}~	               
	{CHECK:BLOCK_LENGTH_AVERAGE>25 AND IN_LIST~													 		 WEIGHT:-5}~	               
	{CHECK:IN_LIST_DEF~																			 		 WEIGHT:55}~	               
	{CHECK:IN_INSTRUCTION~																				 WEIGHT:25}~			
	{CHECK:LIST_DEF_LENGTH_IN_QUESTION==1~														 		 WEIGHT:-75}~	               
	{CHECK:LIST_DEF_LENGTH > 0 AND LIST_DEF_LENGTH == LIST_DEF_CURRENT_LINE AND NOT(IN_LIST)~  	 		 WEIGHT:-50}~ 
	{CHECK:DEFINED_QUESTION_ID AND NOT(IN_LIST) AND LINE_ID_FIRST_VAL~							 		 WEIGHT:10}~
	{CHECK:LIST_DEF_BREAK_COUNT>0~																 		 WEIGHT:30}~	               
	{CHECK:LIST_DEF_QUESTION_TEXT~																 		 WEIGHT:-20}~   
	{CHECK:LIST_DEF_CURRENT_LINE==1~									 						 		 WEIGHT:15}~		
	{CHECK:NOT(DEFINED_QUESTION_TEXT)~ 															 		 WEIGHT:-72}~	               
	{CHECK:IN_TABLE~ 																			 		 WEIGHT:32}~	               
	{CHECK:IN_TABLE AND DEFINED_QUESTION_TEXT~ 													 		 WEIGHT:21}~	               
	{CHECK:IN_LIST~ 																			 		 WEIGHT:15}~	               
	{CHECK:IN_LIST_HEADING~																		 		 WEIGHT:30}~                 	
	{CHECK:IN_LOGIC~																			 		 WEIGHT:20}~	
    {CHECK:IN_LOGIC AND RANDOMIZE~																		 WEIGHT:14}~
	{CHECK:TEXT_START_NUMBER~ 																	 		 WEIGHT:25}~	               
	{CHECK:TEXT_START_SINGLE_CHAR~ 																 		 WEIGHT:20}~	               
	{CHECK:TEXT_END_SINGLE_CHAR~ 																 		 WEIGHT:20}~	               
	{CHECK:TEXT_END_NUMBER~ 																	 		 WEIGHT:25}~                 
	{CHECK:TEXT_COUNT_SPACED_NUMERIC>0~ 														 		 WEIGHT:25}~	               
	{CHECK:DEFINED_TABLE_HEADING~																 		 WEIGHT:10}~	               
	{CHECK:DEFINED_LIST_HEADING~																 		 WEIGHT:0}~		
	{CHECK:TEXT_COUNT_TAB<3~																	 		 WEIGHT:30}~	               
	{CHECK:TEXT_COUNT_TAB>3~																	 		 WEIGHT:-20}~	               
	{CHECK:TABLE_CURRENT_LINE==1 AND TEXT_COUNT_TABED_TEXT>1~								     		 WEIGHT:-20}~	               
	{CHECK:TABLE_CURRENT_LINE==1 AND TEXT_COUNT_TABED_TEXT==1 AND TEXT_END_TAB~			 		 		 WEIGHT:-20}~	               
	{CHECK:TABLE_CURRENT_LINE==1 AND TEXT_COUNT_TABED_TEXT==1 AND NOT(TEXT_END_TAB)~	 		 		 WEIGHT:20}~	               
	{CHECK:IN_TABLE AND TEXT_END_NUMBER~														 		 WEIGHT:40}~	                           	
	{CHECK:TABLE_CURRENT_LINE>3~																 		 WEIGHT:20}~	               
	{CHECK:TEXT_START_CHECK~																	 		 WEIGHT:20}~	               
	{CHECK:ROW_HEADING OR COL_HEADING~															 		 WEIGHT:80}~	               
	{CHECK:TEXT_ALL_KEYWORDS_POSITIVE~															 		 WEIGHT:54}~                            	
	{CHECK:IN_POST_TABLE~																		 		 WEIGHT:-40}~                
	{CHECK:TEXT_START_UNDERSCORE~																 		 WEIGHT:40}~                 
	{CHECK:TEXT_START_UNDERSCORE_NUMBER~														 		 WEIGHT:40}~                            			
	{CHECK:TEXT_END_UNDERSCORE~																	 		 WEIGHT:40}~                 
	{CHECK:TEXT_ALL_KEYWORDS_NEGATIVE~															 		 WEIGHT:-60}~		  
	{CHECK:NOT(IN_LIST) AND BLOCK_CURRENT_LINE==BLOCK_LENGTH AND NOT(BLOCK_LENGTH == 1)~		 		 WEIGHT:-60}~		  
	{CHECK:IN_LIST AND NOT(DEFINED_LIST_HEADING)~												 		 WEIGHT:0}~              	
	{CHECK:LINE_ID_TYPE != PREV_ID_TYPE AND NOT(IN_TABLE_HEADING) AND NOT(BLOCK_CURRENT_LINE==1)~		 WEIGHT:0}~                 
	{CHECK:QUESTION_LENGTH<10~																	 		 WEIGHT:0}~ 
	{CHECK:BLOCK_CURRENT_LINE>1 AND NOT(DEFINED_LIST_HEADING) AND DEFINED_LIST AND NOT(IN_LOGIC)~		 WEIGHT:0}~		
	{CHECK:QUESTION_LENGTH == QUESTION_INDEX ~											 		 		 WEIGHT:0}~
	{CHECK:QUESTION_LENGTH == QUESTION_INDEX+1~											 		 		 WEIGHT:0}               
]