QUESTION_TYPE_ID:LIST
MULTI_MENTION
DEFAULT:40
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:DEFINED_CHOICE}~...		
	{CHECK:DEFINED_STATEMENTS}...		
]
------------------ KEYWORDS ------------------
KEYWORDS:{...
	QTYPE_GRID:200~
	LOGIT_STRAIGHTLINE:200
}
------------- CONDITIONS ------------
