CONFIG_ID:ID_QUESTION_ID
------------------ DEFAULT VALUE ------------------
DEFAULT:100
------------------ TRACK FORMATTING ------------------
FORMAT_INC:0
FORMAT_DEC:0
FORMAT_DEFAULT:{SQ:-10~B:-10~CAP:-15~C:-5~F:-5~S:-5}
------------------ KEYWORDS ------------------
KEYWORDS:{	
	`[0-9]+`:-1~
	?:10~	          
	ANYTHING:5~	
	ARE YOU AWARE:10~                	
	ASK:-5~	                         	
	ASK ALL:-17~                     	
	BELOW:10~	
	CHECK ALL THAT APPLY:25~     
	CURRENT:-1~
	CURRENTLY:5~
	DESCRIBE:5~	
	DO NOT READ:5~	                 	
	DO NOT READ LIST:5~	             	
	DO YOU:10~                       	
	FOLLOWING:10~                    	
	FOR WHAT:15~                     	
	HOW CONCERNED:20~	             	
	HOW OFTEN:15~                    	
	HOW LONG:15~                     	
	HOW MANY:15~                     	
	HOW SATISFIED:18 ~    
	HOW:10~	
	IF NEEDED:15~                    	
	IN THE PAST:5~                   	
	IN WHAT:15~                      	
	IN WHICH:15~	
	MEANS:10~	
	OF THE FOLLOWING:10~             	
	ON AVERAGE:10~                   		
	PLEASE ANSWER:25~                	
	PLEASE SELECT ONE:25~            	
	PLEASE SELECT ONLY ONE:29~       	
	PLEASE SELECT ALL THAT APPLY:29~ 	
	PLEASE CHECK ALL THAT APPLY:29~	 	
	(PLEASE CHECK ALL THAT APPLY):29~	
	PLEASE CLICK:25~                 	
	PLEASE INDICATE:35~              	
	PLEASE READ:13~                  	
	PLEASE:8~                        	
	PN:-12~                          	
	PROMPT:17~	                     	
	RANDOMIZE:-20~                   	
	RESPONSES:5~
	SELECT ALL THAT APPLY:15~        	
	SELECT ONE:15~                   	
	SELECT:5~	
	SKIP TO:-25~        
	TELL:5~	
	TERMINATE:-15~
	THANK YOU FOR PARTICIPATING:36~  	
	THANK AND TERMINATE:-15~         	
	THANK YOU:16~      
	THINKING:5~	
	TODAY:5~	
	WAS YOUR:10~                     	
	WHAT WERE:15~
	WHAT:5~
	WHICH:10~
	WHY:10~
	WORDS:5~	
	WOULD YOU:10~
	YES:-5~
	YOU:6
}
KEYWORDS_START:{	
	DO YOU:15~ 
	FOR WHAT:15~
	HOW:10~
	HOW LONG:15~
	HOW STRONGLY:30~
	HOW SATISFIED:30~	
	HOW CONCERNED:30~
	HOW CONVINCING:15~ 
	HOW LIKELY:30~
	IT:-23~	
	IF:-23~	
	IN WHAT:15~
	IN WHICH:15~	
	NO:-15~
	NOTE:-10~	
	PLEASE SELECT:15~
	THANK YOU:16~
	WAS YOUR:10~
	WHAT WERE:15~
	WHICH:15~
	WOULD YOU:10~
	WE:-25~
	YES:-15~	
	YOU:-45	
}
------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[
	{CHECK:DEFINED_QUESTION_ID~ 																								WEIGHT:-300}~	
	{CHECK:DEFINED_QUESTION_TEXT~																								WEIGHT:-15}~
	{CHECK:DEFINED_QUESTION_TEXT AND BLOCK_CURRENT_LINE==1~											    						WEIGHT:-20}~
	{CHECK:NOT(DEFINED_QUESTION_TEXT)~																							WEIGHT:10}~		
	{CHECK:LIST_DEF_LENGTH==1~ 																									WEIGHT:50}~	
	{CHECK:TEXT_START_NUMBER~ 																									WEIGHT:50}~
	{CHECK:TEXT_START_SINGLE_CHAR~ 																								WEIGHT:50}~		
	{CHECK:TEXT_FIRST_WORD_ID~																									WEIGHT:50}~		
	{CHECK:TEXT_FIRST_WORD_LENGTH>5~																							WEIGHT:-50}~	
	{CHECK:TEXT_FIRST_WORD_LENGTH<3~																							WEIGHT:20}~	
	{CHECK:TEXT_FIRST_WORD_NUM~																									WEIGHT:20}~	
	{CHECK:TEXT_FIRST_WORD_PERIOD~																								WEIGHT:20}~	
	{CHECK:NOT(TEXT_FIRST_WORD_NUM) AND NOT(TEXT_FIRST_WORD_LETTER)~															WEIGHT:-48}~	
	{CHECK:TEXT_FIRST_WORD_NUM OR TEXT_FIRST_WORD_LETTER~																		WEIGHT:48}~	
	{CHECK:TEXT_FIRST_WORD_IS_WORD~																								WEIGHT:-52}~	
	{CHECK:TEXT_START_CHECK~																									WEIGHT:-20}~	
	{CHECK:BLOCK_LENGTH_AVERAGE<20~ 																							WEIGHT:-19}~	
	{CHECK:BLOCK_LENGTH_AVERAGE>25~ 																							WEIGHT:11}~		
	{CHECK:BLOCK_LENGTH>4~																					    				WEIGHT:-40}~	
	{CHECK:BLOCK_LENGTH==1~																					    				WEIGHT:30}~	
	{CHECK:IN_TABLE~ 																											WEIGHT:-100}~					
	{CHECK:IN_LIST~ 																											WEIGHT:-80}~					
	{CHECK:LINE_ID_FIRST_VAL AND DEFINED_QUESTION_TEXT~																			WEIGHT:-40}~
	{CHECK:QUESTION_CURRENT_LINE==1~																							WEIGHT:30}~		
	{CHECK:QUESTION_CURRENT_LINE>3~																								WEIGHT:-20}~		
	{CHECK:TEXT_COUNT_TAB>2~																									WEIGHT:-35}~		
	{CHECK:NOT(IN_LIST) AND LIST_DEF_CURRENT_LINE==1 AND TEXT_LENGTH > (LIST_LENGTH_AVERAGE + LIST_DEF_LENGTH_STD_DEV)~			WEIGHT:15}~
	{CHECK:NOT(IN_LIST) AND BLOCK_CURRENT_LINE==1 AND TEXT_LENGTH > (BLOCK_LENGTH_AVERAGE + BLOCK_LENGTH_STD_DEV)~				WEIGHT:15}~	
	{CHECK:DEFINED_QUESTION_TEXT AND LIST_DEF_CURRENT_LINE==1 AND LIST_DEF_LENGTH > 2~											WEIGHT:-45}~	
	{CHECK:DEFINED_QUESTION_TEXT AND TEXT_LENGTH < 25~																			WEIGHT:-55}~
	{CHECK:DEFINED_QUESTION_TEXT AND TEXT_LENGTH < 25 AND TEXT_FIRST_WORD_NUM~													WEIGHT:-55}~
    {CHECK:DEFINED_INSTRUCTIONS~									                                            				WEIGHT:-16}~
	{CHECK:TEXT_ALL_KEYWORDS_NEGATIVE~																							WEIGHT:-25}
]

