CONFIG_ID:ID_QUESTION_TEXT
------------------ DEFAULT VALUE ------------------
DEFAULT:100
------------------ TRACK FORMATTING ------------------
FORMAT_INC:0
FORMAT_DEC:0
FORMAT_DEFAULT:{SQ:-9~B:-10~CAP:-15~C:-5~F:-5~S:-5}
------------------ KEYWORDS ------------------
KEYWORDS:{	
	?:10~	
	ARE YOU AWARE:10~
	ASK:-5~	
	CHECK ALL THAT APPLY:25~
	DO YOU:10~
	DO NOT READ:5~
	FOLLOWING:10~
	FOR WHAT:15~	
	HOW OFTEN:15~ 
	HOW LONG:15~
	HOW MANY:15~
	HOW SATISFIED:18 ~	
	IF NEEDED:15~
	IN THE PAST:5~
	IN WHAT:15~
	IN WHICH:15~	
	INTERVIEWER RECORD:15~
	OF THE FOLLOWING:10~
	OR:2~
	ON AVERAGE:10~
	PLEASE:5~
	PLEASE ANSWER:25~
	PLEASE SELECT ONLY ONE:29~
	PLEASE SELECT ALL THAT APPLY:29~
	PLEASE CHECK ALL THAT APPLY:29~	
	(PLEASE CHECK ALL THAT APPLY):29~	
	PLEASE CHECK ONLY:29~	
	PLEASE CHECK:29~	
	PLEASE CLICK:25~	
	PLEASE INDICATE:35~
	PLEASE READ:13~
	PN:-12~
	PROMPT:17~	
	RANDOMIZE:-20~
	ROTATE:-1~
	RECORD VERBATIM:25~
	READ RESPONSE:20~
	SELECT ALL THAT APPLY:15~
	SKIP TO:-25~	
	THANK YOU:10~
	WAS YOUR:10~
	WHAT WERE:15~
	WOULD YOU:10
}
KEYWORDS_START:{	
	`_+`:-20~
	FOR WHAT:15~
	HOW:10~
	HOW LONG:15~
	HOW SATISFIED:30~
	HOW CONVINCING:15~
	IF:-10~	
	IN WHAT:15~
	IN WHICH:15~	
	NO:-15~
	NOTE:-10~	
	PLEASE SELECT:15~
	WAS YOUR:10~
	WHAT WERE:15~
	WOULD YOU:20~
	YES:-15	
}
------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[
	{CHECK:IN_LIST~													WEIGHT:-50}~	
	{CHECK:IN_TABLE~												WEIGHT:-58}~	
	{CHECK:IN_ID_LINE~												WEIGHT:10}~	
	{CHECK:DEFINED_QUESTION_TEXT~									WEIGHT:-20}~	
	{CHECK:NOT(DEFINED_QUESTION_TEXT)~								WEIGHT:10}~	
	{CHECK:DEFINED_LIST~											WEIGHT:-55}~	
	{CHECK:IN_LIST_DEF~												WEIGHT:-10}~
	{CHECK:LIST_DEF_LENGTH==1~ 										WEIGHT:100}~
	{CHECK:LIST_DEF_QUESTION_TEXT~									WEIGHT:30}~		
	{CHECK:TEXT_FIRST_WORD_ID~										WEIGHT:-50}~	
	{CHECK:BLOCK_LENGTH_AVERAGE<20~ 								WEIGHT:-19}~	
	{CHECK:BLOCK_LENGTH_AVERAGE>25~ 								WEIGHT:11}~	
	{CHECK:BLOCK_LENGTH>4~											WEIGHT:-32}~	
	{CHECK:BLOCK_LENGTH==1~											WEIGHT:30}~	
	{CHECK:TEXT_START_CHECK~										WEIGHT:-20}~	
	{CHECK:TEXT_START_TAB~											WEIGHT:-5}~	
	{CHECK:TEXT_ALL_KEYWORDS_POSITIVE~								WEIGHT:20}~	
	{CHECK:TEXT_FIRST_WORD_NUM~										WEIGHT:-10}~
	{CHECK:TEXT_FIRST_WORD_NUM AND DEFINED_QUESTION_TEXT~			WEIGHT:-20}~
	{CHECK:TEXT_START_UNDERSCORE~									WEIGHT:-20}~	
	{CHECK:NOT(IN_LIST) AND LIST_DEF_CURRENT_LINE==1 AND TEXT_LENGTH > (LIST_DEF_LENGTH_AVERAGE + LIST_DEF_LENGTH_STD_DEV)~	WEIGHT:15}~
	{CHECK:NOT(IN_LIST) AND BLOCK_CURRENT_LINE==1 AND TEXT_LENGTH > (BLOCK_LENGTH_AVERAGE + BLOCK_LENGTH_STD_DEV)~	WEIGHT:15}~
	{CHECK:DEFINED_INSTRUCTIONS~									                                            WEIGHT:-16}~
]
