QUESTION_TYPE_ID:LIST
MULTI_MENTION
DEFAULT:50
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:DEFINED_CHOICE}~...		
	{CHECK:DEFINED_STATEMENTS}...		
]
------------------ KEYWORDS ------------------
KEYWORDS:{...
	QTYPE_GRID:200...
}
------------- CONDITIONS ------------
