CONFIG_ID:ID_LOGIC
------------------ DEFAULT VALUE ------------------
DEFAULT:10
------------------ TRACK FORMATTING ------------------
FORMAT_INC:10
FORMAT_DEC:-5
FORMAT_DEFAULT:{SQ:25~B:15~CAP:21~C:8~F:8~S:8}
------------------ KEYWORDS ------------------
KEYWORDS:{...
    `e . g .`:-15~
	Y:5~
	N:5~
	MR:5~
	M:5~
	SRQ:5~
	=:32~
	;:30~
	`:`:5~
	-:1~	
	ACCEPT:6~
	ACCEPT RESPONSES:15~
	ACROSS:10~
	AIM FOR:7~
	ALPHA:10~
	ALPHABETIZE:10~
	ALPHABETICAL:10~
	ALWAYS SHOW OTHER:40~	
	ALWAYS SHOW:14~	
	ALLOW:6~
	ANCHOR:5~
	AND:1~
	ASK ALL:40~
	ASK TO ALL:40~	
	ASK ONLY:42~	
	ASK:12~	
	ASKED:5~
	ASKED TO RATE:35~
	AT:4~
	ATTRIBUTES:5~
	AUTOCODE:40~	
	AUTOPUNCH:40~
	AUTO CODE:40~	
	AWARE OF AT:5~
	AWARE OF:5~
	AWARE:-5~
	BEFORE:1~
	BLOCK:5~
	BRANDS:3~
	BRAND LIST:15~
	BUT:1~
	CAROUSEL ITEMS:25~
	CAPTURE ALL:12~
	CAPTURE:12~
	CHECK ALL THAT ARE MENTIONED:25~
	CHECK ALL:15~
	CHECK:10~	
	CHOICE OPTIONS:15~
	CODE:20~
	CODES:20~
	CODERS:20~
	COLUMN:10~	
	COLUMNS:11~	
	COM:15~
	CONTINUE:10~
	CONTINUE TO:15~
	DEMOGRAPHICS:5~	
	DISPLAY:5~
	DK:5~
	DO NOT:12~
	DO NOT ASK:30~
	DO NOT READ:30~		  
	DO NOT READ LIST:30~	
	DO NOT SHOW:30~	
	DO NOT SHOW HEADINGS:30~
	DOWN:10~
	DROP DOWN:12~
	DROP - DOWN:32~
	DROPDOWN LIST:27~
	DROPDOWN:22~	
	END:5~
	EXCLUSIVE:5~	
	FLAG:16~
	IF:20~
	IF YES:20~
	IF NO:20~
	IF RESPONDENT:50~
	INCLUDE:10~	
	INSERT:11~
	INSTRUCTION:20~
	IN ORDER:10~
	IN SAME ORDER:15~	
	IN SAME ORDER AS:25~
	ITEMS:5~
	GRID:10~
	GRID ACROSS:40~
	HOW LIKELY:-15~
	GRID DOWN:40~
	LIST:5~
	LIST_ID:-50~
	LIST_LEVEL:-20~
	MENTIONED:5~
	MULTIPLE CHOICE:30~	
	MULTIPLE RESPONSE:10~
	MULTIPLE RESPONSES:10~
	MULTIPLE:4~	
	MULTI - SELECT:25~
	MULTI PUNCH:25~
	MULTI:20~
	MUST SUM TO:25~
	NEED TO IDENTIFY:10~
	NEXT QUESTION:14~
	NOT:10~
	NOTE:10~
	NUMERIC:7~
	NUMERIC BOX:15~
	OF THE SAMPLE:45~
	ONLY SHOW:15~
	OPEN - END:10~	
	OPEN - ENDED:10~
	OPEN - ENDS:10~	
	OPEN ENDED:10~
	OPEN END:10~	
	OPEN:5~
	OPTIONS:10~
	OR:5~
	ORDER TO QUALIFY:30~
	OTHER:6~
	OTHERWISE:10~	
	ORDER:5~
	OF:1~
	PN:16~ 
	PIPED:5~
	PREVIOUS QUESTION:14~
	`PROGRAMMER NOTE`:50~
	PROGRAMMER NOTE:50~
	PROGRAMMING:20~
	PUNCH:10~	
	Q_CHOICE:4000~
	Q_GRID:4000~
	Q_LOGIC:4000~	
	Q_STATEMENT:4000~
	Q_TEXT:4000~	
	Q_REF:4000~	
	QUESTION_ID:4000~
	QTYPE_DESCRIPTION:4000~
	QTYPE_LIST:4000~
	QTYPE_GRID:4000~
	QTYPE_OPEN_END:4000~
	QTYPE_TEXT_BOX:4000~
	QTYPE_TEXT_BOX_GRID:4000~
	QTYPE_AUTO_SUM:4000~
	QTYPE_SLIDER:4000~
	QTYPE_SLIDER_GRID:4000~	
	QTYPE_RANKING:4000~
	QTYPE_RANKING_TEXT:4000~	
	QTYPE_SINGLE_SELECT_AUTOFILL:4000~
	QTYPE_YOB:4000~	
	QINTRO:10~
	QUALIFY:15~
	QUALIFIES AS:15~
	QUESTION:11~	
	QUESTIONS:12~	
	QUOTA:40~
	QUOTAS:40~	
	RANDOM:28~
	RANDOMISE:28~
	RANDOMISE ITEMS:35~
	RANDOMIZE WITHIN GROUPS:45~
	RANDOMIZED ORDER:35~	
	RANDOMIZE ALL STATEMENTS:35~	
	RANDOMIZE ITEMS:35~
	RANDOMIZE LIST ORDER:35~
	RANDOMIZE ORDER:35~	
	RANDOMIZE STATEMENTS:35~	
	RANDOMIZE:28~
	RANDOMIZED:28~
	RANDOMLY:10~	
	RANDOMLY SHOW:35~ 
	RANGE:10~
	RATE:10~	
	RATED:10~
	RATED LESS THAN:25~ 
    READ LIST:10~
	REALLY:5~
	REGIONAL REPRESENTATION:17~ 
	REGIONAL:12~
	REPEAT SCALE AS NECESSARY:10~
	RESPONSE:26~
	RESPONSES:26~
	RESPONDENT:35~
	RESPONDENTS:35~
	ROTATE QUESTIONS:45~
	ROTATE THE STATEMENTS:25~
	ROTATE ITEMS:15~
	ROTATE ORDER:25~
	ROTATE:10~	
	ROTATED:10~
	ROW:10~
	ROWS:11~
	SAME ORDER AS: 15~
	SAME ORDER: 10~	
	SAME SCREEN:25~
	SAMPLE:15~	
	SCALE:10~
	SCREEN: 10~
	SCREEN LAYOUT:30~
	SCREENING DATA:15~
	SCREENING:15~
	SECTION:10~
	SELECT:10~	
	SELECTED IN:13~	
	SELECTED:10~	
	SELECT ALL:15~
	SELECT ONE:15~
	SIDE:10~
	SINGLE:5~
	SINGLE PUNCH:10~
	`SINGLE - DIGIT`:35~
	SHOW ALL:20~
	SHOW HEADERS:15~
	SHOW HEADINGS:15~
	SHOW ONLY:20~
	SHOW SAME ITEMS:25~
	SHOW TEXT:21~
	SHOW OTHER:25~
	SHOW:12~	
	SKIP:10~
	SKIP TO:21~
	STATEMENT:23~
	STATEMENTS:23~
	SPLIT SAMPLE:28~
	SUM TO:16~
	TBD:15~
	TYPE:5~
	TERM:10~
	TERMINATE:10~
	TERMINATING:15~
	TEXT:5~
	THANK YOU FOR PARTICIPATING:-36~	
	THANK AND TERMINATE:15~
	THANK AND END:18~
	THANK:5~
	TIMER:5~
	TOP:10~
	UNLESS:5~ 
	VERBATIM:25~
	WATCH QUOTA:40~
	WOULD YOU:-21~
	UP TO:10~
	YES:5
	YES TO:20~
	YOU:-10~
	YOUR:-10
}
KEYWORDS_START:{
	`\(\s*[0-9]`:-15~
	ASK:15~	
	ASK IF:35~	
	BASE:65~	
	`COM:`:110~
	CONTINUE:10~
	DISPLAY:15~
	IF:20~	
	IF YOUR:-15~
	INSERT:35~
	NOTE:45~
	ONLY SHOW:29~
	OPEN END:25~
	OPEN-END:25~
	PROGRAMMING NOTE:24~	
	PN:65~	
	PIPE:45~
	QTYPE:1000~
	ROTATE:21~
	RANDOMLY:15~
	SCREEN:25~
	SELECT:15~
	SECTION:35~
	SHOW:25~
	`SINGLE-DIGIT`:25~
	SKIP IF:15~		
	TERMINATE:50~
	THANK:-20~ 
	THANK YOU:-20~
	TYPE:55~
	YES:-80
}
KEYWORDS_END:{
	ASK:25~
	SHOW:15~
	YES:-10
}
------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[...
	{CHECK:TEXT_LENGTH<5~													WEIGHT:0}~	
	{CHECK:IN_LIST~															WEIGHT:-20}~	
	{CHECK:TEXT_ALL_KEYWORDS_POSITIVE~										WEIGHT:89}~	
	{CHECK:TEXT_ALL_KEYWORDS_NEGATIVE~										WEIGHT:-25}~	
	{CHECK:IN_POST_TABLE~													WEIGHT:40}~
	{CHECK:IN_TABLE~														WEIGHT:-10}~
	{CHECK:IN_TABLE_DEF~													WEIGHT:-10}~
	{CHECK:QUESTION_CURRENT_LINE=1~											WEIGHT:5}~	
	{CHECK:TEXT_COUNT_TABED_FULL>2~     									WEIGHT:-10}~
	{CHECK:LIST_DEF_LENGTH==1~ 												WEIGHT:100}~
	{CHECK:IN_TABLE AND TABLE_CURRENT_LINE>1 AND TEXT_COUNT_TABED_FULL>1~	WEIGHT:-30}~
	{CHECK:BLOCK_COUNT_LIST_DEF>0 AND NOT(IN_LIST_DEF)~						WEIGHT:20}~		
]

