CONFIG_ID:ID_LOGIC
------------------ DEFAULT VALUE ------------------
DEFAULT:10
------------------ TRACK FORMATTING ------------------
FORMAT_INC:10
FORMAT_DEC:-5
FORMAT_DEFAULT:{SQ:25~B:15~CAP:21~C:8~F:8~S:8}
------------------ KEYWORDS ------------------
KEYWORDS:{...
	Y:5~
	N:5~
	MR:5~
	M:5~
	SRQ:5~
	=:32~
	;:30~
	`:`:5~
	ACCEPT:6~
	ACROSS:10~
	ALWAYS SHOW OTHER:40~	
	ALWAYS SHOW:14~	
	ANCHOR:5~
	AND:1~
	ASK ALL:40~
	ASK TO ALL:40~	
	ASK ONLY:42~
	ASK:12~	
	ATTRIBUTES:5~
	AUTOCODE:40~	
	AUTO CODE:40~	
	BLOCK:5~
	CAROUSEL ITEMS:25~
	CHECK ALL THAT ARE MENTIONED:25~
	CHECK ALL:15~
	CHECK:10~	
	CHOICE OPTIONS:15~
	CODE:20~
	CODES:5~
	CODERS:20~
	COLUMN:10~	
	COLUMNS:11~	
	COM:15~
	CONTINUE:10~	
	DISPLAY:5~
	DO NOT:12~
	DO NOT ASK:30~
	DO NOT SHOW:30~	
	DO NOT READ LIST:-26~
	DO NOT READ:-26~	
	DO NOT READ:-15~
	DOWN:10~	
	END:5~
	ENTER:-6~
	ENTER RESPONSE:-30~
	EXCLUSIVE:5~	
	IF:20~
	IF YES:20~
	IF NO:20~
	IF RESPONDENT:50~
	INCLUDE:10~	
	INSERT:5~
	IN ORDER:10~
	IN SAME ORDER:15~	
	IN SAME ORDER AS:15~	
	ITEMS:5~
	GRID:10~
	GRID ACROSS:40~
	GRID DOWN:40~
	LIST:5~
	LIST_ID:-50~
	LIST_LEVEL:-20~
	MENTIONED:5~
	MULTIPLE CHOICE:30~	
	MULTIPLE RESPONSES:10~
	MULTIPLE:4~	
	MULTI-SELECT:25~
	MULTI:20~
	NEXT QUESTION:14~
	NOT:10~
	NOTE:10~
	ONLY SHOW:15~
	OPEN-END:10~	
	OPEN-ENDED:10~
	OPEN-ENDS:10~
	OPTIONS:10~
	OR:5~
	OTHER:6~
	OTHERWISE:10~
	PN:16~ 
	PREVIOUS QUESTION:14~
	`PROGRAMMER NOTE`:50~
	PROGRAMMER NOTE:50~
	PROGRAMMING:20~
	PUNCH:10~	
	Q_CHOICE:4000~
	Q_GRID:4000~
	Q_LOGIC:4000~	
	Q_STATEMENT:4000~
	Q_TEXT:4000~	
	Q_REF:4000~	
	QTYPE_DESCRIPTION:4000~
	QTYPE_LIST:4000~
	QTYPE_GRID:4000~
	QTYPE_OPEN_END:4000~
	QTYPE_TEXT_BOX:4000~
	QTYPE_TEXT_BOX_GRID:4000~
	QTYPE_AUTO_SUM:4000~
	QTYPE_SLIDER:4000~
	QTYPE_SLIDER_GRID:4000~	
	QTYPE_RANKING:4000~
	QTYPE_RANKING_TEXT:4000~	
	QTYPE_SINGLE_SELECT_AUTOFILL:4000~
	QTYPE_YOB:4000~	
	QUESTION:11~	
	QUOTA:40~
	QUOTAS:40~	
	RANDOM:28~
	RANDOMIZE:28~
	RANDOMIZE LIST ORDER:35~
	RANDOMIZE ORDER:35~		
	RANDOMLY:10~	
	RANDOMLY SHOW:35~ 
	RATE:10~	
    READ LIST:-10~
	REPEAT QUESTION:20~
	REPEAT SCALE AS NECESSARY:10~
	RESPONSE:26~
	RESPONSES:26~
	ROTATE THE STATEMENTS:25~
	ROTATE ITEMS:15~
	ROTATE:10~
	ROTATED:10~
	ROW:10~
	ROWS:11~
	SAME ORDER: 10~
	SAMPLE:10~
	SAME ORDER:35~
	SCREEN: 10~
	SECTION:10~
	SELECT:10~	
	SELECTED:10~	
	SELECT ALL:15~
	SELECT ALL THAT APPLY:15~
	SINGLE:5~
	SHOW ONLY:20~
	SHOW:12~	
	SKIP:10~
	SKIP TO:21~
	TBD:15~
	TYPE:5~
	TERM:10~
	TERMINATE:10~
	TEXT:5~
	TIMER:5~
	THANK:5~
	THANK AND TERMINATE:15~
	THANK AND END:15~
	UNLESS:5~ 
	VERBATIM:25~
	WATCH QUOTA:40...
}
KEYWORDS_START:{
	IF:10~
	DISPLAY:20~
	SKIP IF:15~
	NOTE:10~
	PN:15~
	COM:15~
	CONTINUE:10~
	QTYPE:1000~
	ASK:15	
}
KEYWORDS_END:{
	ASK:25~
	SHOW:15
	
}
------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[...
	{CHECK:TEXT_LENGTH<5~				WEIGHT:-50}~	
	{CHECK:IN_LIST~						WEIGHT:-20}~	
	{CHECK:IN_TABLE~					WEIGHT:-50}~	
	{CHECK:TEXT_ALL_KEYWORDS_POSITIVE~	WEIGHT:89}~	
	{CHECK:IN_POST_TABLE~				WEIGHT:40}~
	{CHECK:LIST_DEF_LENGTH==1~ 			WEIGHT:100}~ 
	{CHECK:QUESTION_CURRENT_LINE==1~			WEIGHT:5}
]
