QUESTION_TYPE_ID:LIST
MULTI_MENTION
DEFAULT:45
------------- REQUIREMENTS ------------
REQUIREMENTS:[	
	{CHECK:NOT(DEFINED_STATEMENTS)}	
]
------------------ KEYWORDS ------------------
KEYWORDS:{
	ANYTHING ELSE:10~
	ACCEPT UP TO:6~
	DESCRIBE IN DETAIL:15~
	DID YOU LIKE:10~	
	DID YOU NOT LIKE:10~	
	FOLLOWING STATEMENTS:-15~
	IN THE SPACES PROVIDED:10~
	IN THE SPACE BELOW:15~	
	IN YOUR OPINION:10~	
	IN YOUR OWN WORDS:10~	
	IS THERE ANYTHING ELSE:15~	
	MUCH DETAIL AS POSSIBLE:10~	
	OPEN - ENDED:30~	
	OPEN END:32~
	PLEASE BE AS DETAILED AND SPECIFIC AS POSSIBLE:10~	
	PLEASE BE AS SPECIFIC AND DETAILED AS POSSIBLE:10~	
	PLEASE CLICK:-15~
	PLEASE EXPLAIN:10~	
	PLEASE LIST:10~	
	PLEASE TRY TO DESCRIBE:10~	
	PLEASE TYPE THE:10~	
	PLEASE TYPE IN	:10~	
	PROBE:10~	
	QTYPE_OPEN_END:1000~
	RECORD VERBATIM:30~	
	TERMINATE:-25~
	WHAT ARE:10~	
	WHAT IS THE:10~	
	WHAT MADE YOU SAY:10~
	WHAT ELSE:10~	
	WHO IS:10~	
	WHY DID YOU:10		

}
------------- CONDITIONS ------------
CONDITIONS:[	
	{CHECK:CHOICE_COUNT>3~											WEIGHT:-50}~	
	{CHECK:CHOICE_COUNT>CHOICE_SPECIAL_COUNT~						WEIGHT:-25}~	
	{CHECK:QTYPE_OPEN_END~											WEIGHT:500}
]