CONFIG_ID:ID_QUESTION_TEXT
------------------ DEFAULT VALUE ------------------
DEFAULT:100
------------------ TRACK FORMATTING ------------------
FORMAT_INC:0
FORMAT_DEC:0
FORMAT_DEFAULT:{SQ:-12~B:-10~CAP:-18~C:-8~F:-8~S:-8}

------------------ KEYWORDS ------------------
KEYWORDS:{	
	?:10~	          
	ANYTHING:5~	
	ARE YOU AWARE:10~                	
	ASK:-5~	                         	
	ASK ALL:-17~    
    APPLY:5~	
	BELOW:10~	
	CHECK ALL THAT APPLY:25~     
	CHECK ONE ONLY:35~     
	CHECK ANY THAT APPLY:25~     
	CURRENTLY:10~
	DESCRIBE:5~	
	DO NOT READ:5~	                 	
	DO NOT READ LIST:5~	             	
	DO YOU:10~                       	
	FOLLOWING:10~                    	
	FOR WHAT:15~        
	FROM THE LIST: 15~
	HOW CONCERNED:20~	             	
	HOW OFTEN:15~                    	
	HOW LONG:15~                     	
	HOW MANY:15~                     	
	HOW SATISFIED:18 ~    
	HOW:10~	
	IF NEEDED:15~                    	
	IN THE PAST:5~                   	
	IN WHAT:15~                      	
	IN WHICH:15~	
	INSERT:-10~
	INSTRUCTION:-10~
	MEANS:10~	
	OF THE FOLLOWING:10~             	
	ON AVERAGE:10~                   		
	PLEASE ANSWER:25~                	
	PLEASE SELECT ONE:25~            	
	PLEASE SELECT ONLY ONE:29~       	
	PLEASE SELECT ALL THAT APPLY:29~ 	
	PLEASE CHECK ALL THAT APPLY:29~	 	
	(PLEASE CHECK ALL THAT APPLY):29~	
	PLEASE CHECK ONLY:29~	
	PLEASE CHECK:29~	
	PLEASE CLICK:35~                 	
	PLEASE INDICATE:35~              	
	PLEASE READ:13~                  	
	PLEASE:8~                        	
	PN:-12~                          	
	PROMPT:17~	                     	
	RANDOMIZE:-20~                   	
	RESPONSES:5~
	ROTATE:-1~
	ROTATE ORDER:-1~
	RECORD:15~	
	SAME SCREEN:-15~
	SELECT ALL THAT APPLY:15~        	
	SELECT ONE:15~                   	
	SELECT:5~	
	SHOW:-10~
	SKIP TO:-25~        
	TELL:5~	
	THANK YOU FOR PARTICIPATING:36~  	
	THANK AND TERMINATE:-15~         	
	THANK YOU:16~      
	THINKING:5~	
	TO MOVE FORWARD:10~
	LIKE TO ASK:15~
	TODAY:5~	
	WAS YOUR:10~                     	
	WHAT WERE:15~
	WHAT:10~
	WHICH:10~
	WHY:10~
	WORDS:5~	
	WOULD YOU:15~
	WE WOULD:15~
	VIEW THE DESCRIPTION:20~
	YOU:12~
	YOU MAY:36~
	YOU MAY CHECK UP:52~
	YOU TO RATE IS:42~
	YOUR OPINIONS:41~
	YOUR TIME:15
}
KEYWORDS_START:{	
	CLICK ON:25~
	DO YOU:25~ 
	FOR WHAT:15~
	FROM THE LIST BELOW:15~	
	HOW:10~
	HOW LONG:15~
	HOW STRONGLY:30~
	HOW SATISFIED:30~
	HOW CONCERNED:30~
	HOW CONVINCING:15~ 
	HOW LIKELY:30~
	HOW MUCH:30~
	IF:-10~	
	IN WHAT:15~
	IN WHICH:15~	
	NO:-15~
	NOTE:-25~	
	PLEASE SELECT:15~
	SCREEN:-10~
	SECTION:-30~
	THANK YOU:36~
	WAS YOUR:10~
	WAHT:15~
	WHAT WERE:15~
	WHICH:15~
	WOULD YOU:10~
	YES:-15~
	YOU MAY CHECK:50
}
KEYWORDS_START:{	
	NOW:20~
	PLEASE:15
}
KEYWORDS_END:{	
	YES:-25
}
------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[
	{CHECK:IN_LIST~																					            					WEIGHT:-50}~	
	{CHECK:IN_TABLE~																				            					WEIGHT:-58}~	
	{CHECK:IN_ID_LINE~																				            					WEIGHT:10}~	
	{CHECK:IN_LOGIC~																				            					WEIGHT:-20}~	
	{CHECK:DEFINED_QUESTION_TEXT~																	            					WEIGHT:-20}~	
	{CHECK:NOT(DEFINED_QUESTION_TEXT)~																            					WEIGHT:15}~	
	{CHECK:DEFINED_LIST~																			            					WEIGHT:-55}~	
	{CHECK:IN_LIST_DEF~																			            						WEIGHT:-20}~
	{CHECK:LIST_DEF_LENGTH==1~ 																		            					WEIGHT:100}~
	{CHECK:LIST_DEF_QUESTION_TEXT~																	            					WEIGHT:30}~		
	{CHECK:TEXT_FIRST_WORD_ID~																		            					WEIGHT:-50}~	
	{CHECK:BLOCK_LENGTH_AVERAGE<20~ 																            					WEIGHT:-19}~	
	{CHECK:BLOCK_LENGTH_AVERAGE>25~ 																            					WEIGHT:11}~	
	{CHECK:BLOCK_LENGTH>4~																		           							WEIGHT:-32}~	
	{CHECK:BLOCK_LENGTH==1~																		           							WEIGHT:35}~	
	{CHECK:TEXT_START_CHECK~																		            					WEIGHT:-20}~	
	{CHECK:TEXT_START_TAB~																			            					WEIGHT:-5}~	
	{CHECK:TEXT_ALL_KEYWORDS_POSITIVE~																            					WEIGHT:20}~	
	{CHECK:TEXT_FIRST_WORD_NUM~																		            					WEIGHT:-10}~
	{CHECK:TEXT_FIRST_WORD_NUM AND DEFINED_QUESTION_TEXT~											            					WEIGHT:-10}~
	{CHECK:TEXT_START_UNDERSCORE~																	            					WEIGHT:-20}~	
	{CHECK:NOT(IN_LIST) AND LIST_DEF_CURRENT_LINE==1 AND TEXT_LENGTH > (LIST_DEF_LENGTH_AVERAGE + LIST_DEF_LENGTH_STD_DEV)~	        WEIGHT:15}~
	{CHECK:NOT(IN_LIST) AND BLOCK_CURRENT_LINE==1 AND TEXT_LENGTH > (BLOCK_LENGTH_AVERAGE + BLOCK_LENGTH_STD_DEV)~					WEIGHT:15}~
	{CHECK:DEFINED_INSTRUCTIONS~									                                            					WEIGHT:-16}
]
