CONFIG_ID:ID_TABLE_HEADING
------------------ DEFAULT VALUE ------------------
DEFAULT:10
------------------ TRACK FORMATTING ------------------
FORMAT_INC:0
FORMAT_DEC:0
FORMAT_DEFAULT:{SQ:-10~B:-10~CAP:-15~C:-5~F:-5~S:-5}
------------------ KEYWORDS ------------------
KEYWORDS:{
    
	AGREE:10~
	ANCHOR:0~
	DISAGREE:20~
	DONT KNOW:0~
	END:-10~
	EXTREMELY:20~
	DISSATISFIED:20~
	FEMALE:0~
	GRID ACROSS:-25~
	GRID DOWN:-25~
	IMPORTANT:5~	
	LESS:10~
	MALE:0~
	MORE:10~
	NEITHER:5~
	NEUTRAL:15~
	NOT AT ALL:20~	
	NOT VERY:10~
	NO:35~
	OTHER:5~
	QUOTA:0~	
	RANDOMIZE:1~
	SATISFIED:20~	
	SOMEWHAT:20~	
	SPECIFY:0~
	STRONGLY:20~
	SKIP:-50~
	TERMINATE:5~
	THANK:-10~
	VERY:20~
	YES NO:100~
	YESNO:100~
	YES:35
}
KEYWORDS_START:{	
	RANDOMIZE:30
}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[		
	{CHECK:IN_TABLE~ 												WEIGHT:40}~
	{CHECK:IN_TABLE AND DEFINED_QUESTION_TEXT~ 						WEIGHT:21}~	
	{CHECK:NOT(IN_TABLE)~ 											WEIGHT:-200}~
	{CHECK:NOT(DEFINED_TABLE_HEADING)~ 								WEIGHT:20}~	
	{CHECK:DEFINED_TABLE_HEADING~ 									WEIGHT:-50}~
	{CHECK:TEXT_COUNT_TAB>2~										WEIGHT:25}~			
	{CHECK:TEXT_COUNT_TAB<3~										WEIGHT:-50}~	
	{CHECK:TEXT_COUNT_TABED_TEXT<2~									WEIGHT:-125}~				
	{CHECK:TABLE_CURRENT_LINE==1~									WEIGHT:40}~				
	{CHECK:TABLE_CURRENT_LINE>3~									WEIGHT:-60}~				
	{CHECK:TEXT_FIRST_TAB_EMPTY~ 									WEIGHT:20}~
	{CHECK:NOT(TEXT_FIRST_TAB_EMPTY)~ 								WEIGHT:-60}~
	{CHECK:DEFINED_LIST~			 								WEIGHT:-50}~	
	{CHECK:BLOCK_LENGTH<4 AND TEXT_COUNT_TAB<5~						WEIGHT:-80}~
	{CHECK:BLOCK_LENGTH==1~											WEIGHT:20}~
	{CHECK:TEXT_COUNT_TABED_TEXT>1~									WEIGHT:25}~	
	{CHECK:TEXT_COUNT_TABED_TEXT==1 AND TEXT_END_TAB~				WEIGHT:25}~	
	{CHECK:TEXT_COUNT_TABED_TEXT==1 AND NOT(TEXT_END_TAB)~			WEIGHT:-80}~	
	{CHECK:TEXT_COUNT_TABED_TEXT<1 AND BLOCK_LENGTH>1~				WEIGHT:-80}~
	{CHECK:TEXT_COUNT_TABED_NUMERIC>2 AND TEXT_END_TAB~				WEIGHT:60}~
	{CHECK:(TEXT_COUNT_TAB+1)<TABLE_COUNT_COL~						WEIGHT:-24}~
	{CHECK:TEXT_ALL_KEYWORDS_POSITIVE~								WEIGHT:15}
]


