QUESTION_TYPE_ID:LIST
MULTI_MENTION
DEFAULT:50
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:NOT(DEFINED_CHOICE)}~...		
	{CHECK:NOT(DEFINED_STATEMENTS)}...	
]
------------------ KEYWORDS ------------------
KEYWORDS:{...
	QTYPE_DESCRIPTION:200...
}
------------- CONDITIONS ------------
KEYWORDS:{...
	TAKING PART IN OUR SURVEY:25...
}