CONFIG_ID:ID_SEGMENT_TEXT
------------------ DEFAULT VALUE ------------------
DEFAULT:100
------------------ TRACK FORMATTING ------------------
TRACK_FORMATS
FORMAT_INC:0
FORMAT_DEC:0
FORMAT_DEFAULT:{SQ:-12~B:-10~CAP:-18~C:-8~F:-8~S:-8}
FORMAT_DEFAULT_OLD:{SQ_B_CAP:-30~CAP:-30~B_CAP:-10~SQ_CAP:-30~SQ_B:-25}
------------------ KEYWORDS ------------------
KEYWORDS:{
	=:-1~
	;:-1~	
	ACCEPT:-20~
	ACROSS:-1~	
	ANCHOR:-1~	
	ASK:-5~	
	AUTOCODE:-1~
	CHECK:-1~
	CODE:-1~	
	CONTINUE:-1~
	DO NOT READ LIST:65~
	DO NOT READ:60~ 
	DO NOT ASK:60~
	DOWN:-1~	
	END: -5~
	END SURVEY:-25~		
	EXCLUSIVE:-1~	
	GRID ACROSS:-1~
	GRID DOWN:-1~
	GRID:-1~	
	IF:-1~
	INCLUDE:-1~	
	INSERT:-50~
	INTERVIEWER: 11~
	LIST_ID:-50~
	LIST_LEVEL:-20~
	OR:-1~
	OTHERWISE:-1~	
	PROGRAMMER:-30~
	QUESTION:-1~
	RANDOMIZE:-1~
	RATE:-1~
	READ LIST:60~
	READ SCALE:60~	
	RECALL:-10~
	RESPONSE:-20~
	RESPONSES:-20~
	ROTATE:-1~
	SAME ORDER: -1~
	SAMPLE:-1~
	SCREEN:-1~
	SECTION:-1~
	SELECT:-1~
	SKIP:-15~
	SKIP IF:-15~	
	SHOW:-1~
	THANK AND TERMINATE:-15~
	THANK: -5~
	TERMINATE:-15~
	TERM:-5
}
KEYWORDS_START:{
	ASK:-15~	
	SKIP:-15	
}
------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[
	{CHECK:TEXT_LENGTH<5~											WEIGHT:-5}~	
	{CHECK:TEXT_LENGTH>100~											WEIGHT:21}~	
	{CHECK:TEXT_ALL_KEYWORDS~										WEIGHT:-50}~	
	{CHECK:SEGMENT_CURRENT>0 AND (SEGMENT_COUNT-1)>SEGMENT_CURRENT~	WEIGHT:20}~		
	{CHECK:TEXT_END_NUMBER~											WEIGHT:-5}		
]


