CONFIG_ID:ID_SEGMENT_LOGIC
------------------ DEFAULT VALUE ------------------
DEFAULT:10
------------------ TRACK FORMATTING ------------------
TRACK_FORMATS
FORMAT_INC:10
FORMAT_DEC:-5
FORMAT_DEFAULT:{SQ:20~B:15~CAP:21~C:8~F:8~S:8}
FORMAT_DEFAULT_OLD:{SQ_B_CAP:50~CAP:20~B_CAP:25~SQ_CAP:30~SQ_B:25}
------------------ KEYWORDS ------------------
KEYWORDS:{	
	=:20~
	;:30~
	`& amp ;`:5~ 
	ACCEPT:5~	
	ACROSS:10~
	ALWAYS SHOW:15~	
	ALWAYS SHOW LAST:35~	
	ALWAYS SHOW OTHER:35~	
	ANCHOR:10~
	ASK ALL:50~	
	ASK TO ALL:50~	
	ASK:31~	
	AUTO CODE:50~
	AUTO_CODE:50~
	AUTOCODE:50~
	CHECK:10~	
	CODE:20~
	COLUMN:5~
	COLUMNS:5~	
	com:15~
	CONTINUE:20~
	DISPLAY AS:10~
	DISPLAY LIST:10~
	DISPLAY:5~
	DO NOT READ LIST:-25~
	DO NOT READ:-25~
	DO NOT ASK:-25~
	DO NOT SHOW:30~	
	DOWN:10~
	END SURVEY:25~	
	END:10~	
	EXCLUSIVE:10~
	GRID:10~		
	GRID ACROSS:30~
	GRID DOWN:30~
	IF RESPONSE:-20~
	IF YES:30~
	IF NO:30~
	IF:20~
	INCLUDE:10~
	INSERT:50~		
	IN SAME ORDER AS:35~	
	IN SAME ORDER:25~		
	LIST_ID:-50~
	LIST_LEVEL:-20~	
	LIST:5~
	ONLY SHOW:15~
	OPEN END:15~
	OTHERWISE:10~	
	QUESTION:10~
	`PROGRAMMING NOTE:`:48~
	PROGRAMMING NOTE:48~
	PROGRAMMING:30~	
	PUNCH:5~
	READ LIST:-25~
	RANDOMIZE LIST:55~
	RANDOMIZE ORDER:35~
	RANDOMIZE:50~
	RANDOMLY:10~	
	RECORD:-10
	RATE:10~
	RECALL:50~	
	RESPONSE:20~
	RESPONSES:20~
	ROW:5~
	ROWS:5~ 	
	SAMPLE:10~
	SAME ORDER:25~	
	SCREEN:10~
	SECTION:10~	
	SELECTED:5~
	SELECT:10~
	SHOW:10~
	SKIP:31~	
	SKIP TO:41~		
	THANK AND TERMINATE:30~
	THANK AND END:30~ 
	THANK:10~ 		
	TERMINATE ACCORDING TO SCREEN INSTRUCTIONS:20~
	TERMINATE ACCORDING TO INSTRUCTIONS:20~	
	TERMINATE:15~
	TERM:10~		
	UNLESS:5~	
	WATCH QUOTA:15
}
KEYWORDS_START:{
	##:125~
	`\/\*`:125~
	ASK:18~
	IF:24~
	INSERT:25~
	OTHER:-5~
	OPEN END:25	~
	READ:-50~
	RECORD:-50~
	REPEAT:25~
	SHOW:5~	
	INTERVIEWER:-30~
	TERMINATE:25	
}
KEYWORDS_END:{
	`Q[A-Z0-9]*[A-Z0-9]`:35~
	DO NOT ASK:-75~
	ASK:50	
}
------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	
	{CHECK:TEXT_LENGTH<5~					WEIGHT:-65}~
	{CHECK:TEXT_LENGTH<10~					WEIGHT:-15}~
	{CHECK:TEXT_LENGTH>100~					WEIGHT:-10}~
	{CHECK:SEGMENT_CURRENT=SEGMENT_COUNT~	WEIGHT:10}~	
	{CHECK:TEXT_ALL_KEYWORDS_POSITIVE~		WEIGHT:80}~	
	{CHECK:TEXT_KEYWORD_COUNT=0~			WEIGHT:-55}	
]
