CONFIG_ID:ID_SEGMENT_ID
------------------ DEFAULT VALUE ------------------
DEFAULT:50
------------------ TRACK FORMATTING ------------------
TRACK_FORMATS
FORMAT_INC:0
FORMAT_DEC:0
FORMAT_DEFAULT:{SQ:-10~B:-10~CAP:-14~C:-5~F:-5~S:-5}
FORMAT_DEFAULT_OLD:{SQ_B_CAP:-30~CAP:-30~B_CAP:-20~SQ_CAP:-30}
------------------ KEYWORDS ------------------
KEYWORDS:{...
	RECALL:-10~...
	INSERT:-50~...
	RESPONSE:-20~...
	&lt;:-10~...
	TO:-20~...
	ASK:-10~...
	SKIP:-15~...
	SKIP IF:-15~...
	SKIP TO:-25...
}
------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[...
	{CHECK:TEXT_LENGTH<2~					WEIGHT:35}~...	
	{CHECK:TEXT_LENGTH<5~					WEIGHT:13}~...	
	{CHECK:TEXT_LENGTH>8~					WEIGHT:-30}~...	
	{CHECK:TEXT_ALL_TAGS~					WEIGHT:-30}~...	
	{CHECK:TEXT_START_TAB~					WEIGHT:40}~...	
	{CHECK:(SEGMENT_COUNT-1)==SEGMENT_CURRENT~	WEIGHT:20}~...	
	{CHECK:SEGMENT_CURRENT==0~				WEIGHT:10}~...	
	{CHECK:TEXT_END_NUMBER~					WEIGHT:34}...	
]


