CONFIG_ID:CLEANUPe

------ CLEAN UP STRUCTURES ------
INIT_CLEANING:[	
	{SEEK:`\u201D`~REPLACE:`"`}~
	{SEEK:`\u201C`~REPLACE:`"`}~
	{SEEK:`\u2019`~REPLACE:`'`}~
	{SEEK:`\u2018`~REPLACE:`'`}~	
	{SEEK:`\u2260`~REPLACE:`!=`}~		
	{SEEK:`Fran çais`~REPLACE:`Français`}~	
	{SEEK:`Y ears`~REPLACE:`Years`}~	
	{SEEK:`H elp`~REPLACE:`Help`}~
	{SEEK:`N ot`~REPLACE:`Not`}~
    {SEEK:`\. com`~REPLACE:`.com`}~	
	{SEEK:`\s*\u2026`~REPLACE:`...`}~	
	{SEEK:`\.([A-Z])`~REPLACE:`. \1`~IGNORECASE:1}~
	{SEEK:`^\s*`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`(\s*<<[tT]>>\s*)+$`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`\xC2\xA0'`~REPLACE:_SPACE_}~
	{SEEK:`\&amp\'`~REPLACE:`&`}~
---not sure why this exists (messed up part of test25 might just need refinement){SEEK:`_+(\d+)`~REPLACE:_FIRST_}~    
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>><<\/_LOOP_>>`~REPLACE:_BLANK_}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>><<_LOOP_>>`~REPLACE:_BLANK_}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>>\s+<<\/_LOOP_>>`~REPLACE:_SPACE_}~	
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>>\s+<<_LOOP_>>`~REPLACE:_SPACE_}~	
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>>((\s*<<[^>N]+>>\s*)+)<<\/_LOOP_>>`~REPLACE:_FIRST_~REPEAT:1}~	
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>>((\s*<<[^>N]+>>\s*)+)<<_LOOP_>>`~REPLACE:_FIRST_~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>><<\/_LOOP_>>`~REPLACE:_BLANK_~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>><<_LOOP_>>`~REPLACE:_BLANK_~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>>\s+<<\/_LOOP_>>`~REPLACE:_SPACE_~REPEAT:1}~	
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>>\s+<<_LOOP_>>`~REPLACE:_SPACE_~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`\[<<_LOOP_>>`~REPLACE:`<<_LOOP_>>[`~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>>\]`~REPLACE:`]<</_LOOP_>>`~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`\s+<<\/_LOOP_>>`~REPLACE:`<</_LOOP_>> =+=`}~	
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>>\.`~REPLACE:`.<<_LOOP_>> =+=`~REPEAT:1}~		
	{SEEK:`\s+\)`~REPLACE:`) =+=`}~
	{SEEK:`=\+=`~REPLACE:_BLANK_}
	{SEEK:` \s+`~REPLACE:_SPACE_}~	
]

FINAL_CLEANING_START:[
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>><<\/_LOOP_>>`~REPLACE:_BLANK_}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>><<_LOOP_>>`~REPLACE:_BLANK_}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>>\s+<<\/_LOOP_>>`~REPLACE:_SPACE_}~	
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>>\s+<<_LOOP_>>`~REPLACE:_SPACE_}~	
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>>((\s*<<[^>N]+>>\s*)+)<<\/_LOOP_>>`~REPLACE:_FIRST_~REPEAT:1}~	
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>>((\s*<<[^>N]+>>\s*)+)<<_LOOP_>>`~REPLACE:_FIRST_~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>><<\/_LOOP_>>`~REPLACE:_BLANK_~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>><<_LOOP_>>`~REPLACE:_BLANK_~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>>\s+<<\/_LOOP_>>`~REPLACE:_SPACE_~REPEAT:1}~	
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>>\s+<<_LOOP_>>`~REPLACE:_SPACE_~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`\[<<_LOOP_>>`~REPLACE:`<<_LOOP_>>[`~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>>\]`~REPLACE:`]<</_LOOP_>>`~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`\s+<<\/_LOOP_>>`~REPLACE:`<</_LOOP_>>  =+=`}~	
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>>\.`~REPLACE:`.<<_LOOP_>> =+=`~REPEAT:1}~	
	{LOOP:[B~I~U~C~F~S]~SEEK:`\s+<<_LOOP_>>\s+`~REPLACE:`=+= <<_LOOP_>>`~REPEAT:1}~	
	{SEEK:`=\+=`~REPLACE:_BLANK_}	
]

FINAL_CLEANING_FORMATS:[
    {SEEK:`^_+`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`_+$`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`^\s*`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`\s*$`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`^\s*<<T>>\s*`~REPLACE:_BLANK_~IGNORECASE:1}~	
	{SEEK:`\s*<<T>>\s*$`~REPLACE:_BLANK_~IGNORECASE:1}~	
	{SEEK:` y ears`~REPLACE:` years`~IGNORECASE:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>><<\/_LOOP_>>`~REPLACE:_BLANK_~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<_LOOP_>>\s*<<\/_LOOP_>>`~REPLACE:_SPACE_~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>><<\/_LOOP_>>`~REPLACE:`<</_LOOP_>>`~REPEAT:1}~
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>>\s*<<_LOOP_>>`~REPLACE:_BLANK_~REPEAT:1}~	
	{LOOP:[B~I~U~C~F~S]~SEEK:`<<\/_LOOP_>>\s+<<_LOOP_>>`~REPLACE:_SPACE_~REPEAT:1}
	
]

FINAL_CLEANING_END:[		
	{SEEK:`\s,(\s)`~REPLACE:`,\1`}~	
	{SEEK:`^\s*\.\s*`~REPLACE:_BLANK_}~
    {SEEK:` s([< ])`~REPLACE:`s\1`}~	
	{SEEK:`^\s*[-]\s*`~REPLACE:``}~
	{SEEK:`(\s+)o\s+`~REPLACE:`\1o`}~
	{SEEK:`(\s)\.\.\.`~REPLACE:`...\1`}~
	{SEEK:`\. \. \.`~REPLACE:`...`}~
	{SEEK:`^\s*`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`\s*$`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`^\s*<<T>>\s*`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`\s*<<T>>\s*$`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`<<T>>`~REPLACE:_SPACE_~IGNORECASE:1}~	
	{SEEK:`<<C>>`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`<<S>>`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`<<F>>`~REPLACE:_BLANK_~IGNORECASE:1}
	{SEEK:`<<\/C>>`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`<<\/S>>`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`<<\/F>>`~REPLACE:_BLANK_~IGNORECASE:1}
	{SEEK:`([^0-9])\s*(\d+\s+)*\d+\s+\d+\s*$`~REPLACE:_FIRST_}~	
	{SEEK:`^\s*`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`\s*$`~REPLACE:_BLANK_~IGNORECASE:1}~
	{SEEK:`_\s*`~REPLACE:_BLANK_~REPEAT:1}~
--- Disabled ids should be replaced by other functions this screws up statements starting with acronym	{SEEK:`^[A-Za-z]\.\s*`~REPLACE:_BLANK_}~
--- Disabled ids should be replaced by other ID identification functionality	{SEEK:`^\s*\(?\s*[0-9]+\s*\)?\s*([a-zA-Z])`~REPLACE:_FIRST_}~
--- Disabled ids should be replacedby other ID identification functionality	{SEEK:`([a-zA-Z])\s*\(?\s*[0-9]+\s*\)?\s*$`~REPLACE:_FIRST_}
]
