IMPORTATION_CONFIG
------ STRCTURE IDENTIFICATION ------
ID_TABLE_HEADING_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_TABLE_HEADING.config`
ID_SECOND_TABLE_HEADING_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_SECOND_TABLE_HEADING.config`
ID_LOGIC_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_LOGIC.config`
ID_LIST_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_LIST.config`
ID_LIST_HEADING_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_LIST_HEADING.config`
ID_QUESTION_TEXT_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_TEXT.config`
ID_QUESTION_ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_ID.config`
------ NEW LIST ------
ID_NEW_LIST_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_NEW.config`
------ SEGMENT IDENTIFICATION ------
ID_SEGMENT_LOGIC_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_SEGMENT_LOGIC.config`
ID_SEGMENT_TEXT_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_SEGMENT_TEXT.config`
ID_SEGMENT_ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_SEGMENT_ID.config`
------ PROCESS LOGIC ------
PROCESS_LOGIC_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/PROCESS_LOGIC.config`
------ LIST IDENTIFICATION ------
LIST_ID_CHOICE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_CHOICE.config`
LIST_ID_IDENFICATION_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_IDENTIFICATION.config`
------ CLEAN UP ------
PROCESS_CLEANUP_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/PROCESS_CLEANUP.config`
------ FORMATTING ------
QID_START:Q
QTEXT_START:<P>
QTEXT_END:</P>
QTEXT_NEW_LINE:</P><P>
QTEXT_BLANK_LINE:</P><P>&nbsp;</P><P>
ADDITIONAL_CLEANUP:[
		{SEARCH:`-\s+-`~ REPLACE:`-`}~
		{SEARCH:`e\. g\.`~ REPLACE:`e.g.`}~		
		{SEARCH:`i\. e\.`~ REPLACE:`i.e.`}~		
		{SEARCH:`^\s*\]\s*`~ REPLACE_CLEAR}~
		{SEARCH:`__+`~REPLACE_CLEAR}		
]
BOLD_START:<STRONG>
BOLD_END:</STRONG>
ITALIC_START:<EM>
ITALIC_END:</EM>
UNDERLINE_START:`<SPAN STYLE="TEXT-DECORATION: UNDERLINE;">`
UNDERLINE_END:</SPAN>
REMVOE_LEADING_ID
------ VALUES ------
INC_VALUES:{
	TERMID:21~
	QUALID:71
}
------ SCALE FORMATTING ------
SCALE_FORMATTING:{
	LIST:[
		{LIST_CONTAINS:`\d+`~ CONDITION:`.*[A-Z].*`~ ADD_LEADING:`{ID} - `~ EXCEPTIONS:[{TYPE:CODE~VALUE:997}~{TYPE:CODE~VALUE:998}~{TYPE:CODE~VALUE:998}]}
	]~
	GRID:[
		{CONDITION:`\d+`~ ADD_LEADING:`<BR><BR>`}~
		{LIST_CONTAINS:`(<BR><BR>)?\d+`~ CONDITION:`.*[A-Z][A-Z][A-Z].*`~ ADD_TRAILING:`<BR>{ID}`~ EXCEPTIONS:[{TYPE:CODE~VALUE:997}~{TYPE:CODE~VALUE:998}~{TYPE:CODE~VALUE:998}]}
	]
}

------ LIST IDENTIFIERS -----
------ CHOICE CODES ------
CHOICE_ID:999
CHOICE_HEADING_START:770

------ STATEMENT CODES -----
STATEMENT_ID:A
STATEMENT_HEADING_START:HA

------ QUESTION TYPES ------
QUESTION_TYPES:[
	{ID:QTYPE_LIST~							ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QTYPE_LIST.config`~ 	      				TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_LIST.config`}~
	{ID:QTYPE_DESCRIPTION~					ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QTYPE_DESCRIPTION.config`~  				TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_DESCRIPTION.config`}~
	{ID:QTYPE_GRID~							ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QTYPE_GRID.config`~ 	      				TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_GRID.config`}~
	{ID:QTYPE_GRID_STRAIGHTLINE~			ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QTYPE_GRID_STRAIGHTLINE.config`~ 	      	TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_GRID_STRAIGHTLINE.config`}~
	{ID:QTYPE_OPEN_END~						ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QTYPE_OPEN_END.config`~ 	  				TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_OPEN_END.config`}~	
	{ID:QTYPE_AUTO_SUM~						ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_AUTO_SUM.config`~ 	  			TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_AUTO_SUM.config`}~
	{ID:QTYPE_RANKING~						ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_RANKING.config`~ 	  				TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_RANKING.config`}~
	{ID:QTYPE_RANKING_TEXT~					ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_RANKING_TEXT.config`~ 			TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_RANKING_TEXT.config`}~
	{ID:QTYPE_SLIDER~						ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_SLIDER.config`~ 	  				TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_SLIDER.config`}~
	{ID:QTYPE_SLIDER_GRID~					ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_SLIDER_GRID.config`~  			TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_SLIDER_GRID.config`}~
	{ID:QTYPE_TEXT_BOX~	    				ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_TEXT_BOX.config`~ 	    		TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_TEXT_BOX.config`}~
	{ID:QTYPE_TEXT_BOX_GRID~				ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_TEXT_BOX_GRID.config`~  			TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_TEXT_BOX_GRID.config`}~
	{ID:QTYPE_YOB~	  						ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_YOB.config`~  					TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_YOB.config`}~
	{ID:QTYPE_SINGLE_SELECT_AUTOFILL~	  	ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_SINGLE_SELECT_AUTOFILL.config`~  	TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_SINGLE_SELECT_AUTOFILL.config`}~
	{ID:QTYPE_QSTATE~	  					ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_QSTATE.config`~  					TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_QSTATE.config`}~	
	{ID:QTYPE_QCOMPUTED~	  				ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_COMPUTED.config`~  				TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_COMPUTED.config`}~
	{ID:QTYPE_QSELECTION~	  				ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_SELECTION.config`~  				TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_SELECTION.config`}~
	{ID:QTYPE_SINGLE_ROW_GRID~	 			ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_SINGLE_ROW_GRID.config`~  		TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_SINGLE_ROW_GRID.config`}~
	{ID:QTYPE_DROPDOWN~			 			ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/ID_QTYPE_DROPDOWN.config`~  		        TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QTYPE_DROPDOWN.config`}
]

------ QUESTION TYPES ------
START_TEXT:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QFI_IMPORT_DEFAULT_START.config`
END_TEXT:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QFI_IMPORT_DEFAULT_END.config`

------ LIST TYPING ------
LIST_TYPE:[
	{ID:SCALE~
	 CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_SCALE.config`
	 STATE:IN_SCALE
	}~
	{ID:SEQUENCE~
	 CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_SEQUENCE.config`
	 STATE:IN_SEQUENCE
	}
]

------ PROCESS STATES ------
PROCESS_STATES:[
	{ID:LOGIC_Q_TEXT		~WORDS:[Q_TEXT]      ~STATE:Q_TEXT     }~
	{ID:LOGIC_Q_LOGIC		~WORDS:[Q_LOGIC]     ~STATE:Q_LOGIC    }~
	{ID:LOGIC_Q_STATEMENT	~WORDS:[Q_STATEMENT] ~STATE:Q_STATEMENT}~
	{ID:LOGIC_Q_CHOICE 		~WORDS:[Q_CHOICE]    ~STATE:Q_CHOICE   }~
	{ID:LOGIC_Q_GRID 		~WORDS:[Q_GRID]      ~STATE:Q_GRID     }
]

------ ADDED TEXT ------
LOGIC:[
	{ID:LOGIC_MULTI~
		LOGIC_QUESTION~
		QUESTION_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_MULTI.config`~
		QUESTION_VALUE:{MULTI:1}
	}~
	{ID:LOGIC_RANDOMIZE~
		LOGIC_QUESTION~
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_RANDOMIZE.config`~
		QUESTION_VALUE:{RANDOMIZE:1}~
		LINE_VALUE:{RANDOMIZE:1}~
		LIST_VALUE:{RANDOMIZE:1}~
		NEXT_LINE_VALUE:{RANDOMIZE:1}~
		NEXT_LIST_VALUE:{RANDOMIZE:1}~		
		LIST_REMOVE_ON:[IN_SCALE~IN_SEQUENCE]		
	}~	
	{ID:LOGIC_QUESTION_SPLIT~	
		LOGIC_QUESTION~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_SPLIT.config`~
		LINE_VALUE:{IN_SPLIT_LOGIC:1}~
		NEXT_LINE_VALUE:{IN_SPLIT_LOGIC:1}
	}~
	{ID:LOGIC_INSTRUCTION~
		QUESTION_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_INSTRUCTION.config`~
		LINE_VALUE:{IN_INSTRUCTION:1}~
		NEXT_LINE_VALUE:{IN_INSTRUCTION:1}~
	}~
	{ID:LOGIC_TEXT_INSERT~
		LOGIC_QUESTION~
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_TEXT_INSERT.config`~
		LINE_INLINE_TEXT:`<<INSERT: _TEXT_ >>`
	}~
	{ID:LOGIC_COL_HEADING~
		LOGIC_QUESTION~
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_COLUMNS.config`~
		LINE_VALUE:{COL_HEADING:1}~
		NEXT_LINE_VALUE:{COL_HEADING:1}~
		NEXT_LIST_VALUE:{COL_HEADING:1}	
	}~
	{ID:LOGIC_ROW_HEADING~	
		LOGIC_QUESTION~	
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_ROWS.config`~
		LINE_VALUE:{ROW_HEADING:1}~
		NEXT_LINE_VALUE:{ROW_HEADING:1}~
		NEXT_LIST_VALUE:{ROW_HEADING:1}	
	}~
	{ID:LOGIC_QUESTION_SKIP~	
		LOGIC_QUESTION~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_SKIP.config`~
		STRIP_TEXT_TAGS~
		QUESTION_VALUE:{SKIP_LOGIC:1~SKIP_LOGIC_TEXT:_TEXT_}
	}~	
	{ID:LOGIC_QUESTION_OPEN_END~	
		LOGIC_QUESTION~		
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_OPEN_END.config`~
		QUESTION_VALUE:{QTYPE_OPEN_END:1~OPEN_END:1}
	}~
	{ID:LOGIC_ADDED_TERM~	
		LOGIC_QUESTION~
		LOGIC_LIST~
		QUESTION_UNIQUE~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_TERMINATE.config`~
		POST_QUESTION_ADD:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/QFI/TEMPLATE_QFI_IMPORT_DEFAULT_TERM.config`~					
		STRIP_TEXT_TAGS~
		QUESTION_VALUE:{TERM_TEXT:_TEXT_~TERM_ID:TERMID}~		
		INC_VALUES:[TERMID]
	}~
	{ID:LOGIC_OTHER~ 		
		LOGIC_LIST~
		LIST_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_OTHER.config`~
		LIST_ITEM_APPEND_TEXT:` [{*P:o;f}]`
		LIST_ITEM_ID:888~
		LIST_VALUE:{OTHER_SPECIFY:1}~
		LINE_VALUE:{OTHER_SPECIFY:1~SPECIAL:1}~
		NEXT_LINE_VALUE:{PREV_OTHER:1}
	}~	
	{ID:LOGIC_NONE~ 		
		LOGIC_LIST~	
		LIST_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_NONE.config`~
		LIST_ITEM_APPEND_TEXT:` [{*P:f;e}]`
		LIST_ITEM_ID:997~
		LIST_VALUE:{EXCLUSIVE:1}~
		LINE_VALUE:{EXCLUSIVE:1~SPECIAL:1}~
		NEXT_LINE_VALUE:{PREV_EXCLUSIVE:1}
	}~	
	{ID:LOGIC_DONT_KNOW~ 	
		LOGIC_LIST~	
		LIST_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_DONT_KNOW.config`~
		LIST_ITEM_APPEND_TEXT:` [{*P:f;e}]`
		LIST_ITEM_ID:998~
		LIST_VALUE:{EXCLUSIVE:1}~
		LINE_VALUE:{EXCLUSIVE:1~SPECIAL:1}~
		NEXT_LINE_VALUE:{PREV_EXCLUSIVE:1}
	}~	
	{ID:LOGIC_REFUSED~ 		
		LOGIC_LIST~	
		LIST_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_REFUSED.config`~
		LIST_ITEM_APPEND_TEXT:` [{*P:f;e}]`
		LIST_ITEM_ID:999~
		LIST_VALUE:{EXCLUSIVE:1}~
		LINE_VALUE:{EXCLUSIVE:1~SPECIAL:1}~
		NEXT_LINE_VALUE:{PREV_EXCLUSIVE:1}
	}~		
	{ID:LOGIC_LIST_SKIP_LOGIC~ 		
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_LIST_SKIP_LOGIC.config`~
		STRIP_TEXT_TAGS~
		LINE_VALUE:{LIST_SKIP_LOGIC:_TEXT_}
	}~		
	{ID:QUESTION_ID~ 		
		LOGIC_QUESTION~
		WORDS:[QUESTION_ID]~	
		CLEAN_TEXT:[`QUESTION_ID:`]~
		SET_QUESTION_ID
	}~		
	{ID:ID_QTYPE_LIST                       ~LOGIC_QUESTION ~WORDS:[QTYPE_LIST]                     ~QUESTION_VALUE:{QTYPE_LIST:1}                    ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_DESCRIPTION                ~LOGIC_QUESTION ~WORDS:[QTYPE_DESCRIPTION]              ~QUESTION_VALUE:{QTYPE_DESCRIPTION:1}             ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_DROPDOWN                   ~LOGIC_QUESTION ~WORDS:[QTYPE_DROPDOWN]                 ~QUESTION_VALUE:{QTYPE_DROPDOWN:1}                ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_GRID                       ~LOGIC_QUESTION ~WORDS:[QTYPE_GRID]                     ~QUESTION_VALUE:{QTYPE_GRID:1}                    ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_GRID_STRAIGHTLINE          ~LOGIC_QUESTION ~WORDS:[QTYPE_GRID_STRAIGHTLINE]        ~QUESTION_VALUE:{QTYPE_GRID_STRAIGHTLINE:1}       ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_SINGLE_ROW_GRID            ~LOGIC_QUESTION ~WORDS:[QTYPE_SINGLE_ROW_GRID]          ~QUESTION_VALUE:{QTYPE_SINGLE_ROW_GRID:1}         ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_OPEN_END                   ~LOGIC_QUESTION ~WORDS:[QTYPE_OPEN_END]                 ~QUESTION_VALUE:{QTYPE_OPEN_END:1}                ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_AUTO_SUM                   ~LOGIC_QUESTION ~WORDS:[QTYPE_AUTO_SUM]                 ~QUESTION_VALUE:{QTYPE_AUTO_SUM:1}                ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_RANKING                    ~LOGIC_QUESTION ~WORDS:[QTYPE_RANKING]                  ~QUESTION_VALUE:{QTYPE_RANKING:1}                 ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_RANKING_TEXT               ~LOGIC_QUESTION ~WORDS:[QTYPE_RANKING_TEXT]             ~QUESTION_VALUE:{QTYPE_RANKING_TEXT:1}            ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_SLIDER                     ~LOGIC_QUESTION ~WORDS:[QTYPE_SLIDER]                   ~QUESTION_VALUE:{QTYPE_SLIDER:1}                  ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_SLIDER_GRID                ~LOGIC_QUESTION ~WORDS:[QTYPE_SLIDER_GRID]              ~QUESTION_VALUE:{QTYPE_SLIDER_GRID:1}             ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_TEXT_BOX                   ~LOGIC_QUESTION ~WORDS:[QTYPE_TEXT_BOX]                 ~QUESTION_VALUE:{QTYPE_TEXT_BOX:1}                ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_TEXT_BOX_GRID              ~LOGIC_QUESTION ~WORDS:[QTYPE_TEXT_BOX_GRID]            ~QUESTION_VALUE:{QTYPE_TEXT_BOX_GRID:1}           ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_YOB                        ~LOGIC_QUESTION ~WORDS:[QTYPE_YOB]                      ~QUESTION_VALUE:{QTYPE_YOB:1}                     ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_SINGLE_SELECT_AUTOFILL     ~LOGIC_QUESTION ~WORDS:[QTYPE_SINGLE_SELECT_AUTOFILL]   ~QUESTION_VALUE:{QTYPE_SINGLE_SELECT_AUTOFILL:1}  ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_STATE                      ~LOGIC_QUESTION ~WORDS:[QTYPE_STATE]                    ~QUESTION_VALUE:{QTYPE_STATE:1}                   ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_SELECTION                  ~LOGIC_QUESTION ~WORDS:[QTYPE_SELECTION]                ~QUESTION_VALUE:{QTYPE_SELECTION:1}               ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_COMPUTED                   ~LOGIC_QUESTION ~WORDS:[QYTPE_COMPUTED]                 ~QUESTION_VALUE:{QTYPE_COMPUTED:1}                ~QUESTION_TYPE ~DELETE}

]





