IMPORTATION_CONFIG
------ STRCTURE IDENTIFICATION ------
ID_TABLE_HEADING_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_TABLE_HEADING.config`
ID_SECOND_TABLE_HEADING_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_SECOND_TABLE_HEADING.config`
ID_LOGIC_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_LOGIC_PHONE.config`
ID_LIST_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_LIST.config`
ID_LIST_HEADING_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_LIST_HEADING.config`
ID_QUESTION_TEXT_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_TEXT_PHONE.config`
ID_QUESTION_ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QUESTION_ID.config`
------ NEW LIST ------
ID_NEW_LIST_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_NEW.config`
------ SEGMENT IDENTIFICATION ------
ID_SEGMENT_LOGIC_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_SEGMENT_LOGIC_PHONE.config`
ID_SEGMENT_TEXT_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_SEGMENT_TEXT_PHONE.config`
ID_SEGMENT_ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_SEGMENT_ID.config`
------ PROCESS LOGIC ------
PROCESS_LOGIC_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/PROCESS_LOGIC.config`
------ LIST IDENTIFICATION ------
LIST_ID_CHOICE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_CHOICE.config`
LIST_ID_IDENFICATION_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_IDENTIFICATION.config`
------ CLEAN UP ------
PROCESS_CLEANUP_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/PROCESS_CLEANUP.config`
------ FORMATTING ------
QID_START:Q
QTEXT_NEW_LINE:`{BR}`
QTEXT_BLANK_LINE:`{BR}{BR}`
ADDITIONAL_CLEANUP:[...
		{SEARCH:`\[`~ REPLACE:`(`}~
		{SEARCH:`\]`~ REPLACE:`)`}~
		{SEARCH:`-\s+-`~ REPLACE:`-`}~
		{SEARCH:`e\. g\.`~ REPLACE:`e.g.`}~	
		{SEARCH:`i\. e\.`~ REPLACE:`i.e.`}~						
		{SEARCH:`\(\s+`~ REPLACE:`(`}			
]

BOLD_START:`{B}`
BOLD_END:`{/B}`
ITALIC_START:`{I}`
ITALIC_END:`{/I}`
UNDERLINE_START:`{U}`
UNDERLINE_END:`{/U}`

------ VALUES ------
INC_VALUES:{
	TERMQID:21
	TERMID:1
}

------ CHOICE CODES ------
CHOICE_ID:9
CHOICE_HEADING_START:770

------ STATEMENT CODES -----
STATEMENT_ID:A

------ QUESTION TYPES ------
QUESTION_TYPES:[...
	{ID:LIST~			ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QTYPE_LIST.config`~ 		 TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/VOXCO_CATI/TEMPLATE_VOXCO_CATI_QTYPE_LIST.config`}~...
	{ID:DESCRIPTION~	ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QTYPE_DESCRIPTION.config`~ TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/VOXCO_CATI/TEMPLATE_VOXCO_CATI_QTYPE_DESCRIPTION.config`}~...
	{ID:GRID~			ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QTYPE_GRID.config`~ 		 TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/VOXCO_CATI/TEMPLATE_VOXCO_CATI_QTYPE_GRID.config`}~...
	{ID:OPEN_END~		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_QTYPE_OPEN_END.config`~ 	 TEMPLATE_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/VOXCO_CATI/TEMPLATE_VOXCO_CATI_QTYPE_OPEN_END.config`}...
]


------ QUESTIONAIRE BLOCKS ------
START_TEXT:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/VOXCO_CATI/TEMPLATE_VOXCO_CATI_IMPORT_START.config`
END_TEXT:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/VOXCO_CATI/TEMPLATE_VOXCO_CATI_IMPORT_END.config`

------ LIST TYPING ------
LIST_TYPE:[
	{ID:SCALE~
	 CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_SCALE.config`
	 STATE:IN_SCALE
	}~
	{ID:SEQUENCE~
	 CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LIST_SEQUENCE.config`
	 STATE:IN_SEQUENCE
	}
]

------ PROCESS STATES ------
PROCESS_STATES:[
	{ID:LOGIC_Q_TEXT		~WORDS:[Q_TEXT]      ~STATE:Q_TEXT     }~
	{ID:LOGIC_Q_LOGIC		~WORDS:[Q_LOGIC]     ~STATE:Q_LOGIC    }~
	{ID:LOGIC_Q_STATEMENT	~WORDS:[Q_STATEMENT] ~STATE:Q_STATEMENT}~
	{ID:LOGIC_Q_CHOICE 		~WORDS:[Q_CHOICE]    ~STATE:Q_CHOICE   }~
	{ID:LOGIC_Q_GRID 		~WORDS:[Q_GRID]      ~STATE:Q_GRID     }
]


------ LOGIC ------
LOGIC:[
	{ID:LOGIC_MULTI~
		LOGIC_QUESTION~
		QUESTION_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_MULTI.config`~
		QUESTION_VALUE:{MULTI:1}
	}~
	{ID:LOGIC_RANDOMIZE~
		LOGIC_QUESTION~
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_RANDOMIZE.config`~
		QUESTION_VALUE:{RANDOMIZE:1}~
		LINE_VALUE:{RANDOMIZE:1}~
		LIST_VALUE:{RANDOMIZE:1}~
		NEXT_LINE_VALUE:{RANDOMIZE:1}~
		NEXT_LIST_VALUE:{RANDOMIZE:1}~		
		LIST_REMOVE_ON:[IN_SCALE~IN_SEQUENCE]		
	}~	
	{ID:LOGIC_QUESTION_SPLIT~	
		LOGIC_QUESTION~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_SPLIT.config`~
		LINE_VALUE:{IN_SPLIT_LOGIC:1}~
		NEXT_LINE_VALUE:{IN_SPLIT_LOGIC:1}
	}~	
	{ID:LOGIC_INSTRUCTION~
		QUESTION_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_INSTRUCTION.config`~
		LINE_VALUE:{IN_INSTRUCTION:1}~
		NEXT_LINE_VALUE:{IN_INSTRUCTION:1}~
	}~
	{ID:LOGIC_TEXT_INSERT~
		LOGIC_QUESTION~
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_TEXT_INSERT.config`~
		LINE_INLINE_TEXT:`<<INSERT: _TEXT_ >>`
	}~
	{ID:LOGIC_COL_HEADING~
		LOGIC_QUESTION~
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_COLUMNS.config`~
		LINE_VALUE:{COL_HEADING:1}~
		NEXT_LINE_VALUE:{COL_HEADING:1}~
		NEXT_LIST_VALUE:{COL_HEADING:1}	
	}~
	{ID:LOGIC_ROW_HEADING~	
		LOGIC_QUESTION~	
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_ROWS.config`~
		LINE_VALUE:{ROW_HEADING:1}~
		NEXT_LINE_VALUE:{ROW_HEADING:1}~
		NEXT_LIST_VALUE:{ROW_HEADING:1}	
	}~
	{ID:LOGIC_QUESTION_SKIP~	
		LOGIC_QUESTION~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_SKIP.config`~
		STRIP_TEXT_TAGS~
		QUESTION_VALUE:{SKIP_LOGIC:1~SKIP_LOGIC_TEXT:_TEXT_}
	}~	
	{ID:LOGIC_QUESTION_OPEN_END~	
		LOGIC_QUESTION~		
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_OPEN_END.config`~
		QUESTION_VALUE:{OPEN_END:1}
	}~
	{ID:LOGIC_ADDED_TERM~	
		LOGIC_QUESTION~
		LOGIC_LIST~
		QUESTION_UNIQUE~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_TERMINATE.config`~
		POST_QUESTION_ADD:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/VOXCO_CATI/TEMPLATE_VOXCO_CATI_IMPORT_TERM.config`~					
		STRIP_TEXT_TAGS~
		QUESTION_VALUE:{TERM_TEXT:_TEXT_~TERM_ID:TERMID~TERM_QID:TERMQID}~		
		INC_VALUES:[TERMID~TERMQID]
	}~
	{ID:LOGIC_OTHER~ 		
		LOGIC_LIST~
		LIST_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_OTHER.config`~
		LIST_ITEM_ID:888~
		LIST_VALUE:{OTHER_SPECIFY:1}~
		LINE_VALUE:{OTHER_SPECIFY_FLAG:1~OTHER_SPECIFY:1~SPECIAL:1}~
		NEXT_LINE_VALUE:{PREV_OTHER:1}
	}~	
	{ID:LOGIC_NONE~ 		
		LOGIC_LIST~	
		LIST_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_NONE.config`~
		LIST_VALUE:{EXCLUSIVE:1}~
		LINE_VALUE:{EXCLUSIVE_FLAG:1~EXCLUSIVE:1~SPECIAL:1}~
		NEXT_LINE_VALUE:{PREV_EXCLUSIVE:1}
	}~	
	{ID:LOGIC_DONT_KNOW~ 	
		LOGIC_LIST~	
		LIST_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_DONT_KNOW.config`~
		LIST_VALUE:{EXCLUSIVE:1}~
		LINE_VALUE:{EXCLUSIVE_FLAG:1~EXCLUSIVE:1~SPECIAL:1}~
		NEXT_LINE_VALUE:{PREV_EXCLUSIVE:1}
	}~	
	{ID:LOGIC_REFUSED~ 		
		LOGIC_LIST~	
		LIST_TEXT~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_REFUSED.config`~
		LIST_VALUE:{EXCLUSIVE:1}~
		LINE_VALUE:{EXCLUSIVE_FLAG:1~EXCLUSIVE:1~SPECIAL:1}~
		NEXT_LINE_VALUE:{PREV_EXCLUSIVE:1}
	}~		
	{ID:LOGIC_LIST_SKIP_LOGIC~ 		
		LOGIC_LIST~
		ID_CONFIG:`K:\Programs\Development\SurveySetup Ver2\CONFIGS/ID_LOGIC_LIST_SKIP_LOGIC.config`~
		STRIP_TEXT_TAGS~
		LINE_VALUE:{LIST_SKIP_LOGIC:_TEXT_}
	}~		

	{ID:ID_QTYPE_LIST                       ~LOGIC_QUESTION ~WORDS:[QTYPE_LIST]                     ~QUESTION_VALUE:{QTYPE_LIST:1}                    ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_DESCRIPTION                ~LOGIC_QUESTION ~WORDS:[QTYPE_DESCRIPTION]              ~QUESTION_VALUE:{QTYPE_DESCRIPTION:1}             ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_GRID                       ~LOGIC_QUESTION ~WORDS:[QTYPE_GRID]                     ~QUESTION_VALUE:{QTYPE_GRID:1}                    ~QUESTION_TYPE ~DELETE}~
	{ID:ID_QTYPE_OPEN_END                   ~LOGIC_QUESTION ~WORDS:[QTYPE_OPEN_END]                 ~QUESTION_VALUE:{QTYPE_OPEN_END:1}                ~QUESTION_TYPE ~DELETE}
]









