QUESTION_TYPE_ID:COMPUTED
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...	
	{CHECK:DEFINED_CHOICE}~...	
	{CHECK:NOT(DEFINED_STATEMENTS)}...	
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_COMPUTED~				WEIGHT:200}		
	
]
