QUESTION_TYPE_ID:AUTO_SUM
MULTI_MENTION
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...	
	{CHECK:DEFINED_CHOICE}~...	
	{CHECK:NOT(DEFINED_STATEMENTS)}...	
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_AUTO_SUM~				WEIGHT:200}		
]
