QUESTION_TYPE_ID:SINGLE_ROW_GRID
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[
	{CHECK:DEFINED_CHOICE}	
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_SINGLE_ROW_GRID~				WEIGHT:200}						
]
