QUESTION_TYPE_ID:SELECTION
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...	
	{CHECK:DEFINED_CHOICE}~...	
	{CHECK:NOT(DEFINED_STATEMENTS)}...	
]
------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_SELECTION~				WEIGHT:200}						
]
