QUESTION_TYPE_ID:LIST
MULTI_MENTION
DEFAULT:45
------------- REQUIREMENTS ------------
REQUIREMENTS:[...	
	{CHECK:NOT(DEFINED_STATEMENTS)}...	
]
------------------ KEYWORDS ------------------
KEYWORDS:{}
------------- CONDITIONS ------------
CONDITIONS:[...	
	{CHECK:CHOICE_COUNT>3~											WEIGHT:-50}~...	
	{CHECK:CHOICE_COUNT>CHOICE_SPECIAL_COUNT~				WEIGHT:-25}~	
	{CHECK:QTYPE_TEXT_BOX~				WEIGHT:200}
]