QUESTION_TYPE_ID:SINGLE_SELECT_AUTOFILL
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...	
	{CHECK:DEFINED_CHOICE}~...	
	{CHECK:NOT(DEFINED_STATEMENTS)}...	
]

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_SINGLE_SELECT_AUTOFILL~				WEIGHT:200}						
]
