QUESTION_TYPE_ID:TEXT_BOX_GRID
MULTI_MENTION
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...	
	{CHECK:DEFINED_CHOICE}~...	
	{CHECK:NOT(DEFINED_STATEMENTS)}...	
]
------------------ KEYWORDS ------------------
KEYWORDS:{}


------------- CONDITIONS ------------
CONDITIONS:[...	
	{CHECK:CHOICE_COUNT>3~									WEIGHT:-50}~	
	{CHECK:CHOICE_COUNT>CHOICE_SPECIAL_COUNT~				WEIGHT:-25}~	
	{CHECK:QTYPE_TEXT_BOX_GRID~				WEIGHT:250}	
]