QUESTION_TYPE_ID:SLIDER_GRID
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...	
	{CHECK:DEFINED_CHOICE}~...	
	{CHECK:DEFINED_STATEMENTS}...	
]
------------------ KEYWORDS ------------------
KEYWORDS:{
}


------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_SLIDER_GRID~				WEIGHT:200}							
]