QUESTION_TYPE_ID:RANKING_TEXT
MULTI_MENTION
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...	
	{CHECK:DEFINED_CHOICE}~...	
	{CHECK:NOT(DEFINED_STATEMENTS)}...	
]
------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_RANKING_TEXT~				WEIGHT:200}								
]
