~PAGE: ##\n
~NQ:INT<<TERM_ID>>: EXITVAR\n
~INT<<TERM_ID>>_QT: {TEST}Thank you for your time.  Have a wonderful day.\n
~INT<<TERM_ID>>_CL:\n
{0<<TERM_ID>>} INT<<TERM_ID>> - Q<<TERM_ID>> - TEST [{*ASK:MODE=1 AND }{*EXIT:True}{*EXITURL:{LINK}}]\n
{1<<TERM_ID>>} INT<<TERM_ID>> - Q<<TERM_ID>> - LIVE [{*ASK:MODE=2 AND }{*EXIT:True}{*EXITURL:{LINK}}]\n
~INT<<TERM_ID>>_SET: \n
[{CTYPE:terminate; SHOWMESSAGE:True; DELAY:5;}]\n
#######################\n

