~PAGE: ##\n
~NQ:<<QUESTION_ID>>:LS\n
~<<QUESTION_ID>>_QT:<<QUESTION_TEXT>>\n
~<<QUESTION_ID>>_CL:[{[[*SORT:RAND; ]]:CHOICE_RANDOMIZE*MIN:<<QUESTION_MIN>>; *MAX:<<QUESTION_MAX>>;}]\n
{{{<<CHOICE_ID>>} <<CHOICE_TEXT>>[[ [{*ASK: <<CHOICE_LIST_SKIP_LOGIC_TEXT>>}]]]:CHOICE_LIST_SKIP_LOGIC\n}}:CHOICE_LIST
~<<QUESTION_ID>>_SET: \n
[{LSTYPE:Choice List; OPENENDREQ:True;}]\n
[[~<<QUESTION_ID>>_LOGIC:\n
[{ASKIF: <<SKIP_LOGIC_TEXT>>;}]\n]]:SKIP_LOGIC
#######################\n
<<EXTRA_LOGIC>>


