~PAGE: ##\n
~NQ:X<<QUESTION_ID>>:LS\n
~X<<QUESTION_ID>>_QT:<<QUESTION_TEXT>>\n
~X<<QUESTION_ID>>_CL:[{[[*SORT:RAND; ]]:CHOICE_RANDOMIZE*MIN:1; *MAX:1;}]\n
{{{<<CHOICE_ID>>} <<CHOICE_TEXT>> [{*ASK: SOURCE=<<CHOICE_ID>>}]\n}}:CHOICE_LIST
[[~<<QUESTION_ID>>_LOGIC:\n
[{ASKIF: <<SKIP_LOGIC_TEXT>>;}]\n]]:SKIP_LOGIC
#######################\n
\n
~PAGE: ##\n
~NQ:<<QUESTION_ID>>:COMPUTATION\n
~<<QUESTION_ID>>_QT:<<QUESTION_ID>> - COMPUTED - AUTOFILLED QUESTION - <<QUESTION_TEXT>>\n
~<<QUESTION_ID>>_CL:[{*MIN:1; *MAX:1;}]\n
{{{<<CHOICE_ID>>} <<CHOICE_TEXT>> [{*ASK: (RCT(SOURCE)=0 AND SOURCE=<<CHOICE_ID>>) OR X<<QUESTION_ID>>=<<CHOICE_ID>>}]\n}}:CHOICE_LIST
~<<QUESTION_ID>>_SET:\n
[{CTYPE:list; RECOMPUTE:True;}]\n
#######################\n
<<EXTRA_LOGIC>>
