~PAGE: ##\n
~NQ:X<<QUESTION_ID>>:COMPUTATION\n
~X<<QUESTION_ID>>_QT:<<QUESTION_TEXT>>\n
~X<<QUESTION_ID>>_CL:[{*MIN:<<QUESTION_MIN>>; *MAX:<<QUESTION_MAX>>;}]\n
{{{<<CHOICE_ID>>} <<CHOICE_TEXT>> [{*ASK:}]\n}}:CHOICE_LIST
~X<<QUESTION_ID>>_SET: \n
[{CTYPE:list; RECOMPUTE:True;}]\n
<<EXTRA_LOGIC>>
#######################