~PAGE: ##\n
~NQ:<<QUESTION_ID>>: RANKING\n
~<<QUESTION_ID>>_QT: <<QUESTION_TEXT>>\n
~<<QUESTION_ID>>_CL:[{*MIN:1; *MAX:1;}]\n
~<<QUESTION_ID>>_CL:[{[[*SORT:RAND; ]]:CHOICE_RANDOMIZE*MIN:<<QUESTION_MIN>>; *MAX:<<QUESTION_MAX>>;}]\n
{{{<<CHOICE_ID>>} <<CHOICE_TEXT>>\n}}:CHOICE_LIST
[[~<<QUESTION_ID>>_LOGIC:\n
[{ASKIF: <<SKIP_LOGIC_TEXT>>;}]\n]]:SKIP_LOGIC
<<EXTRA_LOGIC>>
#######################