~PAGE: ##\n
~PAGE: ##\n
~NQ:<<QUESTION_ID>>: GS\n
~<<QUESTION_ID>>_QT:<<QUESTION_TEXT>>\n
~<<QUESTION_ID>>_ROW:[[[{*SORT:RAND;}]]]:STATEMENT_1_RANDOMIZE\n
{{{<<STATEMENT_1_ID>>} <<STATEMENT_1_TEXT>> [[ [{*ASK: <<STATEMENT_1_LIST_SKIP_LOGIC_TEXT>>}]]]:STATEMENT_1_LIST_SKIP_LOGIC\n}}:STATEMENT_1_LIST
~<<QUESTION_ID>>_COL:[{*MIN:1; *MAX:1;}]\n
{{{<<CHOICE_ID>>} <<CHOICE_TEXT>>\n}}:CHOICE_LIST
~<<QUESTION_ID>>_SET: \n
[{EXTREMELEFTLABEL:--LEFT_LABEL--; RIGHTLABEL:--RIGHT_LABEL--; FLOATTITLE:True; SHOWTITLE:True;}]\n
[[~<<QUESTION_ID>>_LOGIC:\n
[{ASKIF: <<SKIP_LOGIC_TEXT>>;}]\n]]:SKIP_LOGIC
#######################\n
<<EXTRA_LOGIC>>
