
~PAGE: ##
~NQ:TME: COMPUTATION
~TME_QT: TME (COMPUTATION).  for END TIME
~TME_CL:[{*MIN:1; *MAX:1;}]
{001} END TIME [{*ASK:_TMESTIME_}]
~TME_SET: 
[{CTYPE:text; RECOMPUTE:True; MAXCHAR:12;}]
#######################
~PAGE: ##
~NQ:TMT: COMPUTATION
~TMT_QT: TMT - TIME Difference from
~TMT_CL:[{*MIN:1; *MAX:1;}]
{001} Total Time Taken in seconds: [{*ASK:TME|O - TMS|O}]
~TMT_SET: 
[{CTYPE:text; RECOMPUTE:True; MAXCHAR:12;}]
#######################
~PAGE: ##
~NQ:TMCHK: COMPUTATION
~TMCHK_QT: TMCHK (COMPUTATION).  QC - 10 min = 600 seconds
~TMCHK_CL:[{*MIN:1; *MAX:1;}]
{001} <b>Time to complete less than XX minutes.</b> [{*ASK:TMT|O < 60000}]
{002} <b>Time to complete equal or more than XX minutes.</b> [{*ASK:TMT|O >= 60000}]
~TMCHK_SET: 
[{CTYPE:list; RECOMPUTE:True;}]
#######################
~PAGE: ##
~NQ:INT70: EXITVAR
~INT70_QT: <p>CURRENTLY DISABLED</p><p>Thank you for your responses. Unfortunately, our quota for this group is full.</p>
~INT70_CL:
{070} INT70 - SPEEDSTER [{*ASK:0>1 AND NOT(PANEL>0) AND TMCHK=001}{*EXIT:True}{*EXITURL:{SPEEDLINK}}]
{170} INT70 - SPEEDSTER [{*ASK:0>1 AND PANEL=1 AND TMCHK=001}{*EXIT:True}{*EXITURL:{SPEEDLINK}}]
{270} INT70 - SPEEDSTER [{*ASK:0>1 AND PANEL=2 AND TMCHK=001}{*EXIT:True}{*EXITURL:{SPEEDLINK}}]
{370} INT70 - SPEEDSTER [{*ASK:0>1 AND PANEL=3 AND TMCHK=001}{*EXIT:True}{*EXITURL:{SPEEDLINK}}]
{470} INT70 - SPEEDSTER [{*ASK:0>1 AND PANEL=4 AND TMCHK=001}{*EXIT:True}{*EXITURL:{SPEEDLINK}}]
{570} INT70 - SPEEDSTER [{*ASK:0>1 AND PANEL=5 AND TMCHK=001}{*EXIT:True}{*EXITURL:{SPEEDLINK}}]
~INT70_SET: 
[{CTYPE:terminate; SHOWMESSAGE:True; DELAY:3;}]
#######################

~PAGE: ##
~NQ:COMP: EXITVAR
~COMP_QT: <p>Thank you for participating in our survey.</p>
~COMP_CL:
{090} COMP[{*ASK:NOT(PANEL>0)}{*EXIT:True}{*EXITURL:{COMPLINK}}]
{190} COMP[{*ASK:PANEL=1}{*EXIT:True}{*EXITURL:{COMPLINK}}]
{290} COMP[{*ASK:PANEL=2}{*EXIT:True}{*EXITURL:{COMPLINK}}]
{390} COMP[{*ASK:PANEL=3}{*EXIT:True}{*EXITURL:{COMPLINK}}]
{490} COMP[{*ASK:PANEL=4}{*EXIT:True}{*EXITURL:{COMPLINK}}]
{590} COMP[{*ASK:PANEL=5}{*EXIT:True}{*EXITURL:{COMPLINK}}]
~COMP_SET: 
[{CTYPE:complete; SHOWMESSAGE:True; DELAY:3;}]
#######################

~PAGE: ##
~NQ:QFULL: EXITVAR
~QFULL_QT: <p>Thank you for your responses. This survey is now closed.</p>
~QFULL_CL:
{097} QFULL [{*ASK:NOT(PANEL>0) AND }{*EXIT:True}{*EXITURL:{QFULLLINK}}]
{197} QFULL [{*ASK:PANEL=1}{*EXIT:True}{*EXITURL:{QFULLLINK}}]
{297} QFULL [{*ASK:PANEL=2}{*EXIT:True}{*EXITURL:{QFULLLINK}}]
{397} QFULL [{*ASK:PANEL=3}{*EXIT:True}{*EXITURL:{QFULLLINK}}]
{497} QFULL [{*ASK:PANEL=4}{*EXIT:True}{*EXITURL:{QFULLLINK}}]
{597} QFULL [{*ASK:PANEL=5}{*EXIT:True}{*EXITURL:{QFULLLINK}}]
~QFULL_SET: 
[{CTYPE:quota_full; SHOWMESSAGE:True; DELAY:3;}]
#######################