~PAGE: ##\n
~NQ:INT<<TERM_ID>>: EXITVAR\n
~INT<<TERM_ID>>_QT: <p>Thank you for your responses. Unfortunately, our quota for this group is full.</p>\n
~INT<<TERM_ID>>_CL:\n
{0<<TERM_ID>>} INT<<TERM_ID>> - <<QUESTION_ID>> - [{*ASK:NOT(PANEL>0) AND }{*EXIT:True}{*EXITURL:{TERMLINK}}]\n
{1<<TERM_ID>>} INT<<TERM_ID>> - <<QUESTION_ID>> - [{*ASK:PANEL=1 AND }{*EXIT:True}{*EXITURL:{TERMLINK}}]\n
{2<<TERM_ID>>} INT<<TERM_ID>> - <<QUESTION_ID>> - [{*ASK:PANEL=2 AND }{*EXIT:True}{*EXITURL:{TERMLINK}}]\n
{3<<TERM_ID>>} INT<<TERM_ID>> - <<QUESTION_ID>> - [{*ASK:PANEL=3 AND }{*EXIT:True}{*EXITURL:{TERMLINK}}]\n
{4<<TERM_ID>>} INT<<TERM_ID>> - <<QUESTION_ID>> - [{*ASK:PANEL=4 AND }{*EXIT:True}{*EXITURL:{TERMLINK}}]\n
{5<<TERM_ID>>} INT<<TERM_ID>> - <<QUESTION_ID>> - [{*ASK:PANEL=5 AND }{*EXIT:True}{*EXITURL:{TERMLINK}}]\n
~INT<<TERM_ID>>_SET: \n
[{CTYPE:terminate; SHOWMESSAGE:True; DELAY:3;}]\n
#######################\n