~PAGE: 1
~NQ:PANEL: SAMPLE
~PANEL_QT: PANEL variable
~PANEL_CL:
{1} PANEL 1
{2} PANEL 2
{3} PANEL 3
{4} PANEL 4
{5} PANEL 5
~PANEL_SET: 
[{CTYPE:list;}]
#######################
~PAGE: ##
~NQ:UID: SAMPLE
~UID_QT: UID - PANEL VARIABLE - ZAMPLIA ID
~UID_CL:
{001} UID
~UID_SET: 
[{CTYPE:text; MAXCHAR:9;}]
#######################
~PAGE: ##
~NQ:rd: SAMPLE
~rd_QT: rd - PANEL VARIABLE - ZAMPLIA ID
~rd_CL:
{001} rd
~rd_SET: 
[{CTYPE:text; MAXCHAR:10;}]
#######################
~PAGE: ##
~NQ:QVENDOR: SAMPLE
~QVENDOR_QT: QVENDOR - PANEL VARIABLE - ZAMPLIA PANEL ID
~QVENDOR_CL:
{3} Internal Company
{8} Toluna
{9} CommunIT
{11} OP4G
{24} Tap Research
{26} Empanel
{27} Borderless Acess
{28} Marketcube
{30} EVA
{32} Lucid
{35} WiseSample
{37} Paradigm
{46} Quest Mind Share
{52} Leger English
{52} Leger French
{54} Conclave 
{56} Research for Good
{57} Branded
{57} MintVine US
{58} GMI/Lightspeed/Kantar
{58} Kantar
{59} Magnified
{60} Prodege
{64} Bizpinion
{65} Markelytics
{66} Cint
{69} ThinkNow
{74} Global Survey
{75} Active Measure
{76} Elicit
{77} IMAD
{82} Sample Union
{87} Opinioninn
{88} Maru
{93} Disqo
{96} VIGA
{97} PureSpectrum
{102} Dynata
{103} Sampdata
{115} Take my Views
{124} Internet Research Bureau
{147} tnbfieldworx
{151} Operation
{157} EAResponse
{159} QuestionPro
{163} Offerwise
{166} Rakuten
{171} Frequent Research
{172} Virabh Research
{175} SampleCounts
{175} Sample Counts
{176} Track Opinion
{177} Savanta
{181} M360
{184} Question Lab
{185} DataDiggers
{186} Atlas Primar
{187} WolfInsights
{201} Alpha Centurion
{202} Api-icontrol-datadiggers
{203} Consighthub Survey
{204} Dev1
{205} Schlesinger
{206} Survey Fieldworks 
{207} Survey Healthcare Globus
{208} Communa
{209} Deep Bench 
{210} OpinionRoute
{211} Pat Logit
{212} Ag Acess
{213} Asking Canadians
{214} GMO Research
{215} Philomath Research
{216} Ezio
{217} Mfour Mobile Research
{218} Surveywerkx
{219} Sample Junction 
{220} Catalyse Research
{221} CH Research
{222} MD Analytics
{223} Sermo
{224} Veridata 
{225} TNB Global Survey 
{226} Robas Research
{227} Global Vox Populi
{228} Afrimatrix
{229} Universal Research Panel
{230} Innovate MR
{231} Dash MR
{232} Eksen
{233} D8aspring
{234} CCMAR
{235} Made Surveys
{236} Bilendi UK
{237} Medefield
{238} Academica Group
{239} Quantish Opinion
{240} SAMPLEDGE
{241} InVeritas Research
{924} TapResearch API
{928} Schlesinger API
{932} Lucid API
{957} GoBranded API
{960} Prodege API
{993} Disqo API
{997} PureSpectrum API
{9102} Dynata API
{9213} Asking Canadian API
{9187} Wolf Insights API
{9234} CCMAR API
 ~QVENDOR_SET: 
[{CTYPE:list;}]
####################### 
 
~PAGE: ##
~NQ:TERMLINK: COMPUTATION
~TERMLINK_QT:TERMLINK - COMPUTED - TERMINATION LINKS
~TERMLINK_CL:[{*MIN:1; *MAX:1;}]
{0} http://www.google.com [{*ASK:NOT(PANEL>0)}]
{1} https://zampterminate.zamplia.com/?UID={UID|O} [{*ASK:PANEL=1}]
{2} PANEL 2 LINK [{*ASK:PANEL=2}]
{3} PANEL 3 LINK [{*ASK:PANEL=3}]
{4} PANEL 4 LINK [{*ASK:PANEL=4}]
{5} PANEL 5 LINK [{*ASK:PANEL=5}]
~TERMLINK_SET: 
[{CTYPE:list; RECOMPUTE:True;}]
#######################
~PAGE: ##
~NQ:QFULLLINK: COMPUTATION
~QFULLLINK_QT:QFULLLINK - COMPUTED - QUOTAFULL LINKS
~QFULLLINK_CL:[{*MIN:1; *MAX:1;}]
{0} http://www.google.com[{*ASK:NOT(PANEL>0)}]
{1} https://zampquotafail.zamplia.com/?UID={UID|O} [{*ASK:PANEL=1}]
{2} PANEL 2 LINK [{*ASK:PANEL=2}]
{3} PANEL 3 LINK [{*ASK:PANEL=3}]
{4} PANEL 4 LINK [{*ASK:PANEL=4}]
{5} PANEL 5 LINK [{*ASK:PANEL=5}]
~QFULLLINK_SET: 
[{CTYPE:list; RECOMPUTE:True;}]
#######################
~PAGE: ##
~NQ:COMPLINK: COMPUTATION
~COMPLINK_QT:COMPLINK - COMPUTED - COMPLETE LINKS
~COMPLINK_CL:[{*MIN:1; *MAX:1;}]
{0} http://www.google.com [{*ASK:NOT(PANEL>0)}]
{1} https://zampcomplete.zamplia.com/?UID={UID|O} [{*ASK:PANEL=1}]
{2} PANEL 2 LINK [{*ASK:PANEL=2}]
{3} PANEL 3 LINK [{*ASK:PANEL=3}]
{4} PANEL 4 LINK [{*ASK:PANEL=4}]
{5} PANEL 5 LINK [{*ASK:PANEL=5}]
~COMPLINK_SET: 
[{CTYPE:list; RECOMPUTE:True;}]
#######################
~PAGE: ##
~NQ:SPEEDLINK: COMPUTATION
~SPEEDLINK_QT:SPEEDLINK - COMPUTED - SPEEDSTER LINKS
~SPEEDLINK_CL:[{*MIN:1; *MAX:1;}]
{0} http://www.google.com [{*ASK:NOT(PANEL>0)}]
{1} https://zampsecurityfail.zamplia.com/?UID={UID|O} [{*ASK:PANEL=1}]
{2} PANEL 2 LINK [{*ASK:PANEL=2}]
{3} PANEL 3 LINK [{*ASK:PANEL=3}]
{4} PANEL 4 LINK [{*ASK:PANEL=4}]
{5} PANEL 5 LINK [{*ASK:PANEL=5}]
~SPEEDLINK_SET: 
[{CTYPE:list; RECOMPUTE:True;}]
#######################
~PAGE: ##
~NQ:VERSION: COMPUTATION
~VERSION_QT: HOLDING VERSION OF THE SURVEY
~VERSION_CL:[{*MIN:1; *MAX:1;}]
{001} LIVE [{*ASK:1>0}]
{002} PROGRAM UPDATE DESCRIPTION
{003} PROGRAM UPDATE DESCRIPTION
{004} PROGRAM UPDATE DESCRIPTION
{005} PROGRAM UPDATE DESCRIPTION
{006} PROGRAM UPDATE DESCRIPTION
{007} PROGRAM UPDATE DESCRIPTION
{008} PROGRAM UPDATE DESCRIPTION
{009} PROGRAM UPDATE DESCRIPTION
{010} PROGRAM UPDATE DESCRIPTION
~VERSION_SET:
[{CTYPE:list; RECOMPUTE:True;}]
#######################


~PAGE: ##
~NQ:TMS: COMPUTATION
~TMS_QT: TMS (COMPUTED) FOR START TIME
~TMS_CL:[{*MIN:1; *MAX:1;}]
{001} START TIME [{*ASK:_TMSSTIME_}]
~TMS_SET: 
[{CTYPE:text; RECOMPUTE:True; MAXCHAR:12;}]
#######################

~PAGE: ##
~NQ:MC: CUSTOM
~MC_QT: 
~MC_CL:[{*MIN:1; *MAX:1;}]
{1} Mobile Device
{2} Desktop Device
~MC_SET: 
[{CUSTOMHTML:"<div id="dv_mobile" style="display:none">  {{Item-Field:1 class:mobile_device}}  {{Item-Field:2 class:desktop_device}}</div>"; CUSTOMJS:"$().ready(function(){  if(is_mobile())      $('.mobile_device').attr('checked','checked');  else      $('.desktop_device').attr('checked','checked');});"; CTYPE:Custom List;}]
#######################

~PAGE: ##
~NQ:XMC: COMPUTATION
~XMC_QT: XMC (COMPUTED) - The device being used
~XMC_CL:[{*MIN:1; *MAX:1;}]
{001} Mobile [{*ASK:MC=1}]
{002} Desktop [{*ASK:MC=2}]
~XMC_SET: 
[{CTYPE:list; RECOMPUTE:True;}]
#######################

<<MOVE SCREENER QUESTIONS HERE>>

~PAGE: ##
~NQ:QUALI: COMPUTATION
~QUALI_QT:QUALI - COMPUTED - QUALIFING FLAG<p>Please note this question is only displayed in test cases</p>
~QUALI_CL:[{*MIN:1; *MAX:1;}]
{001}QUALIFIED[{*ASK:1>0}]
~QUALI_SET: 
[{CTYPE:list; VISIBLE:True; RECOMPUTE:True;}]
#######################



