~PAGE: 1
~NQ:MODE: SAMPLE
~MODE_QT: MODE - COMPUTED - DENOTES TEST VS. LIVE
~MODE_CL:
{1} TEST
{2} LIVE
#######################
~PAGE: 1
~NQ:TEST: COMPUTATION
~TEST_QT: TEST - TEXT INSERTED TO THE START OF EACH QUESTION DENOTING THIS IS A TEXT CASE
~TEST_CL:[{*MIN:1; *MAX:1;}]
{1} <CENTER><span style="color: red; font-size: 200%;">PLEASE NOTE THIS IS A TEST CASE</span></CENTER> [{*ASK:MODE=1}]
{2} &nbsp; [{*ASK:MODE=2}]
#######################

~PAGE: ##
~NQ:LINK: COMPUTATION
~LINK_QT:TERMLINK - COMPUTED - TERMINATION LINKS
~LINK_CL:[{*MIN:1; *MAX:1;}]
{1} TEST LINK [{*ASK:MODE=1}]
{2} LIVE LINK [{*ASK:MODE=2}]
~LINK_SET: 
[{CTYPE:list; RECOMPUTE:True;}]
#######################

<<MOVE INTRO AND SITUATIONAL STATEMENTS HERE>>

~PAGE: ##
~NQ:TMS: COMPUTATION
~TMS_QT: TMS (COMPUTED) FOR START TIME
~TMS_CL:[{*MIN:1; *MAX:1;}]
{001} START TIME [{*ASK:_TMSSTIME_}]
~TMS_SET: 
[{CTYPE:text; RECOMPUTE:True; MAXCHAR:12;}]
#######################

<<MOVE SCREENER QUESTIONS HERE>>

~PAGE: ##
~NQ:QUALI: COMPUTATION
~QUALI_QT:QUALI - COMPUTED - QUALIFING FLAG<p>Please note this question is only displayed in test cases</p>
~QUALI_CL:[{*MIN:1; *MAX:1;}]
{001}QUALIFIED[{*ASK:1>0}]
~QUALI_SET: 
[{CTYPE:list; VISIBLE:True; RECOMPUTE:True;}]
#######################
