~PAGE: ##
~NQ:V1: TEXT
~V1_QT: {TEST}<p>Thank you for participating in this interview, please record the respondents name and phone number below for verification purposes.</p><p><strong>[Hand respondent $10.00 gift card incentive and have them sign the signature sheet]</strong></p>
~V1_CL:[{*MIN:1; *MAX:2;}]
{001} Respondent Name:
{002} Phone Number: [{*P:Number:XXX-XXX-XXXX;}]
~V1_SET: 
[{LIMITTYPE:Char; MAXCHAR:50; LABELPOSITION:Left;}]
#######################

~PAGE: ##
~NQ:V2: TEXT
~V2_QT: {TEST}<p>Please record your name below</p>
~V2_CL:[{*MIN:1; *MAX:1;}]
{001} Interviewer Name:
~V2_SET: 
[{LIMITTYPE:Char; MAXCHAR:50; LABELPOSITION:Left;}]
#######################

~PAGE: ##
~NQ:TME: COMPUTATION
~TME_QT: TME (COMPUTATION).  for END TIME
~TME_CL:[{*MIN:1; *MAX:1;}]
{001} END TIME [{*ASK:_TMESTIME_}]
~TME_SET: 
[{CTYPE:text; RECOMPUTE:True; MAXCHAR:12;}]
#######################
~PAGE: ##
~NQ:TMT: COMPUTATION
~TMT_QT: TMT - TIME Difference from
~TMT_CL:[{*MIN:1; *MAX:1;}]
{001} Total Time Taken in seconds: [{*ASK:TME|O - TMS|O}]
~TMT_SET: 
[{CTYPE:text; RECOMPUTE:True; MAXCHAR:12;}]
#######################

~PAGE: ##
~NQ:COMP: EXITVAR
~COMP_QT: {TEST}Thank you for participating in this interview.
~COMP_CL:
{001} COMP - TEST [{*ASK:MODE=1}{*EXIT:True}{*EXITURL:{LINK}}]
{002} COMP - LIVE [{*ASK:MODE=2}{*EXIT:True}{*EXITURL:{LINK}}]
~COMP_SET: 
[{CTYPE:complete; SHOWMESSAGE:True; DELAY:10;}]
#######################

~PAGE: ##
~NQ:QFULL: EXITVAR
~QFULL_QT: {TEST}{TEST}Thank you for your responses. This survey is now closed.
~QFULL_CL:
{001} QFULL - TEST [{*ASK:MODE=1}{*EXIT:True}{*EXITURL:{LINK}}]
{002} QFULL - LIVE [{*ASK:MODE=2}{*EXIT:True}{*EXITURL:{LINK}}]
~QFULL_SET: 
[{CTYPE:quota_full; SHOWMESSAGE:True; DELAY:5;}]
#######################