~PAGE: ##\n
~NQ:<<QUESTION_ID>>: OPENENDED\n
~<<QUESTION_ID>>_QT:<<QUESTION_TEXT>>\n
~<<QUESTION_ID>>_CL:[{*MIN:1; *MAX:5;}]\n
{888} &nbsp;\n
{991} CODE 1 [{*P:h}]\n
{992} CODE 2 [{*P:h}]\n
{993} CODE 3 [{*P:h}]\n
{994} CODE 4 [{*P:h}]\n
{{{<<CHOICE_ID>>} <<CHOICE_TEXT>>\n}}:CHOICE_LIST
[[~<<QUESTION_ID>>_LOGIC:\n
[{ASKIF: <<SKIP_LOGIC_TEXT>>;}]\n]]:SKIP_LOGIC
#######################\n
<<EXTRA_LOGIC>>