~PAGE: ##\n
~NQ:<<QUESTION_ID>>: LS\n
~<<QUESTION_ID>>_QT: <<QUESTION_TEXT>>\n
~<<QUESTION_ID>>_CL:[{*MIN:1; *MAX:1;}]\n
{01} Alabama\n
{02} Alaska\n
{04} Arizona\n
{05} Arkansas\n
{06} California\n
{08} Colorado\n
{09} Connecticut\n
{10} Delaware\n
{11} Dist. of Columbia\n
{12} Florida\n
{13} Georgia\n
{15} Hawaii\n
{16} Idaho\n
{17} Illinois\n
{18} Indiana\n
{19} Iowa\n
{20} Kansas\n
{21} Kentucky\n
{22} Louisiana\n
{23} Maine\n
{24} Maryland\n
{25} Massachusetts\n
{26} Michigan\n
{27} Minnesota\n
{28} Mississippi\n
{29} Missouri\n
{30} Montana\n
{31} Nebraska\n
{32} Nevada\n
{33} New Hampshire\n
{34} New Jersey\n
{35} New Mexico\n
{36} New York\n
{37} North Carolina\n
{38} North Dakota\n
{39} Ohio\n
{40} Oklahoma\n
{41} Oregon\n
{42} Pennsylvania\n
{44} Rhode Island\n
{45} South Carolina\n
{46} South Dakota\n
{47} Tennessee\n
{48} Texas\n
{49} Utah\n
{50} Vermont\n
{51} Virginia\n
{53} Washington\n
{54} West Virginia\n
{55} Wisconsin\n
{56} Wyoming\n
{97} Reside outside of the US [{*P:f;e}]\n
~<<QUESTION_ID>>_SET: \n
[{LSTYPE:List Box; SHOWOPENEND:True;}]\n
#######################\n
~PAGE: ##\n
~NQ:USCD: COMPUTATION\n
~USCD_QT: USCD - COMPUTED - COMPUTES CD FROM STATES\n
~USCD_CL:[{*MIN:1; *MAX:1;}]\n
{001} New England [{*ASK:<<QUESTION_ID>>=09,25,23,33,44,50}]\n
{002} Middle Atlantic [{*ASK:<<QUESTION_ID>>=34,36,42}]\n
{003} East North Central [{*ASK:<<QUESTION_ID>>=17,18,26,39,55}]\n
{004} West North Central [{*ASK:<<QUESTION_ID>>=19,20,27,29,38,31,46}]\n
{005} South Atlantic [{*ASK:<<QUESTION_ID>>=11,10,12,13,24,37,45,51,54}]\n
{006} East South Central [{*ASK:<<QUESTION_ID>>=01,21,28,47}]\n
{007} West South Central [{*ASK:<<QUESTION_ID>>=05,22,40,48}]\n
{008} Mountain [{*ASK:<<QUESTION_ID>>=04,08,16,30,35,32,49,56}]\n
{009} Pacific [{*ASK:<<QUESTION_ID>>=02,06,15,41,53}]\n
~USCD_SET: \n
[{CTYPE:list; RECOMPUTE:True;}]\n
#######################\n
~PAGE: ##\n
~NQ:USCR: COMPUTATION\n
~USCR_QT: USCR - COMPUTED - COMPUTES REGION FROM CD\n
~USCR_CL:[{*MIN:1; *MAX:1;}]\n
{001} North East [{*ASK:USCD=001,002}]\n
{002} Midwest [{*ASK:USCD=003,004}]\n
{003} South [{*ASK:USCD=005,006,007}]\n
{004} West [{*ASK:USCD=008,009}]\n
~USCR_SET: \n
[{CTYPE:list; RECOMPUTE:True;}]\n
#######################\n
<<EXTRA_LOGIC>>