[[*LL ST<<QUESTION_ID>> L=1 M=1 N=1\n
[START OF QUESTION <<QUESTION_ID>>]\n
*SK ST<<QUESTION_ID>>\n
-> +1\n
CONDITION ELSE E<<QUESTION_ID>>\n
*CL ST<<QUESTION_ID>>\n
[CONTINUE][1]DI\n
------------------------------------\n]]:SKIP_LOGIC
\n
*LL {{<<QUESTION_ID>><<STATEMENT_1_ID>> }}:STATEMENT_1_LIST L=<<CHOICE_LENGTH>> M=<<QUESTION_MAX>> N=<<QUESTION_MIN>>\n
[<<QUESTION_TEXT>>]\n
{{*SL <<QUESTION_ID>><<STATEMENT_1_ID>>\n[<<STATEMENT_1_TEXT>>]\n}}:STATEMENT_1_LIST
*CL {{<<QUESTION_ID>><<STATEMENT_1_ID>> }}:STATEMENT_1_LIST\n
{{[<<CHOICE_TEXT>>][<<CHOICE_ID>>][[OF]]:CHOICE_OTHER_SPECIFY_FLAG[[XF]]:CHOICE_EXCLUSIVE_FLAG\n}}:CHOICE_LIST
[[*RC  {{<<QUESTION_ID>><<STATEMENT_1_ID>> }}:STATEMENT_1_LIST U=<<QUESTION_MAX>> T=P\n]]:CHOICE_RANDOMIZE
[[*RO <<QUESTION_ID>><<STATEMENT_1_FIRST_ID>> <<QUESTION_ID>><<STATEMENT_1_LAST_ID>> B=1 T=P\n]]:STATEMENT_1_RANDOMIZE
*BS <<QUESTION_ID>><<STATEMENT_1_FIRST_ID>> <<QUESTION_ID>><<STATEMENT_1_LAST_ID>>\n
*ES\n
------------------------------------\n
[[*LL E<<QUESTION_ID>> L=1 M=1 N=1\n
[END OF QUESTION <<QUESTION_ID>>]\n
*SK E<<QUESTION_ID>>\n
-> +1\n
1>0\n
*CL E<<QUESTION_ID>>\n
[CONTINUE][1]DI\n
------------------------------------\n]]:SKIP_LOGIC
<<EXTRA_LOGIC>>
