*LL <<QUESTION_ID>> L=3 M=5 N=1\n
[<<QUESTION_TEXT>>]\n
[[*SK <<QUESTION_ID>>\n
-> +1\n
CONDITION\n]]:SKIP_LOGIC
*CL <<QUESTION_ID>>\n
[Record Verbatim][888]DO\n
{{[<<CHOICE_TEXT>>][<<CHOICE_ID>>][[XF]]:CHOICE_EXCLUSIVE_FLAG\n}}:CHOICE_LIST
------------------------------------\n
<<EXTRA_LOGIC>>
