*LL <<QUESTION_ID>> L=<<CHOICE_LENGTH>> M=<<QUESTION_MAX>> N=<<QUESTION_MIN>>\n
[<<QUESTION_TEXT>>]\n
[[*SK <<QUESTION_ID>>\n
-> +1\n
CONDITION\n]]:SKIP_LOGIC
\n
*CL <<QUESTION_ID>>\n
{{[<<CHOICE_TEXT>>][<<CHOICE_ID>>][[OF]]:CHOICE_OTHER_SPECIFY_FLAG[[XF]]:CHOICE_EXCLUSIVE_FLAG\n}}:CHOICE_LIST
[[*RC <<QUESTION_ID>> U=<<QUESTION_MAX>> T=P\n]]:CHOICE_RANDOMIZE
------------------------------------\n
<<EXTRA_LOGIC>>