CONFIG_ID:PROCESS_LOGIC
----LOGIC COMMAND IDENTIFIERS----
LOGIC_COMMANDS:[...
	{NAME:LOGIC_RANDOMIZE~ 		WORDS:[RANDOMIZE~ROTATE]}~...
	{NAME:LOGIC_COL~ 			WORDS:[GRID ACROSS~ACROSS~COLUMNS~COLUMN~RESPONSE]}~...
	{NAME:LOGIC_ROW~ 			WORDS:[GRID DOWN~DOWN~ROWS~ROW]}~...
	{NAME:LOGIC_MULTI~ 			WORDS:[MULTI MENTIONS~MULTIPLE MENTIONS~SELECT ALL THAT APPLY~SELECT ALL~MULTIPLE RESPONSES]}~...
	{NAME:LOGIC_READ_LIST~		WORDS:[READ LIST]~ADD_TEXT_TITLE:`{br}{br}{b}(LOGIC_TEXT){/b}`}~
	{NAME:LOGIC_DO_READ_LIST~	WORDS:[DO NOT READ LIST]~ADD_TEXT_TITLE:`{br}{br}{b}(LOGIC_TEXT){/b}`}~
]

