CONFIG_ID:ID_GREENBERG_REF
------------------ DEFAULT VALUE ------------------
DEFAULT:10
------------------ KEYWORDS ------------------
KEYWORDS:{...
	rating from zero to 100:100~...
	very cold:50~...
	very warm:50...
}
------------------ CONDITIONS TO CHECK IF LINE ------------------
------------------- BEHAVIOR ON ASSIGNMENT -------------------