CONFIG_ID:ID_GREENBERG_REF
------------------ DEFAULT VALUE ------------------
DEFAULT:10
------------------ THRESHOLD ------------------
THRESHOLD:100
------------------ KEYWORDS ------------------
KEYWORDS:{
	`/`:-150~
	`dk`:-150~	
	`ref`:150
}
------------------ CONDITIONS TO CHECK IF LINE ------------------
------------------- BEHAVIOR ON ASSIGNMENT -------------------
INSTRUCTIONS:[
	{TYPE:REMOVE~ VALUE:`ref:`}~
	{TYPE:REMOVE~ VALUE:`(`}~
	{TYPE:REMOVE~ VALUE:`)`}~
	{TYPE:CLEAR_TAGS}
]