CONFIG_ID:LOGIC_DONT_KNOW
DEFAULT:0
THRESHOLD:50
------------- REQUIREMENTS ------------

------------------ KEYWORDS ------------------
KEYWORDS:{
	`)`:1~
	`\`:2~
	DONT KNOW:70~
	DON ' T KNOW:70~
	I DON ' T KNOW:70~
	CAN ' T REMEMBER:70~
	DK:50~
	DO NOT:25~
	NOT SURE:50~
	AGREE:-15~
	READ:-10~
	UNSURE:25~
	PREFER NOT TO ANSWER:51~
	REFUSED:51~
	PREFER NOT TO SAY:51~
	RATHER NOT SAY:51~
	NEVER:3~
	SOMEONE ELSE:3~
	OTHER:25~
	UNDECIDED:25~
	NEITHER:2~
	INDEPENDENT:2
}

KEYWORDS_START:{
	`\(`:27~
	`\d+\s*\(`:27
}
KEYWORDS_END:{
	`\)\s*`:26
}

------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	
	{CHECK:TEXT_KEYWORD_COUNT==0~			 WEIGHT:-55}~	
	{CHECK:TEXT_ALL_KEYWORDS_POSITIVE~		 WEIGHT:89}	
]

