QUESTION_TYPE_ID:THERM_RATING
MULTI_MENTION
DEFAULT:30
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:DEFINED_CHOICE}~...		
	{CHECK:NOT(DEFINED_STATEMENTS)}...			
]
------------- KEYWORDS ------------
KEYWORDS:{...
	WARM:15~...
	COLD:15~...
	THERM:50~...
	THERM2:50~...	
	THERM2A:50~...	
	THERM3:50~...	
	THERM4:50~...	
	THERM5:50~...	
	THERM6:50~...
	100 MEANING A VERY WARM	:50...
}
------------- CONDITIONS ------------
------------------ CONDITIONS TO CHECK IF LINE ------------------
CONDITIONS:[	
	{CHECK:THERM~					WEIGHT:52}
]