QUESTION_TYPE_ID:ROTATED_LIST
MULTI_MENTION
DEFAULT:30
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:DEFINED_CHOICE}~...		
	{CHECK:NOT(DEFINED_STATEMENTS)}...			
]
------------- KEYWORDS ------------
KEYWORDS:{...
	ROTATE:15~...
	REPUBLICAN:6~...
	DEMOCRATE:6~...
	DEMOCRATIC:6~...
	CONSERVATIVE:6~...
	LIBERAL:6...
}
------------- CONDITIONS ------------
