*LL <<REF>> L=<<CHOICE_LENGTH>> M=<<QUESTION_MAX>> N=<<QUESTION_MIN>>\n
[(<<REF>>){br}{br}<<QUESTION_ID>> - <<QUESTION_TEXT>>]\n
[[*SK <<REF>>\n
-> +1\n
CONDITION\n]]:SKIP_LOGIC
*CL <<REF>>\n
{{[<<CHOICE_TEXT>>][<<CHOICE_ID>>][[OF]]:CHOICE_OTHER_SPECIFY_FLAG\n}}:CHOICE_LIST
------------------------------------\n
------------------------------------\n
<<EXTRA_LOGIC>>