*LL ST<<REF>> L=1 M=1 N=1\n
[<<QUESTION_TEXT>>]\n
*CL ST<<REF>>\n
[CONTINUE] [1]D\n
{{------------------------------------\n
\n
*LL <<REF>>_<<STATEMENT_1_INDEX>> L=1 M=1 N=1\n
[(<<REF>>){br}{br}Q<<STATEMENT_1_INDEX>> - <<STATEMENT_1_TEXT>>]\n
\n
*LL O<<REF>>_<<STATEMENT_1_INDEX>> L=2 M=1 N=1\n
[(COMPUTED) O<<REF>>_<<STATEMENT_1_INDEX>> - RECORDS THE ROTATION ORDER IN WHICH <<STATEMENT_1_INDEX>> WAS ASKED (1=1st, 2=2nd, etc.)]\n
*SK O<<REF>>_<<STATEMENT_1_INDEX>>\n
->*\n
IF((O<<REF>>_<<STATEMENT_1_INDEX>>>0),O<<REF>>_<<STATEMENT_1_INDEX>>,SUM(1{{, V01(O<<REF>>_<<STATEMENT_1_INDEX>>>0)}}:STATEMENT_1_LIST))\n
}}:STATEMENT_1_LIST
\n
*SL {{<<REF>>_<<STATEMENT_1_INDEX>> }}:STATEMENT_1_LIST\n
[{br}{b}(PROMPT){/b} (TO-DO: PUT THE FOLLOW-UP PROMPT HERE)]\n
\n
*CL {{<<REF>>_<<STATEMENT_1_INDEX>> }}:STATEMENT_1_LIST\n
{{[<<CHOICE_TEXT>>][<<CHOICE_ID>>][[OF]]:CHOICE_OTHER_SPECIFY_FLAG\n}}:CHOICE_LIST
\n
------------------------------------\n
------------------------------------\n
<<EXTRA_LOGIC>>