*LL STQ<<REF>> L=1 M=1 N=1\n
[<<QUESTION_TEXT>>]\n
*CL STQ<<REF>>\n
[CONTINUE] [1]D\n
{{------------------------------------\n
\n
*LL <<REF>>_<<CHOICE_ID>> L=1 M=1 N=1\n
[(<<REF>>){br}{br}Q<<CHOICE_ID>> - <<CHOICE_TEXT>>]\n
\n
*LL O<<REF>>_<<CHOICE_ID>> L=2 M=1 N=1\n
[(COMPUTED) OQ<<REF>>_<<CHOICE_ID>> - RECORDS THE ROTATION ORDER IN WHICH Q<<REF>>_<<CHOICE_ID>> WAS ASKED (1=1st, 2=2nd, etc.)]\n
*SK OQ<<REF>>_<<CHOICE_ID>>\n
->*\n
IF((O<<REF>>>0),O<<REF>>,SUM(1{{, V01(O<<REF>>_<<CHOICE_ID>>>0)}}:CHOICE_LIST))\n
}}:CHOICE_LIST\n
\n
*SL {{<<REF>>_<<CHOICE_ID>> }}:CHOICE_LIST\n
[{br}{b}(ENTER A RATING FROM 0-100){/b}{br}{br}{b}REPEAT SCALE AS NEEDED:{/b} (*** THE FOLLOWING TEXT IS ONLY AN EXAMPLE. YOU MUST REPLACE IT WITH THE TEXT THAT IS IN YOUR QUESTIONNAIRE. ***)  Give {b}(READ ITEM){/b} a rating, with 100 meaning a very warm, favorable feeling; zero meaning a very cold, unfavorable feeling; and 50 meaning not particularly warm or cold.]\n
\n
*MA {{<<REF>>_<<CHOICE_ID>> }}:CHOICE_LIST\n
$R.0 0 100\n
\n
*CL {{<<REF>>_<<CHOICE_ID>> }}:CHOICE_LIST\n
[{b}(DO NOT READ){/b} No opinion/Don't know/Never heard] [101]\n
\n
------------------------------------\n
------------------------------------\n
<<EXTRA_LOGIC>>


