*LL R<<REF>> L=1 M=1 N=1\n
[(COMPUTED) R<<REF>> - RANDOMLY DECIDES WHICH VERSION OF <<REF>> TO ASK]\n
*SK R<<REF>>\n
->*\n
IF((R<<REF>>0),R<<REF>>,TRC(RAN(1.0000,2.9999)))\n
*CL R<<REF>>\n
[Ask <<REF>>A] [1]\n
[Ask <<REF>>B] [2]\n
------------------------------------\n
\n
*LL <<REF>>A L=1 M=1 N=1\n
[(<<REF>>){br}{br}<<QUESTION_ID>>A - <<QUESTION_TEXT>>]\n
*SK <<REF>>A\n
->+1\n
R<<REF>>=2\n
*CL <<REF>>A\n
{{[<<CHOICE_TEXT>>][<<CHOICE_ID>>][[O]]:CHOICE_OTHER_SPECIFY_FLAG\n}}:CHOICE_LIST
------------------------------------\n
\n
TO-DO:FLIP THE CHOICES AND TEXT OF THIS QUESTION\n
*LL <<REF>>B L=1 M=1 N=1\n
[(<<REF>>){br}{br}<<QUESTION_ID>>B - <<QUESTION_TEXT>>]\n
*SK <<REF>>B\n
->+1\n
NOT R<<REF>>=2\n
*CL <<REF>>B\n
{{[<<CHOICE_TEXT>>][<<CHOICE_ID>>][[O]]:CHOICE_OTHER_SPECIFY_FLAG\n}}:CHOICE_LIST
------------------------------------\n
\n
*LL <<REF>> L=1 M=1 N=1\n
[(COMPUTED FROM R<<REF>>, <<REF>>A, <<REF>>B) (<<REF>>){br}{br}<<QUESTION_ID>> - <<QUESTION_TEXT>>]\n
*SK <<REF>>\n
->*\n
IF((R<<REF>>=2),<<REF>>B,<<REF>>A)\n
*CL <<REF>>\n
{{[<<CHOICE_TEXT>>][<<CHOICE_ID>>][[O]]:CHOICE_OTHER_SPECIFY_FLAG\n}}:CHOICE_LIST
\n
------------------------------------\n
------------------------------------\n
<<EXTRA_LOGIC>>