QUESTION_TYPE_ID:BUTTON_RATING
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:DEFINED_CHOICE}...		
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_BUTTON_RATING~				WEIGHT:200}						
]