QUESTION_TYPE_ID:SINGLE_SELECT_BUTTON
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[
	{CHECK:DEFINED_CHOICE}~	
	{CHECK:NOT(DEFINED_STATEMENTS)}	
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_SINGLE_SELECT_BUTTON~				WEIGHT:200}						
]
