QUESTION_TYPE_ID:MULTI_SELECT_GRID_BUTTON
MULTI_MENTION
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:DEFINED_CHOICE}~...		
	{CHECK:DEFINED_STATEMENTS}
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_MULTI_SELECT_GRID_BUTTON~				WEIGHT:200}						
]