QUESTION_TYPE_ID:SINGLE_SELECT_GRID_BUTTON
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[
	{CHECK:DEFINED_CHOICE}~		
	{CHECK:DEFINED_STATEMENTS}	
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_SINGLE_SELECT_GRID~				WEIGHT:200}						
]
