QUESTION_TYPE_ID:DESCRIPTIVE
DEFAULT:50
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:NOT(DEFINED_CHOICE)}~...		
	{CHECK:NOT(DEFINED_STATEMENTS)}...	
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_DESCRIPTIVE~				WEIGHT:200}						
]