QUESTION_TYPE_ID:RATING_SCALE
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:DEFINED_CHOICE}...		
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_RATING_SCALE~				WEIGHT:200}						
]