QUESTION_TYPE_ID:ESSAY
DEFAULT:0
------------- REQUIREMENTS ------------

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[	
	{CHECK:QTYPE_ESSAY~				WEIGHT:200}~			
	{CHECK:OPEN_END~				WEIGHT:55}~
	{CHECK:OTHER_SPECIFY~			WEIGHT:-85}	
]
