QUESTION_TYPE_ID:MULTI_SELECT
MULTI_MENTION
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:DEFINED_CHOICE}~...		
	{CHECK:NOT(DEFINED_STATEMENTS)}	
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_MULTI_SELECT_BUTTON~				WEIGHT:200}						
]