QUESTION_TYPE_ID:MULT_SLIDER
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[
	{CHECK:DEFINED_CHOICE}~		
	{CHECK:DEFINED_STATEMENTS}
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_MULTI_SLIDER~				WEIGHT:200}						
]