QUESTION_TYPE_ID:SINGLE_SELECT
DEFAULT:50
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:DEFINED_CHOICE}~...		
	{CHECK:NOT(DEFINED_STATEMENTS)}
]
------------- KEYWORDS ------------
KEYWORDS:{...	
	STATEMENTS:20
}
CONDITIONS:[
	{CHECK:MULTI==1~													WEIGHT:-50}~
	{CHECK:NOT(MULTI==1)~											WEIGHT:80}
]	

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_SINGLE_SELECT~				WEIGHT:200}						
]
