QUESTION_TYPE_ID:CAROUSEL
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[
	{CHECK:DEFINED_CHOICE}~	
	{CHECK:DEFINED_STATEMENTS}
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_CAROUSEL~				WEIGHT:200}						
]