QUESTION_TYPE_ID:MULTI_SELECT
MULTI_MENTION
DEFAULT:50
------------- REQUIREMENTS ------------
REQUIREMENTS:[
	{CHECK:DEFINED_CHOICE}~		
	{CHECK:NOT(DEFINED_STATEMENTS)}
]
------------- KEYWORDS ------------
KEYWORDS:{...	
	STATEMENTS:20
}
CONDITIONS:[
	{CHECK:MULTI==1~												WEIGHT:80}~
	{CHECK:NOT(MULTI==1)~											WEIGHT:-50}~
	{CHECK:QTYPE_MULTI_SELECT~										WEIGHT:200}
]	