QUESTION_TYPE_ID:CARD_SORT_MULTI_SELECT
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:DEFINED_CHOICE}...		
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_CARD_SORT_MULTI_SELECT~				WEIGHT:200}						
]