QUESTION_TYPE_ID:GRID_MOB_CAROUSEL
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[
	{CHECK:DEFINED_CHOICE}~	
	{CHECK:DEFINED_STATEMENTS}
]
------------- KEYWORDS ------------
KEYWORDS:{
}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_GRID_MOB_CAROUSEL~				WEIGHT:200}						
]