QUESTION_TYPE_ID:DROPDOWN
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:DEFINED_CHOICE}~...		
	{CHECK:NOT(DEFINED_STATEMENTS)}~...	
	{CHECK:NOT(MULTI=1)}...		
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_DROPDOWN~				WEIGHT:200}						
]