QUESTION_TYPE_ID:SLIDER_DECIMAL
DEFAULT:0
------------- REQUIREMENTS ------------
REQUIREMENTS:[...
	{CHECK:DEFINED_CHOICE}...		
]

------------------ KEYWORDS ------------------
KEYWORDS:{}

------------- CONDITIONS ------------
CONDITIONS:[
	{CHECK:QTYPE_SLIDER_DECIMAL~				WEIGHT:200}						
]
