<number label="<<QUESTION_ID>>"\n 
        ignoreValues="999"\n 
        optional="0"\n 
        size="10"\n 
        uses="slidernumber.5"
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n		
        verify="range(0,100)">\n 
  <title><<QUESTION_TEXT>></title>\n
</number>\n
<suspend/>\n
<<EXTRA_LOGIC>>
