<radio \n
  label="<<QUESTION_ID>>"
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n  
  where="execute,survey,report">\n
  <title><<QUESTION_ID>> - COMPUTED - DESCRIPTION</title>\n
  <exec>\n
{{if (Condition):\n	<<QUESTION_ID>>.val=<<CHOICE_ID>>\n}}:CHOICE_LIST
  </exec>\n
{{  <row label="r<<CHOICE_ID>>" value="<<CHOICE_ID>>"><<CHOICE_TEXT>></row>\n}}:CHOICE_LIST
</radio>\n
<suspend/>\n
<<EXTRA_LOGIC>>
