<float \n
  label="<<QUESTION_ID>>"\n
  dartboard:cardHeightMobile="70"\n
  dartboard:cardWidthMobile="70"\n
  dartboard:content="html"\n
  dartboard:maxAnswers="5"\n
  dartboard:scaleRange="200"
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n  
  optional="0"\n
  size="5"\n
  uses="dartboard.1">\n
  <title><<QUESTION_TEXT>></title>\n
  <col label="c1" optional="1">X</col>\n
  <col label="c2" optional="1">Y</col>\n
  <col label="c3">Score</col>\n
  {{ <row label="p1r<<CHOICE_ID>>"><img class="survey_image survey-image-original fit" src="/survey/selfserve/53b/logo_001.png" alt="logo_001.png" title="logo_001.png" /> <span><<CHOICE_TEXT>></span></row>\n}}:CHOICE_LIST 
</float>\n
<suspend/>\n
<<EXTRA_LOGIC>>
