<checkbox \n
  label="<<QUESTION_ID>>"\n
  where="execute,survey,report">\n
  <title><<QUESTION_ID>> - COMPUTED - DESCRIPTION</title>\n
  <exec>\n
{{if (Condition):\n	<<QUESTION_ID>>.r<<CHOICE_ID>>.val=1\n}}:CHOICE_LIST
  </exec>\n
{{  <row label="r<<CHOICE_ID>>"><<CHOICE_TEXT>></row>\n}}:CHOICE_LIST
</checkbox>\n
<suspend/>\n
<<EXTRA_LOGIC>>
