<radio\n
  label="<<QUESTION_ID>>"\n
  cardrating:completion="All done with this question! Click continue to proceed."\n
  shuffle="rows"
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n  
  uses="cardrating.1">\n
  <title><<QUESTION_TEXT>></title>\n
{{  <row label="r<<STATEMENT_1_ID>>"><<STATEMENT_1_TEXT>></row>\n}}:STATEMENT_1_LIST
{{  <col label="c<<CHOICE_ID>>"  value="<<CHOICE_ID>>"[[ exclusive="1" randomize="0"]]:CHOICE_EXCLUSIVE_OPT[[ open="1" openSize="25" randomize="0"]]:CHOICE_OTHER_SPECIFY_OPT><<CHOICE_TEXT>></col>\n}}:CHOICE_LIST
  <style name="page.head"><![CDATA[\n
<script>\n
function Update (){\n
	var Total = jQuery('.sq-cardrating-bar').length;	\n
	var Count = jQuery('.sq-cardrating-bar[data-active$="true"]').length + jQuery('.sq-cardrating-bar[data-selected$="true"]').length;	\n
	jQuery(".COUNTER").html(Count+'/'+Total)\n
	console.log(Total)\n
\n
}\n
jQuery(window).load(function(){\n
	jQuery(".survey-buttons").before("<div CLASS='COUNTER'>COUNTER</div>");\n
	Update();\n
	jQuery('li').click(function(){Update();});\n
});\n
</script>\n
<STYLE>\n
  \@if MC.r1\n
  div.sq-cardrating-cardset{height:140px;}  \n
  .sq-cardrating-cards{height:120px!important;}  \n
  \@endif\n
</STYLE>\n
]]></style>\n
</radio>\n
<suspend/>\n
<<EXTRA_LOGIC>>
