<radio label="<<QUESTION_ID>>"
[[\n       optional="1"]]:OPTIONAL 
[[\n       shuffle="rows"]]:CHOICE_RANDOMIZE
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n
	   fir="off"\n
       uses="atm1d.9">\n		
  <title><<QUESTION_TEXT>></title>\n
{{  <row label="r<<CHOICE_ID>>" value="<<CHOICE_ID>>"[[ exclusive="1" randomize="0"]]:CHOICE_EXCLUSIVE_OPT[[ open="1" openSize="25" randomize="0"]]:CHOICE_OTHER_SPECIFY_OPT><<CHOICE_TEXT>></row>\n}}:CHOICE_LIST
</radio>\n
<suspend/>\n
<<EXTRA_LOGIC>>



