<select label="<<QUESTION_ID>>"\n  
        minRanks="3"\n 
        optional="1"\n 
        unique="none,cols"
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n		
        uses="ranksort.5">\n 
  <title><<QUESTION_TEXT>></title>\n
{{  <choice label="ch<<CHOICE_ID>>"><<CHOICE_ID>></choice>\n}}:CHOICE_LIST
{{  <row label="r<<CHOICE_ID>>"  value="<<CHOICE_ID>>"[[ exclusive="1" randomize="0"]]:CHOICE_EXCLUSIVE_OPT[[ open="1" openSize="25" randomize="0"]]:CHOICE_OTHER_SPECIFY_OPT><<CHOICE_TEXT>></row>\n}}:CHOICE_LIST
</select>\n
<suspend/>\n
<<EXTRA_LOGIC>>




