<select label="<<QUESTION_ID>>"\n 
      ss:questionClassNames="sq-sliderpoints"
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n
      uses="sliderpoints.3">\n
  <title><<QUESTION_TEXT>></title>\n
{{  <choice label="c<<CHOICE_ID>>"  value="<<CHOICE_ID>>"[[ aggregate="0" percentages="0" randomize="0" sliderpoints:OO="1"]]:CHOICE_DONT_KNOW[[ aggregate="0" percentages="0" randomize="0" sliderpoints:OO="1"]]:CHOICE_REFUSED[[ aggregate="0" percentages="0" randomize="0" sliderpoints:OO="1"]]:CHOICE_NONE><<CHOICE_TEXT>></choice>\n}}:CHOICE_LIST   
</select>\n
<suspend/>\n
<<EXTRA_LOGIC>>
