<suspend/>

<term label="INT70" cond="0 gt 1 and timeSpent() lt 1" sst="0" markers="QCTERM">Speedster</term>
<suspend/>

 <style label="disable_continue" arg:timeout="1" mode="after" name="survey.respview.footer" with="QCOMP" wrap="ready">
  <![CDATA[
    var b = $ ("#btn_continue, #btn_finish");
    b.disable();
    setTimeout(function() { b.enable(), postIt();} , $(timeout)*1000);
  ]]>
</style>

<html label="QCOMP" where="survey">Thank you very much for your time!</html>
</survey>
