<number \n
  label="<<QUESTION_ID>>"
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n  
  optional="0"\n
  size="3"\n
  uses="logit_thumbslider.1">\n
  <title><<QUESTION_TEXT>></title>\n
{{   <row label="p1r<<CHOICE_ID>>"><img class="survey_image survey-image-original fit" src="/survey/selfserve/53b/logo_001.png" alt="logo_001.png" title="logo_001.png" /> <span><<CHOICE_TEXT>></span></row>\n}}:CHOICE_LIST 
</number>\n
<suspend/>\n
<<EXTRA_LOGIC>>

