<radio label="<<QUESTION_ID>>"\n
           cond="not(MC.r1)"
[[\n       optional="1"]]:OPTIONAL 
[[\n       shuffle="rows"]]:CHOICE_RANDOMIZE>\n
  <title><<QUESTION_TEXT>></title>\n
{{  <row label="r<<STATEMENT_1_ID>>"><<STATEMENT_1_TEXT>></row>\n}}:STATEMENT_1_LIST
{{  <col label="c<<CHOICE_ID>>"  value="<<CHOICE_ID>>"[[ exclusive="1" randomize="0"]]:CHOICE_EXCLUSIVE_OPT[[ open="1" openSize="25" randomize="0"]]:CHOICE_OTHER_SPECIFY_OPT><<CHOICE_TEXT>></col>\n}}:CHOICE_LIST
</radio>\n
<suspend/>\n

<radio\n
  label="<<QUESTION_ID>>MOB"\n
  cond="MC.r1"\n
  cardrating:completion="All done with this question! Click continue to proceed."\n
  shuffle="rows"
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n  
  uses="cardrating.1">\n
  <title><<QUESTION_TEXT>></title>\n
{{  <row label="r<<STATEMENT_1_ID>>"><<STATEMENT_1_TEXT>></row>\n}}:STATEMENT_1_LIST
{{  <col label="c<<CHOICE_ID>>"  value="<<CHOICE_ID>>"[[ exclusive="1" randomize="0"]]:CHOICE_EXCLUSIVE_OPT[[ open="1" openSize="25" randomize="0"]]:CHOICE_OTHER_SPECIFY_OPT><<CHOICE_TEXT>></col>\n}}:CHOICE_LIST
  <style name="page.head"><![CDATA[\n
<STYLE>\n
  \@if MC.r1\n
  div.sq-cardrating-cardset{height:140px;}  \n
  .sq-cardrating-cards{height:120px!important;}  \n
  \@endif\n
</STYLE>\n
]]></style>\n
</radio>\n
<suspend/>\n
<exec>
if(MC.r1):
{{	<<QUESTION_ID>>.r<<STATEMENT_1_ID>>.val = <<QUESTION_ID>>MOB.r<<STATEMENT_1_ID>>    }}:STATEMENT_1_LIST
</exec>
<suspend/>\n
<<EXTRA_LOGIC>>