<radio label="<<QUESTION_ID>>"
[[\n       optional="1"]]:OPTIONAL 
[[\n       shuffle="rows"]]:STATEMENT_1_RANDOMIZE
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n
	   fir="off"\n
       uses="atm1d.9">\n
  <title><<QUESTION_TEXT>></title>\n
{{  <row label="r<<STATEMENT_1_ID>>"><<STATEMENT_1_TEXT>></row>\n}}:STATEMENT_1_LIST
{{  <col label="c<<CHOICE_ID>>"  value="<<CHOICE_ID>>"[[ exclusive="1" randomize="0"]]:CHOICE_DONT_KNOW[[ exclusive="1" randomize="0"]]:CHOICE_REFUSED[[ exclusive="1" randomize="0"]]:CHOICE_NONE[[ open="1" openSize="25" randomize="0"]]:CHOICE_OTHER><<CHOICE_TEXT>></col>\n}}:CHOICE_LIST
</radio>\n
<suspend/>\n
<<EXTRA_LOGIC>>

