<number label="<<QUESTION_ID>>"\n
        optional="0"
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n		
        size="10"\n
        verify="range(0,100)">\n
  <title><<QUESTION_TEXT>></title>\n
{{  <row label="r<<CHOICE_ID>>" ss:postText=""  ss:preText=""><<CHOICE_ID>></row>\n}}:CHOICE_LIST
</number>\n
<suspend/>\n
<<EXTRA_LOGIC>>
