<checkbox label="<<QUESTION_ID>>"
[[\n          optional="1"]]:OPTIONAL
[[\n          shuffle="rows"]]:STATEMENT_1_RANDOMIZE
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC>\n
  <title><<QUESTION_TEXT>></title>\n
{{  <row label="r<<STATEMENT_1_ID>>"><<STATEMENT_1_TEXT>></row>\n}}:STATEMENT_1_LIST
{{  <col label="c<<CHOICE_ID>>" [[ exclusive="1" randomize="0"]]:CHOICE_EXCLUSIVE_OPT[[ open="1" openSize="25" randomize="0"]]:CHOICE_OTHER_SPECIFY_OPT><<CHOICE_TEXT>></col>\n}}:CHOICE_LIST
</checkbox>\n
<suspend/>\n
<<EXTRA_LOGIC>>

