<number \n
  label="<<QUESTION_ID>>"\n
  logit_multislider:content="html"\n
  logit_multislider:maxAnswers=""\n
  logit_multislider:minAnswers=""\n
  logit_multislider:mobileFlipRatingLegends="1"\n
  logit_multislider:showScore="0"\n
  optional="0"\n
  size="10"
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n  
  uses="logit_multislider.1">\n
  <title><<QUESTION_TEXT>></title>\n
{{  <col label="c<<STATEMENT_1_ID>>"><<STATEMENT_1_TEXT>></col>\n}}:STATEMENT_1_LIST   
{{  <row label="p1r<<CHOICE_ID>>"><img class="survey_image surey-image-original fit" src="/survey/selfserve/53b/logo_001.png" alt="logo_001.png" title="logo_001.png" /> <span><<CHOICE_TEXT>></span></row>\n}}:CHOICE_LIST 
</number>\n
<suspend/>\n
<<EXTRA_LOGIC>>
