<style name="question.after"><![CDATA[\n
<style type="text/css">\n
.desktop-rating-legend {\n
   font-size: 14px;\n
}\n
enki.table, th, td {\n
  border: 1px solid black;\n
}\n
   </style>\n
]]></style>\n
<number \n
  label="<<QUESTION_ID>>"\n  
  optional="0"
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n  
  size="3"\n
  uses="logit_magnetslider.1">\n
  <title><<QUESTION_TEXT>></title>\n
  {{<row label="p1r<<CHOICE_ID>>"><img class="survey_image survey-image-original fit" src="/survey/selfserve/53b/logo_001.png" alt="logo_001.png" title="logo_001.png" /><span><<CHOICE_TEXT>></span></row>\n}}:CHOICE_LIST
</number>\n
<style name="question.after"><![CDATA[\n
<style type="text/css">\n
.logitmagnetslider-badge.MuiChip-root {\n
    height: 70px;\n
    width: 70px;\n
}\n
   </style>\n
]]></style>\n
<suspend/>\n
<<EXTRA_LOGIC>>




