<float label="<<QUESTION_ID>>"\n  
       ignoreValues="999"\n  
       optional="0"\n  
       range="-10,10"\n  
       size="10"
[[\n      cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC\n	   
       uses="sliderdecimal.3">\n  
  <title><<QUESTION_TEXT>></title>\n
</float>\n
<suspend/>\n
<<EXTRA_LOGIC>>
