 <block label="<<QUESTION_ID>>_BLOCK"[[ cond= "<<SKIP_LOGIC_TEXT>>"]]:SKIP_LOGIC>\n
<radio\n
  label="<<QUESTION_ID>>oe"\n
  optional="1"\n
  where="execute,survey,report">\n
  <title>To keep count of open end essay type question</title>\n
  <row label="r888" value="888">Answered</row>\n
  <row label="r2" value="2">Unanswered</row>\n
</radio>\n
\n
  <radio \n
   label="<<QUESTION_ID>>CP"\n
   fir="off"\n
   optional="1">\n
    <title>Detect if copy/pasting done?</title>\n
    <row label="r1" ss:rowClassNames="cpd">Done</row>\n
    <row label="r2">not Done</row>\n
    <style name="page.head"><![CDATA[\n
<style> \n
span.pbar { font-size: 1rem;font-style:normal; }\n
#question_${this.label},#question_${this.label} .qaTab {    \n
  \@if gv.hasQA(True) and gv.showCms()\n
    background-image: url(//logit.decipherinc.com/s/survey/images/bkg_paper.png);\n
    position:relative;\n
  \@else \n
    display:none;\n
  \@endif\n
}\n
</style>\n
<SCRIPT>\n
jQuery("document").ready(function(){\n
	jQuery("textarea,:text").on('paste', function(e) {\n
     //e.preventDefault();\n
     jQuery(".cpd").children().find(":radio").prop('checked',true);\n
     console.log("pasting done");\n
   });\n
});   \n
</SCRIPT>\n
]]></style>	\n
  </radio>\n

\n
<textarea\n
  label="<<QUESTION_ID>>"\n
  height="10"\n
  open="left"\n
  optional="0"\n
  width="50">\n
  <title><<QUESTION_TEXT>></title>  \n
  {{  <row label="r<<CHOICE_ID>>" value="<<CHOICE_ID>>"><<CHOICE_TEXT>></row>\n}}:CHOICE_LIST 
</textarea>\n
\n
</block>\n
<suspend/>\n
\n
<exec>\n
if(<<QUESTION_ID>>.empty and not(<<QUESTION_ID>>.r998)):\n
  <<QUESTION_ID>>oe.val=<<QUESTION_ID>>oe.r2.index\n
else:\n
  <<QUESTION_ID>>oe.val=<<QUESTION_ID>>oe.r888.index\n
</exec>\n
 \n
<suspend/>\n
<<EXTRA_LOGIC>>
